In [1]:
import json
from StringIO import StringIO
import pandas as pd
import openpyxl
import pandas as pd
import os
import numpy as np
import datetime
import csv

In [2]:
listings_events_2018_05_22_V1 = pd.read_csv('../Datasources/listings_events/listings_events_2018-05-22_V1.csv')

In [3]:
listings_events_2018_05_22_V1.head()

,listing_id,event_count_1km,event_count_3km,event_count_5km,event_count_10km,event_count_16km,closest_distance_of_events,event_id_of_closest_distance,event_title,event_id,event_type
0,5179392.0,34.0,94.0,343.0,2405.0,2555.0,0.977183,47883.0,UTC Farmer's Market (Every Thursday),47883,FARMERS
1,10340469.0,34.0,97.0,363.0,2411.0,2557.0,0.736589,47883.0,UTC Farmer's Market (Every Thursday),47883,FARMERS
2,7366806.0,37.0,93.0,366.0,2419.0,2557.0,0.638279,47883.0,UTC Farmer's Market (Every Thursday),47883,FARMERS
3,4965750.0,34.0,95.0,365.0,2414.0,2557.0,0.654214,47883.0,UTC Farmer's Market (Every Thursday),47883,FARMERS
4,1759554.0,34.0,103.0,378.0,2421.0,2555.0,0.564041,47883.0,UTC Farmer's Market (Every Thursday),47883,FARMERS

In [4]:
L = []

for w in listings_events_2018_05_22_V1['listing_id'].unique():
    a = len(listings_events_2018_05_22_V1[listings_events_2018_05_22_V1['listing_id'] == w])
    L.append((w, a))

In [6]:
def frame_to_list(x):
    L = []
    for w in x:
        L.append(w)
    return L

In [7]:
listings_events_2018_05_22_V1[['listing_id', 'event_title', 'event_id', 'event_type']].groupby(['listing_id', 'event_title'])['event_id'].apply(frame_to_list).head()

listing_id  event_title
6.0         The BLVD Market Summer Edition                                 [49527, 49526, 49525, 49524]
            The BLVD Monthly Market                   [47712, 47711, 47710, 47709, 47708, 47707, 477...
5570.0      Margarita 5K Run                                                             [49850, 48951]
9553.0      11th Annual CityBeat Festival of Beers                                              [50427]
            9th Annual City Beat Festival of Beers                                              [49272]
Name: event_id, dtype: object

In [8]:
len(listings_events_2018_05_22_V1[['listing_id', 'event_title', 'event_id', 'event_type']].groupby(['listing_id', 'event_title']))

9916

In [9]:
a = listings_events_2018_05_22_V1[['listing_id', 'event_title', 'event_id', 'event_type']].groupby(['listing_id', 'event_title'])['event_id'].apply(frame_to_list)

In [11]:
def frame_to_set(x):
    L = set()
    
    for w in x:
        L.add(w)
        
    return L

In [12]:
listings_events_2018_05_22_V1[['listing_id', 'event_title', 'event_id', 'event_type']].groupby(['listing_id', 'event_title'])['event_type'].apply(frame_to_set).head()

listing_id  event_title
6.0         The BLVD Market Summer Edition            {FESTIVAL}
            The BLVD Monthly Market                    {FARMERS}
5570.0      Margarita 5K Run                          {ATHLETIC}
9553.0      11th Annual CityBeat Festival of Beers    {FESTIVAL}
            9th Annual City Beat Festival of Beers    {FESTIVAL}
Name: event_type, dtype: object

In [13]:
def set_to_value(x):
    L = []
    
    for w in x:
        L.append(w)
        
    return L[0]

In [14]:
listings_events_2018_05_22_V1[['listing_id', 'event_title', 'event_id', 'event_type']].groupby(['listing_id', 'event_title'])['event_type'].apply(frame_to_set).apply(set_to_value).head()

listing_id  event_title
6.0         The BLVD Market Summer Edition            FESTIVAL
            The BLVD Monthly Market                    FARMERS
5570.0      Margarita 5K Run                          ATHLETIC
9553.0      11th Annual CityBeat Festival of Beers    FESTIVAL
            9th Annual City Beat Festival of Beers    FESTIVAL
Name: event_type, dtype: object

In [15]:
v = listings_events_2018_05_22_V1[['listing_id', 'event_title', 'event_id', 'event_type']].groupby(['listing_id', 'event_title'])['event_type'].apply(frame_to_set)

In [17]:
v.index.levels[1]

Index([u'10 Barrel Grand Opening Block Party', u'100 Wave Challenge',
       u'1056h Festa of the Holy Spirit (Parade)',
       u'106th Festa of the Holy Spirit (Procession)',
       u'107th Festa of the Holy Spirit (Parade)',
       u'107th Festa of the Holy Spirit (Procession)',
       u'108th Festa of the Holy Spirit (Parade)',
       u'108th Festa of the Holy Spirit (Procession)',
       u'10th Annual Gaslamp Holiday Pet Parade',
       u'10th Annual GranFondo San Diego Bike Ride',
       ...
       u'Van - Go!', u'Van Go! STEAM Festival and Derby', u'Voltaire Scare',
       u'Walk for Water', u'Walk for Water ', u'Walk to Cure Arthritis',
       u'Walk to Defeat ALS', u'Walk to End Alzheimer's ', u'Whistlestop Fest',
       u'Ye Scallywag!'],
      dtype='object', name=u'event_title', length=421)

In [19]:
v = listings_events_2018_05_22_V1[['listing_id', 'event_title', 'event_id', 'event_type']].groupby(['listing_id', 'event_title'])['event_type'].apply(frame_to_set).apply(set_to_value)

In [20]:
v.head()

listing_id  event_title
6.0         The BLVD Market Summer Edition            FESTIVAL
            The BLVD Monthly Market                    FARMERS
5570.0      Margarita 5K Run                          ATHLETIC
9553.0      11th Annual CityBeat Festival of Beers    FESTIVAL
            9th Annual City Beat Festival of Beers    FESTIVAL
Name: event_type, dtype: object

In [22]:
def get_zero(f):
    return f[0]

In [23]:
v.index.map(get_zero)

Float64Index([       6.0,        6.0,     5570.0,     9553.0,     9553.0,
                 38245.0,    39516.0,    45429.0,    54001.0,    62274.0,
              ...
              13881744.0, 13881744.0, 13881863.0, 13881863.0, 13882013.0,
              13882245.0, 13882335.0, 13882335.0, 13882606.0, 13882606.0],
             dtype='float64', length=9916)

In [24]:
b = pd.DataFrame()

In [25]:
b['listings_id'] = v.index.map(get_zero)

In [26]:
def get_one(f):
    return f[1]

In [27]:
b['event_title'] = v.index.map(get_one)

In [28]:
a.head()

listing_id  event_title
6.0         The BLVD Market Summer Edition                                 [49527, 49526, 49525, 49524]
            The BLVD Monthly Market                   [47712, 47711, 47710, 47709, 47708, 47707, 477...
5570.0      Margarita 5K Run                                                             [49850, 48951]
9553.0      11th Annual CityBeat Festival of Beers                                              [50427]
            9th Annual City Beat Festival of Beers                                              [49272]
Name: event_id, dtype: object

In [29]:
b = b.rename(columns = {'listings_id': 'listing_id'})

In [30]:
b.head()

   listing_id                             event_title
0         6.0          The BLVD Market Summer Edition
1         6.0                 The BLVD Monthly Market
2      5570.0                        Margarita 5K Run
3      9553.0  11th Annual CityBeat Festival of Beers
4      9553.0  9th Annual City Beat Festival of Beers

In [31]:
listings_events_2018_05_22_V1.groupby('listing_id')['event_id'].count().head()

listing_id
6.0        14
5570.0      2
9553.0      2
38245.0     1
39516.0     1
Name: event_id, dtype: int64

In [32]:
listings_events_2018_05_22_V1.head()

,listing_id,event_count_1km,event_count_3km,event_count_5km,event_count_10km,event_count_16km,closest_distance_of_events,event_id_of_closest_distance,event_title,event_id,event_type
0,5179392.0,34.0,94.0,343.0,2405.0,2555.0,0.977183,47883.0,UTC Farmer's Market (Every Thursday),47883,FARMERS
1,10340469.0,34.0,97.0,363.0,2411.0,2557.0,0.736589,47883.0,UTC Farmer's Market (Every Thursday),47883,FARMERS
2,7366806.0,37.0,93.0,366.0,2419.0,2557.0,0.638279,47883.0,UTC Farmer's Market (Every Thursday),47883,FARMERS
3,4965750.0,34.0,95.0,365.0,2414.0,2557.0,0.654214,47883.0,UTC Farmer's Market (Every Thursday),47883,FARMERS
4,1759554.0,34.0,103.0,378.0,2421.0,2555.0,0.564041,47883.0,UTC Farmer's Market (Every Thursday),47883,FARMERS

In [33]:
listings_events_2018_05_22_V1[['listing_id', 'event_count_1km', 'event_count_3km', 'event_count_5km', 'event_count_10km', 'event_count_16km', 'closest_distance_of_events']].drop_duplicates().head()

,listing_id,event_count_1km,event_count_3km,event_count_5km,event_count_10km,event_count_16km,closest_distance_of_events
0,5179392.0,34.0,94.0,343.0,2405.0,2555.0,0.977183
1,10340469.0,34.0,97.0,363.0,2411.0,2557.0,0.736589
2,7366806.0,37.0,93.0,366.0,2419.0,2557.0,0.638279
3,4965750.0,34.0,95.0,365.0,2414.0,2557.0,0.654214
4,1759554.0,34.0,103.0,378.0,2421.0,2555.0,0.564041

In [34]:
b = listings_events_2018_05_22_V1[['listing_id', 'event_count_1km', 'event_count_3km', 'event_count_5km', 'event_count_10km', 'event_count_16km', 'closest_distance_of_events']].drop_duplicates()

In [35]:
b.index = range(len(b))

In [36]:
b.head()

,listing_id,event_count_1km,event_count_3km,event_count_5km,event_count_10km,event_count_16km,closest_distance_of_events
0,5179392.0,34.0,94.0,343.0,2405.0,2555.0,0.977183
1,10340469.0,34.0,97.0,363.0,2411.0,2557.0,0.736589
2,7366806.0,37.0,93.0,366.0,2419.0,2557.0,0.638279
3,4965750.0,34.0,95.0,365.0,2414.0,2557.0,0.654214
4,1759554.0,34.0,103.0,378.0,2421.0,2555.0,0.564041

In [37]:
listings_events_2018_05_22_V1.groupby('listing_id')['event_id'].count().index

Float64Index([       6.0,     5570.0,     9553.0,    38245.0,    39516.0,
                 45429.0,    54001.0,    62274.0,    62949.0,    63285.0,
              ...
              13879772.0, 13879939.0, 13880019.0, 13881033.0, 13881744.0,
              13881863.0, 13882013.0, 13882245.0, 13882335.0, 13882606.0],
             dtype='float64', name=u'listing_id', length=6297)

In [38]:
c = pd.DataFrame(listings_events_2018_05_22_V1.groupby('listing_id')['event_id'].count())

In [39]:
b.merge(c, how = 'inner', left_on = 'listing_id', right_index = True).head()

,listing_id,event_count_1km,event_count_3km,event_count_5km,event_count_10km,event_count_16km,closest_distance_of_events,event_id
0,5179392.0,34.0,94.0,343.0,2405.0,2555.0,0.977183,34
1,10340469.0,34.0,97.0,363.0,2411.0,2557.0,0.736589,34
2,7366806.0,37.0,93.0,366.0,2419.0,2557.0,0.638279,34
3,4965750.0,34.0,95.0,365.0,2414.0,2557.0,0.654214,34
4,1759554.0,34.0,103.0,378.0,2421.0,2555.0,0.564041,34