### Python Built In Functions for Data Manipulation

##### Map Function

In [6]:
x = [i for i in x]
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
def cube(num):
    return num**3

In [8]:
for item in x:
    print(cube(item))

0
1
8
27
64
125
216
343
512
729

In [10]:
new = []
for i in x:
    new.append(cube(i))

In [11]:
new

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [12]:
?map

NB: before python 3, the map function used to return a list. In python 3 and above it returns an iterator, so we pass the iterator to the list method to output a list

In [18]:
out = map(cube,x)
#Python 3:
list(out)
#Python 2:
# >>out
# [i1, i2, ... in]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

Practice 1: create a map that transforms a list of integers into their square roots:

In [39]:
#Notice the function does not take a list but a single number as input
#it will be the map function's job to iterate through the list provided
def to_sq_rt(i):
    return i**(1/2)

In [40]:
out = map(to_sq_rt, x)

In [41]:
list(out)

[0.0,
 1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0]

In [43]:
list(map(to_sq_rt,new))

[0.0,
 1.0,
 2.8284271247461903,
 5.196152422706632,
 8.0,
 11.180339887498949,
 14.696938456699069,
 18.520259177452136,
 22.627416997969522,
 27.0]

Practice 2: create a map that transforms a list of floats into integers:

In [53]:
def fl_to_int(number):
    if type(number) == float:
        return int(number)

In [56]:
#checking this is a list of floats:
[print(type(i)) for i in list(map(to_sq_rt,new))]

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

[None, None, None, None, None, None, None, None, None, None]

In [57]:
#checking the map is working properly:
list(map(fl_to_int, list(map(to_sq_rt,new))))

[0, 1, 2, 5, 8, 11, 14, 18, 22, 27]

In [58]:
#checking the map is not working unless we input a list of floats:
#x is a list of integers:
list(map(fl_to_int, x))

[None, None, None, None, None, None, None, None, None, None]

In [60]:
#Alternative approach:
#inner map takes list and calculates sq roots, returns an iterator. Outer map takes iterator and maps it to int
list(map(int, map(to_sq_rt,x)))

[0, 1, 1, 1, 2, 2, 2, 2, 2, 3]

In [65]:
#same as:
list(map(int,list(map(to_sq_rt,x))))

[0, 1, 1, 1, 2, 2, 2, 2, 2, 3]

##### Filter Function

In [66]:
x = list(range(10))

In [68]:
def is_div_bytwo(num):
    return num % 2 == 0

In [70]:
list(map(is_div_bytwo, x))

[True, False, True, False, True, False, True, False, True, False]

In [71]:
?filter

In [73]:
#Only outputs numbers such that function returns true:
list(filter(is_div_bytwo,x))

[0, 2, 4, 6, 8]

In [74]:
test_list = ['abc', 'aabbcc', 'aaabc', 'bcd']

In [75]:
def has_letter_a(string):
    return "a" in string

In [77]:
#just testing the function:
has_letter_a("hello alabama")

True

In [79]:
list(map(has_letter_a, "hello alabama"))

[False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True]

In [81]:
list(filter(has_letter_a, "hello alabama"))

['a', 'a', 'a', 'a']

##### List Comprehension

In [83]:
#Simple LC:
x = [i for i in list(range(10))]

In [84]:
[i for i in x]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
[i**2 for i in x]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [86]:
[i for i in x if i % 2 != 0]

[1, 3, 5, 7, 9]

In [87]:
[i for i in x if i**3 != 100]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [88]:
#same as is divisible by two function created above:
[i for i in x if i % 2 == 0]

[0, 2, 4, 6, 8]

In [89]:
[float(i) for i in x]

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

In [90]:
#similar to map function
#use cube method created above:
[cube(i) for i in x]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

##### Lambda Functions

In [91]:
#lambda is anonymous function:
x = list(range(10))

In [92]:
[i**2 for i in x]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [93]:
square_lambda = lambda num: num**2

In [95]:
list(map(square_lambda, x))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [98]:
#useful to define anonymous functions inside map or similar function
#the anonymous function is discarded once map is done executing
list(map(lambda i: i**3, x))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

Practice: square every number that is divisible by 2 from 1 to 20

In [99]:
seq = list(range(20))

In [100]:
list(map(lambda i: i**2, [i for i in x if i % 2 == 0]))

[0, 4, 16, 36, 64]

Alternative Approaches

In [104]:
#produce a filtered iterator and feed that to lambda function inside map function:
list(map(lambda i: i**2, filter(lambda i: i%2==0, x)))

[0, 4, 16, 36, 64]

In [110]:
#use list comprehension to produce list of squared number, 
#and feed that as iterator to filter where only original list memebrs divisible by 2 are allowed
list(filter(lambda i: i%2 == 0, [i**2 for i in x]))

[0, 4, 16, 36, 64]

In [117]:
#just like above only we use map instead of list comprehension:
list(filter(lambda i: i%2==0, map(lambda i: i**2, x)))

[0, 4, 16, 36, 64]