More practice on sorting and ranking

In [1]:
import pandas as pd
import numpy as np

In [2]:
listings = pd.read_csv('listings.csv')

In [5]:
listings.set_index('id', inplace=True)

In [8]:
listings.head(3)

,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
11204286,https://www.airbnb.com/rooms/11204286,20160706203047,2016-07-07,Family friendly/California king,"Aquatica Waterpark, Sleep train Amphitheater, ...","Walking to Aquatica Waterpark, Sleep train Amp...","Aquatica Waterpark, Sleep train Amphitheater, ...",none,NaN,NaN,...,10.0,f,NaN,"SAN DIEGO, SAN DIEGO TOURISM MARKETING DISTRIC...",f,moderate,f,f,2,4.57
7972006,https://www.airbnb.com/rooms/7972006,20160706203047,2016-07-07,Welcome to Sunset Suite,Your spacious room awaiting is with a Queen Si...,NaN,Your spacious room awaiting is with a Queen Si...,none,Getting around is easy. Very close to Eastlake...,Park in Carport #385 at Camelot Condo.,...,10.0,f,NaN,NaN,f,strict,f,f,1,0.76
7727710,https://www.airbnb.com/rooms/7727710,20160706203047,2016-07-07,San Diego/Eastlake. Gated community,"This is an immaculate 3 bedroom, 2 1/2 bath co...",NaN,"This is an immaculate 3 bedroom, 2 1/2 bath co...",none,NaN,NaN,...,8.0,f,NaN,NaN,f,flexible,f,f,1,0.09

In [9]:
listings.sort_index().head(3)

,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
6,https://www.airbnb.com/rooms/6,20160706203047,2016-07-07,Heart of North Park ~ Large Craftsmen Home w/ ...,Our Beautiful Craftsmen house has all the mode...,"We are located in the heart of North Park, the...",Our Beautiful Craftsmen house has all the mode...,none,"We have the best Neighborhood in San Diego, in...",NaN,...,9.0,f,NaN,"SAN DIEGO, SAN DIEGO TOURISM MARKETING DISTRIC...",f,moderate,f,f,1,0.45
5570,https://www.airbnb.com/rooms/5570,20160706203047,2016-07-07,Ocean front condo on the sand,Missionbeachretreat. Great Ocean Front Condo...,This charming two bedroom beachfront condomini...,Missionbeachretreat. Great Ocean Front Condo...,none,While some may compare San Diego’s Mission Bea...,NaN,...,NaN,f,NaN,"SAN DIEGO, SAN DIEGO TOURISM MARKETING DISTRIC...",f,flexible,f,f,1,NaN
9553,https://www.airbnb.com/rooms/9553,20160706203047,2016-07-07,Private Master Suite (North Park 1),Private master bedroom & attached bathroom in ...,"Apartment - Shared, furnished apartment (Will ...",Private master bedroom & attached bathroom in ...,none,North Park was rated #13 by Forbes magazine as...,"The apartment is a two-bedroom, two-bathroom c...",...,10.0,f,NaN,"SAN DIEGO, SAN DIEGO TOURISM MARKETING DISTRIC...",f,super_strict_30,f,f,6,0.03

In [10]:
listings.sort_index(ascending=False).head(3)

,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
13882933,https://www.airbnb.com/rooms/13882933,20160706203047,2016-07-07,Cozy and Charming Private Studio.,This bright cozy Private Studio is perfect for...,It's Private Studio with affordable price,This bright cozy Private Studio is perfect for...,none,"It's very good neighborhood! Safe, quiet, fami...",NaN,...,NaN,f,NaN,"SAN DIEGO, SAN DIEGO TOURISM MARKETING DISTRIC...",f,flexible,f,f,1,NaN
13882606,https://www.airbnb.com/rooms/13882606,20160706203047,2016-07-07,Modern luxury Apartment downtown San Diego,My place is close to My place is located in th...,NaN,My place is close to My place is located in th...,none,NaN,NaN,...,NaN,f,NaN,"SAN DIEGO, SAN DIEGO TOURISM MARKETING DISTRIC...",f,strict,f,f,1,NaN
13882335,https://www.airbnb.com/rooms/13882335,20160706203047,2016-07-07,Private room and shared bathroom in cute craft...,"My place is close to Alexander's, Underbelly N...",NaN,"My place is close to Alexander's, Underbelly N...",none,NaN,NaN,...,NaN,f,NaN,"SAN DIEGO, SAN DIEGO TOURISM MARKETING DISTRIC...",f,flexible,f,f,2,NaN

In [11]:
#sorting on the columns:
listings.sort_index(axis=1).head()

,access,accommodates,amenities,availability_30,availability_365,availability_60,availability_90,bathrooms,bed_type,bedrooms,...,space,square_feet,state,street,summary,thumbnail_url,transit,weekly_price,xl_picture_url,zipcode
id,,,,,,,,,,,,,,,,,,,,,
11204286,NaN,2,"{TV,""Wireless Internet"",Heating,""Family/Kid Fr...",25,360,55,85,1.0,Real Bed,1.0,...,"Walking to Aquatica Waterpark, Sleep train Amp...",NaN,CA,"Vista Santo Tomas, San Diego, CA 92154, United...","Aquatica Waterpark, Sleep train Amphitheater, ...",https://a2.muscache.com/im/pictures/12cf03b4-7...,NaN,NaN,https://a2.muscache.com/im/pictures/12cf03b4-7...,92154.0
7972006,NaN,2,"{Internet,""Wireless Internet"",""Air Conditionin...",20,80,50,80,1.0,Real Bed,1.0,...,NaN,NaN,CA,"Brookstone Road, Chula Vista, CA 91913, United...",Your spacious room awaiting is with a Queen Si...,https://a2.muscache.com/im/pictures/106372476/...,Getting around is easy. Very close to Eastlake...,NaN,https://a2.muscache.com/im/pictures/106372476/...,91913.0
7727710,NaN,6,"{TV,""Cable TV"",""Wireless Internet"",""Air Condit...",0,0,0,0,2.5,Real Bed,3.0,...,NaN,NaN,CA,"Lago Ventana, Chula Vista, CA 91914, United St...","This is an immaculate 3 bedroom, 2 1/2 bath co...",https://a1.muscache.com/im/pictures/98227073/7...,NaN,$750.00,https://a1.muscache.com/im/pictures/98227073/7...,91914.0
13124681,Kitchen Washing machine and dryer Patio and ga...,4,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",0,329,27,54,1.5,Real Bed,2.0,...,"My place is good for couples, business travele...",NaN,CA,"Pinnacle Peak Drive, Chula Vista, CA 91915, Un...",This 2 Story TownHome is close to Otay Ranch ...,https://a2.muscache.com/im/pictures/2092fc74-f...,NaN,NaN,https://a2.muscache.com/im/pictures/2092fc74-f...,91915.0
3469225,"Living Rm, Dining Rm, Kitchen, Laundry Rm, 2 p...",2,"{TV,""Cable TV"",Internet,""Wireless Internet"",Po...",0,335,30,60,1.0,Real Bed,1.0,...,"Beautiful, quiet award-winning suburban neighb...",NaN,CA,"Rambling Vista Road, Chula Vista, CA 91915, Un...",Hello; we are offering a private secluded bedr...,https://a1.muscache.com/im/pictures/43847899/7...,"Sorry, no buses within 1.5 mile; plenty of str...",$500.00,https://a1.muscache.com/im/pictures/43847899/7...,91915.0

In [13]:
listings.sort_index(axis=1, ascending=False).head()

,zipcode,xl_picture_url,weekly_price,transit,thumbnail_url,summary,street,state,square_feet,space,...,bedrooms,bed_type,bathrooms,availability_90,availability_60,availability_365,availability_30,amenities,accommodates,access
id,,,,,,,,,,,,,,,,,,,,,
11204286,92154.0,https://a2.muscache.com/im/pictures/12cf03b4-7...,NaN,NaN,https://a2.muscache.com/im/pictures/12cf03b4-7...,"Aquatica Waterpark, Sleep train Amphitheater, ...","Vista Santo Tomas, San Diego, CA 92154, United...",CA,NaN,"Walking to Aquatica Waterpark, Sleep train Amp...",...,1.0,Real Bed,1.0,85,55,360,25,"{TV,""Wireless Internet"",Heating,""Family/Kid Fr...",2,NaN
7972006,91913.0,https://a2.muscache.com/im/pictures/106372476/...,NaN,Getting around is easy. Very close to Eastlake...,https://a2.muscache.com/im/pictures/106372476/...,Your spacious room awaiting is with a Queen Si...,"Brookstone Road, Chula Vista, CA 91913, United...",CA,NaN,NaN,...,1.0,Real Bed,1.0,80,50,80,20,"{Internet,""Wireless Internet"",""Air Conditionin...",2,NaN
7727710,91914.0,https://a1.muscache.com/im/pictures/98227073/7...,$750.00,NaN,https://a1.muscache.com/im/pictures/98227073/7...,"This is an immaculate 3 bedroom, 2 1/2 bath co...","Lago Ventana, Chula Vista, CA 91914, United St...",CA,NaN,NaN,...,3.0,Real Bed,2.5,0,0,0,0,"{TV,""Cable TV"",""Wireless Internet"",""Air Condit...",6,NaN
13124681,91915.0,https://a2.muscache.com/im/pictures/2092fc74-f...,NaN,NaN,https://a2.muscache.com/im/pictures/2092fc74-f...,This 2 Story TownHome is close to Otay Ranch ...,"Pinnacle Peak Drive, Chula Vista, CA 91915, Un...",CA,NaN,"My place is good for couples, business travele...",...,2.0,Real Bed,1.5,54,27,329,0,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,Kitchen Washing machine and dryer Patio and ga...
3469225,91915.0,https://a1.muscache.com/im/pictures/43847899/7...,$500.00,"Sorry, no buses within 1.5 mile; plenty of str...",https://a1.muscache.com/im/pictures/43847899/7...,Hello; we are offering a private secluded bedr...,"Rambling Vista Road, Chula Vista, CA 91915, Un...",CA,NaN,"Beautiful, quiet award-winning suburban neighb...",...,1.0,Real Bed,1.0,60,30,335,0,"{TV,""Cable TV"",Internet,""Wireless Internet"",Po...",2,"Living Rm, Dining Rm, Kitchen, Laundry Rm, 2 p..."

In [16]:
#sorting by values:
listings.index.sort_values()

Int64Index([       6,     5570,     9553,    14668,    37149,    38245,
               39516,    45429,    54001,    62274,
            ...
            13881033, 13881298, 13881474, 13881744, 13881863, 13882013,
            13882245, 13882335, 13882606, 13882933],
           dtype='int64', name=u'id', length=6608)

In [17]:
listings.zipcode.sort_values().head()

id
10908984    22204.0
13131810    91901.0
13136539    91901.0
13137165    91901.0
13136775    91901.0
Name: zipcode, dtype: float64

In [19]:
listings.zipcode.sort_values(ascending=False).head()

id
7004554     92173.0
5846098     92173.0
11825052    92173.0
7226946     92173.0
10973934    92173.0
Name: zipcode, dtype: float64

In [21]:
listings.dtypes

listing_url                          object
scrape_id                             int64
last_scraped                         object
name                                 object
summary                              object
space                                object
description                          object
experiences_offered                  object
neighborhood_overview                object
notes                                object
transit                              object
access                               object
interaction                          object
house_rules                          object
thumbnail_url                        object
medium_url                           object
picture_url                          object
xl_picture_url                       object
host_id                               int64
host_url                             object
host_name                            object
host_since                           object
host_location                        object
host_about                           object
host_response_time                   object
host_response_rate                   object
host_acceptance_rate                 object
host_is_superhost                    object
host_thumbnail_url                   object
host_picture_url                     object
                                     ...
guests_included                       int64
extra_people                         object
minimum_nights                        int64
maximum_nights                        int64
calendar_updated                     object
has_availability                    float64
availability_30                       int64
availability_60                       int64
availability_90                       int64
availability_365                      int64
calendar_last_scraped                object
number_of_reviews                     int64
first_review                         object
last_review                          object
review_scores_rating                float64
review_scores_accuracy              float64
review_scores_cleanliness           float64
review_scores_checkin               float64
review_scores_communication         float64
review_scores_location              float64
review_scores_value                 float64
requires_license                     object
license                             float64
jurisdiction_names                   object
instant_bookable                     object
cancellation_policy                  object
require_guest_profile_picture        object
require_guest_phone_verification     object
calculated_host_listings_count        int64
reviews_per_month                   float64
Length: 94, dtype: object

In [22]:
#sorting on more than one column:
listings[['number_of_reviews', 
          'review_scores_rating', 
          'review_scores_accuracy']].sort_values(ascending=[False,True],
                                                by=['number_of_reviews',
                                                    'review_scores_rating']).head()

         number_of_reviews  review_scores_rating  review_scores_accuracy
id
204718                 367                  93.0                     9.0
62274                  299                  96.0                    10.0
1083576                287                  97.0                     9.0
616718                 283                  92.0                     9.0
587443                 269                  91.0                     9.0

In [25]:
#the rank method returns an index that rearranges values relative to the series:
listings.number_of_reviews.rank()

id
11204286    4234.0
7972006     4234.0
7727710     2396.5
13124681    3339.5
3469225     1009.5
877473      5459.0
3124507     4380.0
3432507     2396.5
3249729     2979.5
11756336    2979.5
12173670    2396.5
13157364    1009.5
9756570     2979.5
10687910    4829.0
7938260     5423.5
10779932    4516.0
13301630    2979.5
5285136     3882.0
13313236    1009.5
7663518     4630.5
5077385     4912.0
7113838     2396.5
8555262     3629.5
13472856    1009.5
4997701     3629.5
6098460     4630.5
13562988    2979.5
10284248    1009.5
13693167    2396.5
12988363    2396.5
             ...
13765978    1009.5
13637335    1009.5
7462953     1009.5
13816897    1009.5
181308      6506.5
12485414    1009.5
13710734    1009.5
13868104    1009.5
13526039    2396.5
13689250    1009.5
13495353    2396.5
10328997    4984.5
9710574     2396.5
13448725    1009.5
13864897    1009.5
13859950    1009.5
11375621    1009.5
13443354    1009.5
13670544    1009.5
8271640     4829.0
13411765    3882.0
13377361    1009.5
13466129    1009.5
4698549     3629.5
10908984    3339.5
13733446    1009.5
11990520    3339.5
13358607    1009.5
9147128     4984.5
13452448    1009.5
Name: number_of_reviews, Length: 6608, dtype: float64

In [31]:
listings[['number_of_reviews']].rank(axis=1).head()

          number_of_reviews
id
11204286                1.0
7972006                 1.0
7727710                 1.0
13124681                1.0
3469225                 1.0

In [38]:
#notice ties are handled by default by setting them to the lowest rank possible
pd.Series([1,1,1,4,5,6]).rank()

0    2.0
1    2.0
2    2.0
3    4.0
4    5.0
5    6.0
dtype: float64

In [39]:
#however you can pass the method argument to decide how to handle ties
pd.Series([1,1,1,4,5,6]).rank(method='min')

0    1.0
1    1.0
2    1.0
3    4.0
4    5.0
5    6.0
dtype: float64

In [40]:
#however you can pass the method argument to decide how to handle ties
pd.Series([1,1,1,4,5,6]).rank(method='first')

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

In [44]:
#notice we changed the series elements this time:
pd.Series([1,2,2,4,4,1,1]).rank(method='max')

0    3.0
1    5.0
2    5.0
3    7.0
4    7.0
5    3.0
6    3.0
dtype: float64

In [45]:
#Calling the DataFrame's rank method results in the ranks of all columns:
listings[['number_of_reviews', 
          'review_scores_rating', 
          'review_scores_accuracy']].rank(ascending=False).head()

          number_of_reviews  review_scores_rating  review_scores_accuracy
id
11204286             2375.0                 703.5                  1591.5
7972006              2375.0                 703.5                  1591.5
7727710              4212.5                4259.5                  4253.0
13124681             3269.5                 703.5                  1591.5
3469225              5599.5                   NaN                     NaN