## Master Business Listings (San Diego - 2016)

Project Scope: visualize active San Diego Businesses (2016) and derive useful insights

##### Machine Learning Task: Data Visualization

- Instances: 61932
- Attributes: 14

Source: https://www.sandiego.gov/treasurer/taxesfees/btax/nblactive

#### Attribute Information:
    
    - Business Acct#
    - DBA name
    - Ownership type
    - Address
    - City
    - Zip
    - State
    - Business phone
    - Owner name
    - Creation date
    - Start date
    - Exp date
    - NAICS
    - Activity description

In [1]:
import pandas as pd

In [6]:
df_ak = pd.read_csv('data/tr_active1.csv')
df_lz = pd.read_csv('data/tr_active2.csv')

In [8]:
#merging the two datasets into one
df = pd.concat([df_ak, df_lz], axis=0)

In [10]:
df.head()

,BUSINESS ACCT#,DBA NAME,OWNERSHIP TYPE,ADDRESS,CITY,ZIP,STATE,BUSINESS PHONE,OWNER NAME,CREATION DT,START DT,EXP DT,NAICS,ACTIVITY DESC
0,1981012901,#1 FIFTH AVENUE,CORP,3845 05TH AVE,SAN DIEGO,92103-3140,CA,NaN,PUBWAY CORP,12/09/1981,12/09/1981,11/30/2019,722,FOOD SERVICES & DRINKING PLACES
1,2010034224,% NATURAL GOMEZ,SOLE,4356 POPLAR ST,SAN DIEGO,92105-4657,CA,(619) 417-0105,JUANA GOMEZ,11/12/2010,11/12/2010,11/30/2019,446199,ALL OTHER HEALTH & PERSONAL CARE STORES
2,2015046247,& SALLY J FERNANDEZ,SOLE,17471 PLAZA CERADO SUITE 98,SAN DIEGO,92128-2285,CA,NaN,JAIME V FERNANDEZ,10/29/2015,01/01/2014,12/31/2018,541219,OTHER ACCOUNTING SERVICES
3,2018011836,(W)RIGHT ON COMMUNICATIONS INC,SCORP,1200 PROSPECT ST SUITE G100,LA JOLLA,92037-3608,CA,(858) 866-7900,(W)RIGHT ON COMMUNICATIONS INC,06/22/2018,06/01/2018,05/31/2019,54182,PUBLIC RELATIONS AGENCIES
4,2007016185,+A PARTNERS,CORP,3916 NORMAL ST,SAN DIEGO,92103-3413,CA,(619) 294-4477,+A PARTNERS,07/11/2007,07/01/2004,06/30/2019,531,REAL ESTATE