In [1]:
import pandas as pd

In [4]:
subregion = pd.read_csv('workshop-2-ds-foundations-jupyter-numpy/subregion.csv')

In [5]:
subregion.describe()

,id,trans_amt,config_id,longitude,latitude
count,4.781380e+05,478138.000000,478138.000000,478138.000000,478138.000000
mean,5.069696e+06,131.692622,10706.506900,-117.167804,32.718106
std,2.888491e+06,107.469381,2148.372664,0.000873,0.002060
min,7.900000e+01,5.000000,9000.000000,-117.169281,32.713485
25%,2.585790e+06,35.000000,9000.000000,-117.168390,32.717181
50%,5.051555e+06,125.000000,9000.000000,-117.167687,32.718129
75%,7.555926e+06,225.000000,13180.000000,-117.167307,32.719877
max,1.011175e+07,685.000000,14761.000000,-117.166069,32.720930

In [6]:
subregion.dtypes

id                int64
uuid             object
pole_id          object
meter_type       object
trans_amt       float64
pay_method       object
trans_start      object
meter_expire     object
zone             object
area             object
sub_area         object
config_id         int64
config_name      object
longitude       float64
latitude        float64
dtype: object