### Faker Test

Test creating realistic customer data with the faker library. All personal info is completely made up by the library.

In [2]:
from faker import Faker

In [45]:
from faker.providers import ssn
from faker.providers import address
from faker.providers import company
from faker.providers import credit_card
from faker.providers import phone_number
from faker.providers import misc
from faker.providers import profile
from faker.providers import python
from faker.providers import automotive
from faker.providers import bank
from faker.providers import barcode
from faker.providers import color
from faker.providers import currency
from faker.providers import date_time
from faker.providers import file
from faker.providers import geo
from faker.providers import internet
from faker.providers import isbn
from faker.providers import job
from faker.providers import lorem
from faker.providers import user_agent

In [46]:
fake = Faker()

In [47]:
fake.name()

'Ashlee Johnston'

In [48]:
for i in range(10):
    print(fake.name())

David Eaton
Randall Bruce
Samuel Williams
Benjamin Padilla
Danielle Taylor
Jenna Payne
Tyrone Novak
Brandon Collins
Troy Richardson
Robert Hubbard

### Faker Providers
- faker.providers.address
- faker.providers.automotive
- faker.providers.bank
- faker.providers.barcode
- faker.providers.color
- faker.providers.company
- faker.providers.credit_card
- faker.providers.currency
- faker.providers.date_time
- faker.providers.file
- faker.providers.geo
- faker.providers.internet
- faker.providers.isbn
- faker.providers.job
- faker.providers.lorem
- faker.providers.misc
- faker.providers.person
- faker.providers.phone_number
- faker.providers.profile
- faker.providers.python
- faker.providers.ssn
- faker.providers.user_agent

In [49]:
name = []
address = []
phone_number = []
ssn = []

In [51]:
fake.add_provider(ssn)
fake.add_provider(address)
fake.add_provider(company)
fake.add_provider(credit_card)
fake.add_provider(phone_number)
fake.add_provider(misc)
fake.add_provider(profile)
fake.add_provider(internet)

fake.add_provider(automotive)
fake.add_provider(bank)
fake.add_provider(barcode)
fake.add_provider(color)
fake.add_provider(currency)
fake.add_provider(date_time)
fake.add_provider(file)
fake.add_provider(geo)

fake.add_provider(isbn)
fake.add_provider(job)
fake.add_provider(lorem)
fake.add_provider(user_agent)

In [56]:
fake.currency()

('BRL', 'Brazilian real')

In [57]:
fake.date_time()

datetime.datetime(2006, 1, 19, 21, 32, 31)

In [61]:
fake.job()

'Games developer'

In [64]:
fake.user_agent()

'Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 5.2; Trident/4.0)'

In [24]:
fake.ssn()

'330-66-8664'

In [27]:
fake.address()

'901 White Island\nMarshhaven, FL 34780'

In [28]:
fake.company()

'Rose and Sons'

In [31]:
fake.phone_number()

'965.532.3765x87475'

In [33]:
fake.profile()

{'job': 'Chartered certified accountant',
 'company': 'Lopez, Montgomery and Bonilla',
 'ssn': '292-91-8919',
 'residence': 'PSC 5016, Box 4095\nAPO AA 82059',
 'current_location': (Decimal('54.307243'), Decimal('27.371334')),
 'blood_group': 'B+',
 'website': ['https://www.wilson.com/'],
 'username': 'molinamelody',
 'name': 'Angela Parks',
 'sex': 'F',
 'address': '945 Annette Hills\nBauerside, MD 33633',
 'mail': 'millermason@yahoo.com',
 'birthdate': datetime.date(2009, 7, 29)}

In [39]:
import pandas as pd

In [67]:
profiles = []
phone_numbers = []

for i in range(1000):
    profiles.append(fake.profile())
    phone_numbers.append(fake.phone_number())

profiles = pd.DataFrame(profiles)
profiles['phone_number'] = phone_numbers

In [68]:
profiles.head()

,address,birthdate,blood_group,company,current_location,job,mail,name,residence,sex,ssn,username,website,phone_number
0,"7054 William Vista\nReillyton, ID 38292",1938-11-17,B-,Williams Ltd,"(-42.3492215, -82.101956)",Education administrator,patricia52@yahoo.com,Debra Hatfield,"386 Williams Drives Apt. 916\nPhiliptown, IL 2...",F,372-06-8163,luke24,[http://www.farmer.com/],613-302-0500x428
1,"8800 Wilson Radial\nWest Denisefurt, IL 47337",2017-05-04,AB-,"Becker, Rodriguez and Foster","(-11.8507295, 1.870122)",Commercial/residential surveyor,monica37@gmail.com,Terry Haas,"11551 Angela Stream\nHowardstad, PA 02674",M,646-75-3060,pfrederick,"[https://www.richardson-delgado.info/, https:/...",789.925.3826x25830
2,"45916 Gonzalez Trail\nMarvinborough, VT 98752",2001-12-01,A+,Atkins Ltd,"(-1.447314, -30.742583)",Magazine journalist,martin85@yahoo.com,Scott Wolfe,"403 Riley Springs\nAndrewsport, OH 57592",M,223-39-2497,whitney89,"[http://lamb.com/, http://www.rodriguez.info/]",260.745.9162
3,USS Bryan\nFPO AA 34121,1923-07-08,A-,"Moore, Gonzalez and Miller","(-82.827245, 162.479012)",Dance movement psychotherapist,jellis@hotmail.com,Janet Weaver,"56501 Burke Brook Apt. 013\nJoshuatown, NE 82309",F,321-57-7620,barnesmorgan,[http://www.shelton.com/],7417409394
4,"419 Mitchell Cliff Apt. 655\nEdwardsmouth, HI ...",1964-09-10,O-,Bishop and Sons,"(65.267070, -61.228618)",Surgeon,laurie56@gmail.com,Catherine Bennett,"6394 Pratt Cape Apt. 845\nEast Brandonland, AZ...",F,317-53-6266,qlindsey,"[http://www.huber.info/, https://www.morgan.org/]",122.368.5778x581