In [1]:
import pandas as pd
import os

In [2]:
import sklearn as sk
from sklearn.linear_model import MultiTaskLasso, MultiTaskElasticNet, ElasticNet

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
import sklearn.metrics as skmet

In [5]:
import numpy as np

In [6]:
os.listdir("inside_airbnb")

['neighbourhoods.geo.json',
 'reviews.csv',
 '.DS_Store',
 'neighbourhoods.geojson',
 'listings_summ.csv',
 'neighbourhoods.csv',
 'stations.geojson',
 'listings.csv',
 'calendar.csv',
 'reviews_summ.csv',
 'neighbourhoods.json']

In [7]:
listings = pd.read_csv('inside_airbnb/listings.csv')
list_summ = pd.read_csv('inside_airbnb/listings_summ.csv')
neighborhoods = pd.read_csv('inside_airbnb/neighbourhoods.csv')
reviews = pd.read_csv('inside_airbnb/reviews.csv')
reviews_summ = pd.read_csv('inside_airbnb/reviews_summ.csv')
calendar = pd.read_csv('inside_airbnb/calendar.csv')

In [8]:
listings.columns

Index([u'id', u'listing_url', u'scrape_id', u'last_scraped', u'name',
       u'summary', u'space', u'description', u'experiences_offered',
       u'neighborhood_overview', u'notes', u'transit', u'access',
       u'interaction', u'house_rules', u'thumbnail_url', u'medium_url',
       u'picture_url', u'xl_picture_url', u'host_id', u'host_url',
       u'host_name', u'host_since', u'host_location', u'host_about',
       u'host_response_time', u'host_response_rate', u'host_acceptance_rate',
       u'host_is_superhost', u'host_thumbnail_url', u'host_picture_url',
       u'host_neighbourhood', u'host_listings_count',
       u'host_total_listings_count', u'host_verifications',
       u'host_has_profile_pic', u'host_identity_verified', u'street',
       u'neighbourhood', u'neighbourhood_cleansed',
       u'neighbourhood_group_cleansed', u'city', u'state', u'zipcode',
       u'market', u'smart_location', u'country_code', u'country', u'latitude',
       u'longitude', u'is_location_exact', u'property_type', u'room_type',
       u'accommodates', u'bathrooms', u'bedrooms', u'beds', u'bed_type',
       u'amenities', u'square_feet', u'price', u'weekly_price',
       u'monthly_price', u'security_deposit', u'cleaning_fee',
       u'guests_included', u'extra_people', u'minimum_nights',
       u'maximum_nights', u'calendar_updated', u'has_availability',
       u'availability_30', u'availability_60', u'availability_90',
       u'availability_365', u'calendar_last_scraped', u'number_of_reviews',
       u'first_review', u'last_review', u'review_scores_rating',
       u'review_scores_accuracy', u'review_scores_cleanliness',
       u'review_scores_checkin', u'review_scores_communication',
       u'review_scores_location', u'review_scores_value', u'requires_license',
       u'license', u'jurisdiction_names', u'instant_bookable',
       u'cancellation_policy', u'require_guest_profile_picture',
       u'require_guest_phone_verification', u'calculated_host_listings_count',
       u'reviews_per_month'],
      dtype='object')

In [9]:
listings = listings.loc[(listings.zipcode==92101) & (listings.room_type == 'Entire home/apt')]

In [10]:
calendar['price'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')

In [11]:
calendar['price'] = pd.to_numeric(calendar['price'], errors='coerce')

In [12]:
calendar['price'] = calendar['price']/100

In [13]:
def group_mean(x):
    x['mean_price'] = x['price'].mean()
    return x

In [14]:
fr = calendar.groupby(calendar.listing_id).apply(group_mean)

In [15]:
fr = fr.loc[fr.available!='t']

In [16]:
frame = fr[['listing_id','mean_price']].groupby(['listing_id']).sum()

In [17]:
merged = listings.merge(frame, how='inner', left_on='id', right_index=True)

In [18]:
merged.rename(columns={'mean_price':'estimated_tot_income'}, inplace=True)

In [19]:
merged['estimated_tot_income'] = merged['estimated_tot_income'].apply(lambda x: x*0.75)

In [20]:
cols = ['id','bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet','review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'estimated_tot_income']

In [21]:
merged[cols].sort_values(['estimated_tot_income'], ascending=False).head(3)

,id,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,estimated_tot_income
5731,6869868,3.0,2.0,3.0,Real Bed,"{TV,""Cable TV"",Internet,""Air Conditioning"",Kit...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,599062.50000
1285,6275771,2.0,1.0,2.0,Real Bed,"{TV,Internet,""Wireless Internet"",""Air Conditio...",NaN,10.0,10.0,10.0,10.0,10.0,10.0,351000.00000
5723,13298618,3.0,3.0,5.0,Real Bed,"{TV,""Wireless Internet"",""Air Conditioning"",Kit...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,341978.04878

In [22]:
calendar.loc[(calendar.listing_id == 6869868) & (calendar.available!='t')].count()

listing_id    355
date          355
available     355
price           0
dtype: int64

In [23]:
#The neighborhoods in San Diego that AirBNB works with
listings['neighbourhood'].unique()

array(['Cortez', 'Core-Columbia', 'Marina', 'Little Italy', 'Harborview',
       nan, 'East Village', 'Park West', 'Gaslamp', 'Petco Park',
       'Horton Plaza', 'Sherman Heights', 'Midway District', 'Midtown'], dtype=object)

In [24]:
list_summ['neighbourhood'].unique()

array(['Amphitheater And Water Park', 'East Lake', 'Eastlake Trails',
       'Eastlake Vistas', 'Estlake Greens', 'Lynwood Hills', 'Otay Ranch',
       'Northwest', 'Yosemite Dr', 'Allied Gardens', 'Paseo Ranchoero',
       'Rancho Del Rey', 'Rolling Hills Ranch', 'Alta Vista',
       'Balboa Park', 'Southwest', 'Sunbow', 'Terra Nova',
       'Thomy Locust Pl', 'Bario Logan', 'Bay Ho', 'Bay Park',
       'Bay Terrace', 'Bird Land', 'Carmel Mountain', 'Carmel Valley',
       'Chollas View', 'City Heights East', 'City Heights West',
       'Clairemont Mesa', 'College Area', 'Columbia', 'Core',
       'Cortez Hill', 'Darnall', 'Del Cerro', 'Marina', 'Del Mar Heights',
       'East Village', 'Egger Highlands', 'El Cerritos', 'Memorial',
       'Encanto', 'Gaslamp Quarter', 'Gateway', 'Grant Hill', 'Grantville',
       'Horton Plaza', 'Jomacha-Lomita', 'Kearny Mesa', 'Kensington',
       'Midtown', 'Moreno Mission', 'La Jolla', 'La Jolla Village',
       'Lake Murray', 'Lincoln Park', 'Linda Vista', 'Little Italy',
       'Loma Portal', 'Midtown District', 'Mira Mesa', 'Mission Bay',
       'Mission Valley', 'Mount Hope', 'Mountain View', 'Nestor',
       'Normal Heights', 'North City', 'North Clairemont', 'North Hills',
       'Oak Park', 'Ocean Beach', 'Old Town', 'Pacific Beach', 'Palm City',
       'Paradise Hills', 'Park West', 'Rancho Bernadino',
       'Rancho Penasquitos', 'Rolando', 'Roseville', 'Sabre Springs',
       'San Carlos', 'San Ysidro', 'Scripps Ranch', 'Serra Mesa',
       'Sky Line', 'Sorrento Valley', 'South Park', 'Southcrest',
       'Talmadge', 'Tierrasanta', 'Tijuana River Valley', 'Torrey Pines',
       'University City', 'Valencia Park', 'Webster',
       'West University Heights', 'Wooded Area'], dtype=object)

In [25]:
L = []
for w in list_summ['neighbourhood'].unique():
    L.append((w, list_summ[list_summ['neighbourhood'] == w]['price'].mean()))
    
L = sorted(L, key = lambda x: x[1], reverse = True)

for w in L:
    print w

('La Jolla', 478.50506756756755)
('Wooded Area', 454.56)
('North City', 393.95999999999998)
('Columbia', 311.3125)
('Torrey Pines', 308.23076923076923)
('Del Mar Heights', 300.77464788732397)
('Mission Bay', 287.51837769328262)
('Midtown District', 287.24489795918367)
('Rancho Del Rey', 267.57142857142856)
('Little Italy', 249.70526315789473)
('Rancho Bernadino', 241.02500000000001)
('San Ysidro', 240.83333333333334)
('San Carlos', 238.20689655172413)
('Horton Plaza', 235.0)
('Gaslamp Quarter', 234.0)
('Carmel Valley', 221.86567164179104)
('Roseville', 221.31147540983608)
('Ocean Beach', 210.64102564102564)
('Cortez Hill', 208.89743589743588)
('Core', 206.1081081081081)
('Del Cerro', 198.72727272727272)
('East Village', 198.34545454545454)
('Rancho Penasquitos', 196.09090909090909)
('Kensington', 194.09090909090909)
('Old Town', 193.28099173553719)
('Park West', 192.15686274509804)
('Pacific Beach', 192.01536098310291)
('Lynwood Hills', 188.0)
('Midtown', 173.12025316455697)
('Grant Hill', 171.56756756756758)
('Marina', 169.94680851063831)
('Bay Park', 169.07228915662651)
('Allied Gardens', 165.875)
('Rolling Hills Ranch', 163.66666666666666)
('Sorrento Valley', 162.9047619047619)
('Kearny Mesa', 162.8235294117647)
('Talmadge', 161.76190476190476)
('West University Heights', 155.8125)
('Loma Portal', 154.48557692307693)
('Linda Vista', 153.03125)
('Lake Murray', 151.11111111111111)
('Estlake Greens', 150.33333333333334)
('Balboa Park', 149.03940886699507)
('Mission Valley', 143.44444444444446)
('Moreno Mission', 141.93650793650792)
('La Jolla Village', 138.72727272727272)
('Tierrasanta', 137.8235294117647)
('Tijuana River Valley', 136.66666666666666)
('Gateway', 136.375)
('North Hills', 136.26249999999999)
('Bario Logan', 135.0)
('Scripps Ranch', 132.88888888888889)
('Northwest', 132.58536585365854)
('Southwest', 129.76923076923077)
('Bay Ho', 129.23529411764707)
('South Park', 129.02857142857144)
('Serra Mesa', 125.85964912280701)
('Bird Land', 124.46153846153847)
('Carmel Mountain', 121.625)
('Paseo Ranchoero', 121.5)
('Eastlake Trails', 120.0)
('Memorial', 116.5)
('Rolando', 114.35294117647059)
('Paradise Hills', 112.94117647058823)
('Normal Heights', 112.47058823529412)
('Otay Ranch', 111.0)
('College Area', 110.09836065573771)
('University City', 106.16666666666667)
('Oak Park', 105.23076923076923)
('East Lake', 104.5)
('Sabre Springs', 103.66666666666667)
('Darnall', 103.57142857142857)
('City Heights West', 102.54237288135593)
('Bay Terrace', 98.375)
('Clairemont Mesa', 97.773195876288653)
('Eastlake Vistas', 94.0)
('Egger Highlands', 94.0)
('Grantville', 92.333333333333329)
('Sunbow', 86.5)
('Webster', 85.666666666666671)
('Encanto', 85.0)
('Valencia Park', 85.0)
('North Clairemont', 81.976744186046517)
('Terra Nova', 80.0)
('Mira Mesa', 79.059701492537314)
('Mount Hope', 77.090909090909093)
('Southcrest', 72.5)
('Mountain View', 72.111111111111114)
('City Heights East', 65.642857142857139)
('Sky Line', 65.25)
('Thomy Locust Pl', 65.0)
('El Cerritos', 62.875)
('Palm City', 60.399999999999999)
('Alta Vista', 60.0)
('Yosemite Dr', 59.0)
('Chollas View', 57.333333333333336)
('Amphitheater And Water Park', 49.0)
('Nestor', 46.25)
('Jomacha-Lomita', 44.5)
('Lincoln Park', 40.0)

In [26]:
listings['amenities'].head(4)

226    {TV,"Cable TV",Internet,"Wireless Internet","A...
781    {TV,"Cable TV",Internet,"Wireless Internet","A...
783    {"Air Conditioning","Family/Kid Friendly",Wash...
784    {TV,"Cable TV",Internet,"Wireless Internet","A...
Name: amenities, dtype: object

In [27]:
list_summ.columns

Index([u'id', u'name', u'host_id', u'host_name', u'neighbourhood_group',
       u'neighbourhood', u'latitude', u'longitude', u'room_type', u'price',
       u'minimum_nights', u'number_of_reviews', u'last_review',
       u'reviews_per_month', u'calculated_host_listings_count',
       u'availability_365'],
      dtype='object')

In [28]:
listings['has_availability'].unique()

array([ nan])

In [29]:
listings['availability_30'].head(3)

226    0
781    0
783    0
Name: availability_30, dtype: int64

In [30]:
sorted(listings['availability_30'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [31]:
sorted(listings['availability_60'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60]

In [32]:
sorted(listings['availability_90'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90]

In [33]:
sorted(listings['availability_365'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 25,
 27,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 48,
 49,
 50,
 51,
 52,
 53,
 55,
 56,
 57,
 58,
 63,
 66,
 67,
 68,
 69,
 71,
 72,
 73,
 74,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 96,
 99,
 101,
 103,
 105,
 106,
 112,
 116,
 117,
 120,
 122,
 123,
 128,
 131,
 133,
 135,
 137,
 138,
 140,
 141,
 144,
 145,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 156,
 157,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 167,
 173,
 178,
 179,
 186,
 190,
 191,
 192,
 199,
 200,
 204,
 206,
 208,
 211,
 212,
 215,
 219,
 220,
 221,
 224,
 225,
 226,
 227,
 228,
 229,
 232,
 233,
 234,
 236,
 237,
 250,
 251,
 253,
 259,
 260,
 263,
 264,
 265,
 266,
 268,
 270,
 271,
 274,
 275,
 276,
 277,
 279,
 280,
 281,
 284,
 285,
 288,
 290,
 292,
 293,
 294,
 296,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365]

In [34]:
calendar.head(3)

   listing_id        date available  price
0    11204286  2017-07-05         t   49.0
1    11204286  2017-07-04         t   49.0
2    11204286  2017-07-03         t   49.0

In [35]:
calendar['available'].unique()

array(['t', 'f'], dtype=object)

In [36]:
reviews.head(3)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,4796400,32687022,2015-05-20,29916246,Bill,"Jeff, we cannot thank you enough for your hosp..."
1,4796400,33062004,2015-05-25,3547281,Christina,"The location was amazing, we were able to chea..."
2,4796400,41311067,2015-08-07,16458913,Naif,I would like to thank Jeff for his great hospi...

In [37]:
reviews_summ.head(3)

   listing_id        date
0     4796400  2015-05-20
1     4796400  2015-05-25
2     4796400  2015-08-07

In [38]:
neighborhoods.head(3)

   neighbourhood_group                neighbourhood
0                  NaN               Allied Gardens
1                  NaN                   Alta Vista
2                  NaN  Amphitheater And Water Park

In [39]:
calendar['price'].unique()

array([   49.,    nan,    59., ...,   991.,  2240.,  1854.])

In [40]:
merged.head(3)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,estimated_tot_income
226,6902290,https://www.airbnb.com/rooms/6902290,20160706203047,2016-07-07,Comic Con! Two Bedroom Condo,"2-Bedroom Condo in Cortez Hill, downtown San D...",NaN,"2-Bedroom Condo in Cortez Hill, downtown San D...",none,NaN,...,f,NaN,"SAN DIEGO, SAN DIEGO TOURISM MARKETING DISTRIC...",f,strict,f,f,2,0.08,NaN
781,6899514,https://www.airbnb.com/rooms/6899514,20160706203047,2016-07-07,Spectacular Views Little Italy,Walk to the San Diego night life. Awesome rest...,Decorated with high end furniture; spectacular...,Walk to the San Diego night life. Awesome rest...,none,Awesome restaurants; spectacular views; alive ...,...,f,NaN,"SAN DIEGO, SAN DIEGO TOURISM MARKETING DISTRIC...",t,strict,f,f,1,0.09,NaN
783,8407570,https://www.airbnb.com/rooms/8407570,20160706203047,2016-07-07,clean and neat,great!,NaN,great!,none,NaN,...,f,NaN,"SAN DIEGO, SAN DIEGO TOURISM MARKETING DISTRIC...",f,flexible,f,f,1,NaN,NaN

In [41]:
merged['price'].head(3)

226    $600.00
781    $350.00
783    $999.00
Name: price, dtype: object

In [42]:
calendar['price'].head(3)

0    49.0
1    49.0
2    49.0
Name: price, dtype: float64

In [43]:
L = []

for w in merged.index:
    a = 0
    b = merged['price'][w][1:].split(',')
    c = ''
    
    for k in b:
        c = c + k
    
    L.append(int(float(c)))

In [44]:
merged['numerical price'] = L

In [45]:
merged['numerical price'].head(3)

226    600
781    350
783    999
Name: numerical price, dtype: int64

In [46]:
merged.columns

Index([u'id', u'listing_url', u'scrape_id', u'last_scraped', u'name',
       u'summary', u'space', u'description', u'experiences_offered',
       u'neighborhood_overview', u'notes', u'transit', u'access',
       u'interaction', u'house_rules', u'thumbnail_url', u'medium_url',
       u'picture_url', u'xl_picture_url', u'host_id', u'host_url',
       u'host_name', u'host_since', u'host_location', u'host_about',
       u'host_response_time', u'host_response_rate', u'host_acceptance_rate',
       u'host_is_superhost', u'host_thumbnail_url', u'host_picture_url',
       u'host_neighbourhood', u'host_listings_count',
       u'host_total_listings_count', u'host_verifications',
       u'host_has_profile_pic', u'host_identity_verified', u'street',
       u'neighbourhood', u'neighbourhood_cleansed',
       u'neighbourhood_group_cleansed', u'city', u'state', u'zipcode',
       u'market', u'smart_location', u'country_code', u'country', u'latitude',
       u'longitude', u'is_location_exact', u'property_type', u'room_type',
       u'accommodates', u'bathrooms', u'bedrooms', u'beds', u'bed_type',
       u'amenities', u'square_feet', u'price', u'weekly_price',
       u'monthly_price', u'security_deposit', u'cleaning_fee',
       u'guests_included', u'extra_people', u'minimum_nights',
       u'maximum_nights', u'calendar_updated', u'has_availability',
       u'availability_30', u'availability_60', u'availability_90',
       u'availability_365', u'calendar_last_scraped', u'number_of_reviews',
       u'first_review', u'last_review', u'review_scores_rating',
       u'review_scores_accuracy', u'review_scores_cleanliness',
       u'review_scores_checkin', u'review_scores_communication',
       u'review_scores_location', u'review_scores_value', u'requires_license',
       u'license', u'jurisdiction_names', u'instant_bookable',
       u'cancellation_policy', u'require_guest_profile_picture',
       u'require_guest_phone_verification', u'calculated_host_listings_count',
       u'reviews_per_month', u'estimated_tot_income', u'numerical price'],
      dtype='object')

In [47]:
merged['bathrooms'].head(3)

226    2.0
781    2.0
783    1.0
Name: bathrooms, dtype: float64

In [48]:
merged['bathrooms'].unique()

array([ 2. ,  1. ,  1.5,  2.5,  3. ,  nan,  5. ])

In [49]:
merged['house_rules'].head(3)

226                                                  NaN
781    no drugs or excessive alcohol. Respect of the ...
783                                                  NaN
Name: house_rules, dtype: object

In [50]:
def is_transit(a):
    if a.len() > 0:
        return 1
    else:
        return 0

In [49]:
merged['transit'].head(3)

226    NaN
781    NaN
783    NaN
Name: transit, dtype: object

In [52]:
L = []
for w in merged.index:
    a = merged['transit'].str.len()[w]
    if  a > 0:
        L.append(1)
    else:
        L.append(0)

merged['is_transit'] = L

In [53]:
merged['is_transit'].head(3)

226    0
781    0
783    0
Name: is_transit, dtype: int64

In [54]:
merged['transit'].str.split(' ')[788]

['One',
 'Free',
 'parking',
 'space',
 'is',
 'available',
 'if',
 'driving',
 'and',
 'access',
 'to',
 'the',
 'trolley',
 'is',
 'minutes',
 'away.',
 'There',
 'are',
 'also',
 'buses',
 'and',
 'ride',
 'shares',
 'easily',
 'accessible',
 'from',
 'this',
 'location.']

In [55]:
merged['neighbourhood_cleansed'].head(3)

226    Balboa Park
781       Columbia
783       Columbia
Name: neighbourhood_cleansed, dtype: object

In [56]:
merged['neighbourhood'].head(3)

226           Cortez
781    Core-Columbia
783    Core-Columbia
Name: neighbourhood, dtype: object

In [57]:
reviews['comments'].head(3)

0    Jeff, we cannot thank you enough for your hosp...
1    The location was amazing, we were able to chea...
2    I would like to thank Jeff for his great hospi...
Name: comments, dtype: object

In [58]:
reviews['comment_length'] = reviews['comments'].str.len()

# Modeling

## Model 1

In [59]:
clf = ElasticNet()

In [60]:
merged_drop_NA = merged[['bathrooms', 'bedrooms', 'numerical price']].dropna()

In [61]:
X_train, X_test, y_train, y_test = train_test_split(merged_drop_NA[['bathrooms', 'bedrooms']], merged_drop_NA['numerical price'], test_size=0.2)

In [62]:
clf.fit(X_train, y_train)

ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [63]:
y_pred = clf.predict(X_test)

In [64]:
y_pred

array([ 233.16971662,  302.02623154,  197.39404242,  266.25055734,
        302.02623154,  268.94539082,  233.16971662,  233.16971662,
        285.48581118,  266.25055734,  302.02623154,  233.16971662,
        197.39404242,  233.16971662,  197.39404242,  233.16971662,
        233.16971662,  233.16971662,  302.02623154,  197.39404242,
        249.71013698,  233.16971662,  266.25055734,  266.25055734,
        442.43409486,  302.02623154,  197.39404242,  354.3423261 ,
        233.16971662,  197.39404242,  197.39404242,  233.16971662,
        233.16971662,  197.39404242,  197.39404242,  197.39404242,
        233.16971662,  233.16971662,  302.02623154,  302.02623154,
        268.94539082,  233.16971662,  233.16971662,  197.39404242,
        233.16971662,  233.16971662,  233.16971662,  233.16971662,
        197.39404242,  266.25055734,  233.16971662,  268.94539082,
        233.16971662,  233.16971662,  197.39404242,  268.94539082,
        197.39404242,  233.16971662,  233.16971662,  268.94539082,
        197.39404242,  197.39404242,  249.71013698,  233.16971662,
        233.16971662,  302.02623154,  233.16971662,  302.02623154,
        302.02623154,  480.90460254,  233.16971662,  197.39404242,
        197.39404242,  233.16971662,  302.02623154,  197.39404242,
        337.80190574,  318.5666519 ,  302.02623154,  233.16971662,
        302.02623154,  285.48581118,  197.39404242,  302.02623154,
        285.48581118,  233.16971662,  233.16971662,  233.16971662,
        233.16971662,  233.16971662,  197.39404242,  233.16971662,
        197.39404242,  197.39404242,  302.02623154,  233.16971662,
        335.10707225,  233.16971662,  268.94539082,  197.39404242,
        197.39404242,  302.02623154,  249.71013698,  233.16971662,
        285.48581118,  197.39404242,  197.39404242,  370.88274646,
        197.39404242,  268.94539082,  233.16971662,  197.39404242,
        197.39404242,  233.16971662,  302.02623154,  233.16971662])

In [65]:
print('The Mean Squared Error of the first model = ' + str(mean_squared_error(y_pred, y_test)))
print('The Mean Absolute Error of the first model = ' + str(mean_absolute_error(y_pred, y_test)))

The Mean Squared Error of the first model = 22988.0156788
The Mean Absolute Error of the first model = 109.388063582

In [56]:
merged['house_rules']

226                                                   NaN
781     no drugs or excessive alcohol. Respect of the ...
783                                                   NaN
784                                                   NaN
785                                                   NaN
786                                    No smoking please!
787     This is our place. We want it to feel like it'...
788            No smoking, no loud music, no pets allowed
789     Respectful, Quiet past 10pm, no ragers/sex par...
790                                                   NaN
791                          Small dogs are OK.  No cats.
792     Personal items in the house, just be respectfu...
793     Please treat my place as it's yours and keep i...
794     RULES AND REGULATIONS FOR artist flat The part...
795                                                   NaN
796     House Rules: â€¢ Please no shoes in the house as...
798                                                   NaN
800     Please clean up! That will come out of your se...
802                                                   NaN
803                                                   NaN
804                                                   NaN
805     No smoking, no pets, no parties. Free to use w...
806     Smoking is not allowed. Please do not smoke an...
807     Keep the house clean. Guest should respect my ...
809     - Parking $30 per day, in and out privileges  ...
812     Treat my home as it is your own. Respect to pe...
813     You may use anything you need in the kitchen a...
814     Please just be respectful to our neighbors. No...
819     Check-in is at 3 pm and checkout is at 11 am. ...
820     Please treat the loft like your own :) House R...
                              ...
5738    Please, no parties,  no smoking inside apartme...
5739    This apartment is completely Non-smoking, its ...
5740    We expect guests to treat this house with resp...
5742    We expect guests to treat this house with resp...
5743    No Smoking, Drugs, Partying or Excessive Noise...
5744    We expect guests to treat this house with resp...
5745    We expect guests to treat this house with resp...
5746                                                  NaN
5748    No smoking Not suitable for pets No parties or...
5750    No cigarette smoking No pets allowed No house ...
5754                                                  NaN
5755                                                  NaN
5756    Guests should act as "the Reasonably Prudent P...
5757    Integrity and respect, thanks : ) I am 100% co...
5758                                                  NaN
5759    Please review the info binder in the unit.  It...
5760    PLEASE MAKE SURE EVERYONE IN YOUR PARTY HAS RE...
5761    I appreciate respect and cleanliness of the sp...
5762    Please leave the house how you found it! Also,...
5764    We expect guests to treat this house with resp...
5766                                                  NaN
5767    This is a no smoking condo complex. Quiet hour...
5768    The only rules are for you to be curteous to t...
5769                                                  NaN
5770    Very simple: -Respect the art and appliances/d...
5773    It is a neighborhood setting so the 10-7 am qu...
5775    TERMS for AIRBNB guests:  Unexpected guests wi...
5778    - Gated courtyard.  -Smoking okay outside in c...
5781    A house cleaner will come once a week to clean...
5782    *Please keep the house clean and treat it like...
Name: house_rules, Length: 581, dtype: object

In [57]:
def is_transit(a):
    if a.len() > 0:
        return 1
    else:
        return 0

In [58]:
merged['transit']

226                                                   NaN
781                                                   NaN
783                                                   NaN
784                                                   NaN
785     Uber, Lyft, rental car, black car services or ...
786                                                   NaN
787                                                   NaN
788     One Free parking space is available if driving...
789     We are in the heart of all of downtown, close ...
790                                                   NaN
791     Stay in the most walkable neighborhood in San ...
792     *Uber*Car2go *Taxi Services *Walk to Buses &Tr...
793     Santa Fe Depot (Amtrack/Coaster) is a block an...
794     A 5 min walk to the Trolly that can take you a...
795     The Urban Treehouse is conveniently located in...
796     **Free Parking in secured garage!!** Conventio...
798                                                   NaN
800                                                   NaN
802                                                   NaN
803                                                   NaN
804                                                   NaN
805     The Trolley, buses and Balboa Park Trams are c...
806     Trolley is available.  Taxis are readily acces...
807     My location is only a few blocks from the tram...
809                                                   NaN
812     trolley train track one block north as well as...
813     Right around one corner is a major bus hub and...
814     The bus & trolley stops are within a block. Le...
819     Distant to common destinations San Diego Conve...
820     Uber, Lyft, Car2go, Pedi Cabs, Taxis, Bus, Tro...
                              ...
5738                                                  NaN
5739    Super easy, 2 minutes to downtown, 3-4 minutes...
5740    San Diego International airport is only 2.2 mi...
5742    San Diego International airport is only 2.2 mi...
5743    There are bus stops, trolley stations, car ren...
5744    San Diego International airport is only 2.2 mi...
5745    San Diego International airport is only 2.2 mi...
5746                                                  NaN
5748    Uber, Lyft, and taxis are all readily availabl...
5750    Following freeways have immediate access (less...
5754    Bus stop outside of the building, but many att...
5755                                                  NaN
5756    8 min drive to beach!  Bus Line 3 stops outsid...
5757    Many places to walk, ~15min and you'll be in t...
5758                                                  NaN
5759    Street parking is  good within a 1-3 block rad...
5760    - This location is perfect if you are looking ...
5761    There is convenient unpaid street parking on t...
5762    We are only a mile from the major transit/trol...
5764    San Diego International airport is only 2.2 mi...
5766                                                  NaN
5767    On 5th Ave and Laurel the 120 bus will take yo...
5768                 LYFT is the best way to get around.
5769                                                  NaN
5770    There are a few bus lines that run through her...
5773    The airport, train and trolley are approx one ...
5775    San Diego International airport is only 2.2 mi...
5778                                                  NaN
5781    Public transit is available one block away. Th...
5782    The apartment does not have off street parking...
Name: transit, Length: 581, dtype: object

In [59]:
L = []
for w in merged.index:
    a = merged['transit'].str.len()[w]
    if  a > 0:
        L.append(1)
    else:
        L.append(0)

merged['is_transit'] = L

In [67]:
merged['is_transit']

226     0
781     0
783     0
784     0
785     1
786     0
787     0
788     1
789     1
790     0
791     1
792     1
793     1
794     1
795     1
796     1
798     0
800     0
802     0
803     0
804     0
805     1
806     1
807     1
809     0
812     1
813     1
814     1
819     1
820     1
       ..
5738    0
5739    1
5740    1
5742    1
5743    1
5744    1
5745    1
5746    0
5748    1
5750    1
5754    1
5755    0
5756    1
5757    1
5758    0
5759    1
5760    1
5761    1
5762    1
5764    1
5766    0
5767    1
5768    1
5769    0
5770    1
5773    1
5775    1
5778    0
5781    1
5782    1
Name: is_transit, Length: 581, dtype: int64

In [68]:
merged['transit'].str.split(' ')[788]

['One',
 'Free',
 'parking',
 'space',
 'is',
 'available',
 'if',
 'driving',
 'and',
 'access',
 'to',
 'the',
 'trolley',
 'is',
 'minutes',
 'away.',
 'There',
 'are',
 'also',
 'buses',
 'and',
 'ride',
 'shares',
 'easily',
 'accessible',
 'from',
 'this',
 'location.']

In [69]:
merged['neighbourhood_cleansed']

226     Balboa Park
781        Columbia
783        Columbia
784        Columbia
785        Columbia
786        Columbia
787        Columbia
788        Columbia
789        Columbia
790        Columbia
791        Columbia
792        Columbia
793        Columbia
794        Columbia
795        Columbia
796        Columbia
798            Core
800            Core
802            Core
803            Core
804            Core
805            Core
806            Core
807            Core
809            Core
812            Core
813            Core
814            Core
819            Core
820            Core
           ...
5738      Park West
5739      Park West
5740      Park West
5742      Park West
5743      Park West
5744      Park West
5745      Park West
5746      Park West
5748      Park West
5750      Park West
5754      Park West
5755      Park West
5756      Park West
5757      Park West
5758      Park West
5759      Park West
5760      Park West
5761      Park West
5762      Park West
5764      Park West
5766      Park West
5767      Park West
5768      Park West
5769      Park West
5770      Park West
5773      Park West
5775      Park West
5778      Park West
5781      Park West
5782      Park West
Name: neighbourhood_cleansed, Length: 581, dtype: object

In [70]:
merged['neighbourhood']

226            Cortez
781     Core-Columbia
783     Core-Columbia
784            Marina
785      Little Italy
786        Harborview
787               NaN
788               NaN
789     Core-Columbia
790     Core-Columbia
791     Core-Columbia
792      Little Italy
793     Core-Columbia
794               NaN
795      Little Italy
796     Core-Columbia
798     Core-Columbia
800     Core-Columbia
802      East Village
803     Core-Columbia
804      East Village
805     Core-Columbia
806      East Village
807               NaN
809      East Village
812     Core-Columbia
813               NaN
814               NaN
819      East Village
820     Core-Columbia
            ...
5738        Park West
5739        Park West
5740        Park West
5742        Park West
5743        Park West
5744        Park West
5745        Park West
5746              NaN
5748        Park West
5750              NaN
5754        Park West
5755        Park West
5756        Park West
5757        Park West
5758              NaN
5759        Park West
5760        Park West
5761        Park West
5762        Park West
5764        Park West
5766        Park West
5767        Park West
5768        Park West
5769        Park West
5770              NaN
5773        Park West
5775        Park West
5778        Park West
5781              NaN
5782        Park West
Name: neighbourhood, Length: 581, dtype: object

In [77]:
reviews['comments']

0        Jeff, we cannot thank you enough for your hosp...
1        The location was amazing, we were able to chea...
2        I would like to thank Jeff for his great hospi...
3        Jeff was an amazing host! We rented all three ...
4        Jeff was the consummate host.  He was quick to...
5             The location was excellent, literally ste...
6        Wonderful beach house. So close to the beach. ...
7        perfect place for me and my family. would love...
8        Ryan and his staff were amazing!!!!! So incred...
9        My communication with Ryan before our stay was...
10       The location could not have been better.  This...
11       Very nice family who makes you feel welcome an...
12       Clean, friendly, comfortable! Maisue and her f...
13       Maisue was a great host to me and my friend th...
14       Maisue and her family were wonderful hosts. We...
15       Mai Sue and ThÃ© are excellent hosts. I stayed ...
16       Me and my sister stood at Maisue.  We loved th...
17       Great hosts. Nice and clean room. Highly recom...
18       We stayed with Maisue for a night and had a wo...
19       The stay at Maisue's place was really pleasant...
20       Awesome place better then many hotels I have s...
21       Great place -  good value! Becky was very quic...
22       I'm very satisfied with both the price and wit...
23       Becky was very welcoming and invited us to go ...
24       We loved staying here. It was nice to meet Sar...
25       Sarah was a great host. The loft was exactly a...
26       The Loft was the perfect get away for visiting...
27       Great location.   Views from the windows bette...
28       Sarah was an excellent host.  Her rental is in...
29       Excellent place in a great location. The view ...
                               ...
92832    Rachel's place is very lovely and clean with a...
92833    Our hosts were super awesome!  Cheerful, helpf...
92834    What a wonderful place! Terrific location - wi...
92835    Great studio in a great location! The studio w...
92836    Place was great! Right next to a bunch of rest...
92837    Rachel was great at communicating directions a...
92838    Great little place, terrific location with awe...
92839    Great location - very clean and comfortable - ...
92840    Everything was excellent and exactly as descri...
92841    This was our first AirB&B and it was a big hit...
92842    Rachel's studio apartment was just as deceived...
92843    Stayed at this lovely light and pleasant apart...
92844    Rachel's place truly is situated right in the ...
92845    This was our first Airbnb experience. Rachel w...
92846    The studio space is wonderful!  All the little...
92847    Rachel is such an amazing host. She's very res...
92848    The studio was as lovely as hopped for. One bl...
92849    Rachel was an excellent host! She was extremel...
92850    Rachel's loft is beautiful, immaculate, and ve...
92851    Apt. was immaculate and charming, with many ho...
92852    My friend was visiting me in San Diego and aft...
92853    We loved Rachel's place. It's in the best loca...
92854    We had a great time at Rachel 's place. The ap...
92855    We loved this upstairs studio in Little Italy,...
92856    Staying here was a great experience. The neigh...
92857    Nice place, great location -- close to everyth...
92858    Rachel was great!  She was very thoughtful and...
92859    Such a cute place. Easy to find. We loved stay...
92860    Listing was just as described. Great place, Li...
92861    Flat is wonderfully decorated, and flooded wit...
Name: comments, Length: 92862, dtype: object

In [75]:
reviews['comment_length'] = reviews['comments'].str.len()

# Modeling

## Model 1

In [60]:
clf = ElasticNet()

In [61]:
merged_drop_NA = merged[['bathrooms', 'bedrooms', 'numerical price']].dropna()

In [62]:
X_train, X_test, y_train, y_test = train_test_split(merged_drop_NA[['bathrooms', 'bedrooms']], merged_drop_NA['numerical price'], test_size=0.2)

In [63]:
clf.fit(X_train, y_train)

ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [64]:
y_pred = clf.predict(X_test)

In [65]:
y_pred

array([ 362.98161807,  193.22505885,  228.82090712,  193.22505885,
        193.22505885,  260.30541432,  264.4167554 ,  300.01260368,
        228.82090712,  193.22505885,  228.82090712,  228.82090712,
        228.82090712,  260.30541432,  193.22505885,  228.82090712,
        228.82090712,  228.82090712,  228.82090712,  295.9012626 ,
        228.82090712,  228.82090712,  228.82090712,  193.22505885,
        295.9012626 ,  228.82090712,  193.22505885,  264.4167554 ,
        331.49711088,  193.22505885,  193.22505885,  228.82090712,
        228.82090712,  228.82090712,  295.9012626 ,  228.82090712,
        362.98161807,  228.82090712,  280.159009  ,  193.22505885,
        228.82090712,  295.9012626 ,  228.82090712,  193.22505885,
        228.82090712,  193.22505885,  228.82090712,  193.22505885,
        331.49711088,  295.9012626 ,  264.4167554 ,  295.9012626 ,
        193.22505885,  228.82090712,  193.22505885,  228.82090712,
        193.22505885,  193.22505885,  228.82090712,  280.159009  ,
        228.82090712,  193.22505885,  228.82090712,  295.9012626 ,
        228.82090712,  228.82090712,  193.22505885,  228.82090712,
        193.22505885,  264.4167554 ,  244.56316072,  193.22505885,
        228.82090712,  193.22505885,  193.22505885,  228.82090712,
        264.4167554 ,  228.82090712,  228.82090712,  228.82090712,
        228.82090712,  228.82090712,  264.4167554 ,  295.9012626 ,
        260.30541432,  295.9012626 ,  295.9012626 ,  295.9012626 ,
        228.82090712,  193.22505885,  228.82090712,  300.01260368,
        193.22505885,  295.9012626 ,  193.22505885,  264.4167554 ,
        228.82090712,  193.22505885,  280.159009  ,  228.82090712,
        264.4167554 ,  193.22505885,  295.9012626 ,  228.82090712,
        193.22505885,  193.22505885,  347.23936447,  228.82090712,
        295.9012626 ,  193.22505885,  295.9012626 ,  228.82090712,
        295.9012626 ,  193.22505885,  193.22505885,  193.22505885])

In [66]:
print('The Mean Squared Error of the first model = ' + str(mean_squared_error(y_pred, y_test)))
print('The Mean Absolute Error of the first model = ' + str(mean_absolute_error(y_pred, y_test)))

The Mean Squared Error of the first model = 31261.2586994
The Mean Absolute Error of the first model = 119.71305226