In [1]:
import json
from StringIO import StringIO
import pandas as pd

In [2]:
import pandas as pd
import os
import sklearn as sk
from sklearn.linear_model import MultiTaskLasso, MultiTaskElasticNet, ElasticNet
from sklearn.cross_validation import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error
import sklearn.metrics as skmet
import numpy as np
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords, names
import datetime
from scipy.stats import ttest_ind 
import csv

C:\Users\sanka\Anaconda2\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
import findspark
findspark.init()

from pyspark import SparkContext
#sc.stop()
## add after creating spark_PCA.py
sc = SparkContext(master="local[3]") 
from pyspark import SparkContext
from pyspark.sql import *
sqlContext = SQLContext(sc)

In [4]:
from pyspark.sql import Row
from pyspark.sql.types import *

In [5]:
listings = pd.read_csv('inside_airbnb/listings.csv')
list_summ = pd.read_csv('inside_airbnb/listings_summ.csv')
neighborhoods = pd.read_csv('inside_airbnb/neighbourhoods.csv')
reviews = pd.read_csv('inside_airbnb/reviews.csv')
reviews_summ = pd.read_csv('inside_airbnb/reviews_summ.csv')
calendar = pd.read_csv('inside_airbnb/calendar.csv')

In [6]:
active_businesses = pd.read_csv('Datasources/other general/sd_active_businesses_datasd.csv')

In [7]:
active_businesses

,account_key,address_str,apt_suite,bus_start_dt,business_owner_name,business_phone,city,creation_dt,doing_bus_as_name,expiration_dt,lat,lon,naics_code,naics_description,ownership_type,pmb_box,po_box,state,zip,BID
0,2017014278,10640 scripps ranch blvd,101,2017-08-23,miriam chor freitas,(858) 217-5770,san diego,2017-09-27,miriam chor freitas lcsw,2018-08-31,32.911936,-117.110321,62133,offices of other mental health practitioners,sole,NaN,NaN,CA,92131-1095,NaN
1,2017013866,5085 september st,NaN,2015-09-01,robert burke,NaN,san diego,2017-09-27,robert burke,2018-08-31,32.780080,-117.187049,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92110-1222,NaN
2,2017013873,827 beryl st,NaN,2015-09-01,robert doll,NaN,san diego,2017-09-27,robert doll,2018-08-31,32.803056,-117.256734,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92109-2004,NaN
3,2017013871,2704 boston ave,NaN,2015-09-01,jose m espinozanaranjo & maria m dadaespinoza,NaN,san diego,2017-09-27,jose m espinozanaranjo & maria m dadaespinoza,2018-08-31,32.694014,-117.135811,541,"professional, scientific & technical services",h-w,NaN,NaN,CA,92113-3708,NaN
4,2017013870,1502 mesa brook st,NaN,2015-09-01,feliz h blanco & idalia contreras ochoa,NaN,san diego,2017-09-27,feliz h blanco & idalia contreras ochoa,2018-08-31,32.693291,-117.048771,541,"professional, scientific & technical services",h-w,NaN,NaN,CA,92114-7875,NaN
5,2017013869,4775 monongahela st,NaN,2015-09-01,paul v saadieh,NaN,san diego,2017-09-27,paul v saadieh,2018-08-31,32.834477,-117.228387,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92117-2419,NaN
6,2017013867,302 washington st,150-31,2015-09-01,scott corich,NaN,san diego,2017-09-27,scott corich,2018-08-31,32.750293,-117.162618,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92103-2110,Hillcrest
7,2017013865,2464 fenton pkwy,207,2015-09-01,eduardo d galvan & nallely p padilla,NaN,san diego,2017-09-27,eduardo d galvan & nallely p padilla,2018-08-31,32.780464,-117.131484,541,"professional, scientific & technical services",h-w,NaN,NaN,CA,92108-6705,NaN
8,2017013874,2616 highland ave,5,2015-09-01,ketkeo inthavong,NaN,san diego,2017-09-27,ketkeo inthavong,2018-08-31,32.733630,-117.098926,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92105-4371,NaN
9,2017013863,4584 f st,NaN,2015-09-01,clarence e davis sr,NaN,san diego,2017-09-27,clarence e davis sr,2018-08-31,32.713745,-117.095833,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92102-3664,NaN
10,2017013862,3456 marathon dr,NaN,2015-09-01,jesse m macias & venetia a macias,NaN,san diego,2017-09-27,jesse m macias & venetia a macias,2018-08-31,32.805000,-117.127567,541,"professional, scientific & technical services",h-w,NaN,NaN,CA,92123-2622,NaN
11,2017013861,4840 baylor dr,NaN,2015-09-01,jeffrey s russell,NaN,san diego,2017-09-27,jeffrey s russell,2018-08-31,32.765720,-117.082138,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92115-3523,NaN
12,2017013860,5353 topsail dr,NaN,2015-09-01,ramon o lyke & esperanza s lyke,NaN,san diego,2017-09-27,ramon o lyke & esperanza s lyke,2018-08-31,32.587968,-117.014910,541,"professional, scientific & technical services",h-w,NaN,NaN,CA,92154-8589,NaN
13,2017013859,6637 green gables ave,NaN,2015-09-01,james w riggin,NaN,san diego,2017-09-27,james w riggin,2018-08-31,32.797294,-117.043777,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92119-2951,NaN
14,2017013872,9520 easter way,NaN,2015-09-01,silvio sztain & janet sztain,NaN,san diego,2017-09-27,silvio sztain & janet sztain,2018-08-31,32.879569,-117.212116,541,"professional, scientific & technical services",h-w,NaN,NaN,CA,92121-1931,NaN
15,2017013875,11570 windcrest ln,1612,2015-09-01,duane w donley,NaN,san diego,2017-09-27,duane w donley,2018-08-31,32.975504,-117.081996,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92128-6419,NaN
16,2017013856,3828 centre st,NaN,2015-09-01,teofilo garcia galvan,NaN,san diego,2017-09-27,teofilo garcia galvan,2018-08-31,32.747945,-117.148292,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92103,Hillcrest
17,2017013884,6403 seascape dr,NaN,2015-09-01,amy r cheek,NaN,san diego,2017-09-27,amy r cheek,2018-08-31,32.675463,-117.052865,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92139-2325,NaN
18,2017013889,2511 caminito avellano,NaN,2015-09-01,pedro toscanogomez,NaN,san diego,2017-09-27,pedro toscanogomez,2018-08-31,32.573490,-117.079082,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92154-3241,NaN
19,2017013890,5714 roswell st,NaN,2015-09-01,david banar & elvira banar,NaN,san diego,2017-09-27,david banar & elvira banar,2018-08-31,32.716646,-117.073900,541,"professional, scientific & technical services",h-w,NaN,NaN,CA,92114-1209,NaN
20,2017013888,4422 keeler ave,NaN,2015-09-01,jose g tolentino jr,NaN,san diego,2017-09-27,jose g tolentino jr,2018-08-31,32.694098,-117.099432,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92113-3429,NaN
21,2017013887,3003 fairmount ave,3,2015-09-01,cesar licea & jacqueline cota orozco,NaN,san diego,2017-09-27,cesar licea & jacqueline cota orozco,2018-08-31,32.737146,-117.100665,541,"professional, scientific & technical services",h-w,NaN,NaN,CA,92105-4684,NaN
22,2017013886,3770 t st,NaN,2015-09-01,arturo i mezalopez,NaN,san diego,2017-09-27,arturo i mezalopez,2018-08-31,32.699253,-117.113195,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92113-2848,NaN
23,2017013885,711 61st st,p,2015-09-01,wilfredo pita guerra,NaN,san diego,2017-09-27,wilfredo pita guerra,2018-08-31,32.712431,-117.066440,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92114-2437,NaN
24,2017013883,5949 alleghany st,NaN,2015-09-01,salvadorjr benavente,NaN,san diego,2017-09-27,salvadorjr benavente,2018-08-31,32.680150,-117.063612,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92139-1713,NaN
25,2017013882,1154 bittern st,NaN,2015-09-01,jonathon a mentzer,NaN,san diego,2017-09-27,jonathon a mentzer,2018-08-31,32.717639,-117.053148,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92114-2607,NaN
26,2017013880,4095 texas st,1,2015-09-01,carolsarman moreno,NaN,san diego,2017-09-27,carolsarman moreno,2018-08-31,32.752002,-117.138431,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92104-6074,NaN
27,2017013881,3144 haller st,NaN,2015-09-01,jordan d hilbert & romina hilbert,NaN,san diego,2017-09-27,jordan d hilbert & romina hilbert,2018-08-31,32.739594,-117.116756,541,"professional, scientific & technical services",h-w,NaN,NaN,CA,92104-4806,NaN
28,2017013879,3595 agosto st,NaN,2015-09-01,joseph kent,NaN,san diego,2017-09-27,joseph kent,2018-08-31,32.570907,-117.058290,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92154-3604,NaN
29,2017013878,230 jojo ct,NaN,2015-09-01,martin v munoz rodriguez & marcela hernandez,NaN,san diego,2017-09-27,martin v munoz rodriguez & marcela hernandez,2018-08-31,32.705589,-117.059249,541,"professional, scientific & technical services",h-w,NaN,NaN,CA,92114-4246,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75423,1974010673,3145 rosecrans st,e,1974-07-01,millicent e dameron,(619) 295-5127,san diego,1974-07-01,milly's hair salon,2017-09-30,32.745908,-117.210554,812115,beauty shops - booth rental,sole,NaN,NaN,CA,92110-4824,Midway
75424,1974004390,1413 morena blvd,NaN,1974-07-01,george baddour,(619) 276-1662,san diego,1974-07-01,k & l market,2017-08-31,32.773726,-117.203924,4451,grocery stores,sole,NaN,NaN,CA,92110-3723,NaN
75425,1974011543,9340 dowdy dr,102,1974-07-01,jeld-wen inc,(800) 468-3667,san diego,1974-07-01,jeld-wen inc custom door division,2018-06-30,32.891302,-117.147565,337,furniture & related product mfg,corp,NaN,NaN,CA,92126-9500,NaN
75426,1974012203,8888 clairemont mesa blvd,m,1974-07-01,radelow/gittins mgt corp,(619) 231-2727,san diego,1974-07-01,rg investment real estate services,2017-06-30,32.831984,-117.136780,5311,lessors of real estate,corp,NaN,NaN,CA,92123-1115,NaN
75427,1974009442,1219 hidden mountain dr,NaN,1974-07-01,goodman allan h md inc,(858) 292-5151,el cajon,1974-07-01,goodman allan h md inc,2017-09-30,32.776265,-116.913662,62111,offices of physicians,corp,NaN,NaN,CA,92019-3640,NaN
75428,1974009118,5228 riley st,NaN,1974-07-01,the sherwin williams company,(619) 297-0171,san diego,1974-07-01,the sherwin williams company,2017-06-30,32.764700,-117.196081,4413,"automotive parts, accessories & tire stores",corp,NaN,NaN,CA,92110-2619,Morena
75429,1974010345,6810 curran st,NaN,1974-07-01,first flight corporation,(619) 661-6522,san diego,1974-07-01,first flight corporation,2017-06-30,32.570928,-116.993172,611,educational services,corp,NaN,NaN,CA,92154-5710,NaN
75430,1974001703,3626 ruffin rd,NaN,1974-07-01,the anesthesia service,(858) 565-9666,san diego,1974-07-01,anesthesia service medical group,2017-06-30,32.809681,-117.119728,62111,offices of physicians,corp,NaN,NaN,CA,92123-1810,NaN
75431,1974005190,7812 girard ave,NaN,1974-07-01,warwicks stationers,(858) 454-0347,la jolla,1974-07-01,warwicks stationers,2017-06-30,32.845309,-117.274474,4539,other miscellaneous store retailers,corp,NaN,NaN,CA,92037-4230,La Jolla
75432,1974010051,5534 red river dr,NaN,1974-07-01,lloyd gregory n,(619) 582-3487,san diego,1974-07-01,greg lloyd,2017-09-30,32.805361,-117.074466,54199,"all oth prof, scientific & technical services",sole,NaN,NaN,CA,92120,NaN
75433,1974005140,520 pearl st,NaN,1974-07-01,la jolla vacuum inc,(858) 459-1130,la jolla,1974-07-01,la jolla vacuum center,2017-06-30,32.839501,-117.278106,443111,household appliance stores,corp,NaN,NaN,CA,92037-5071,La Jolla
75434,1974010644,740 f st,NaN,1974-07-01,prudential overall supply,(619) 427-1240,san diego,1974-07-01,prudential overall supply,2017-06-30,32.713649,-117.157754,4223,"apparel, piece goods & notions whsle",corp,NaN,NaN,CA,92101-6303,East Village
75435,1974010929,2521 pacific hwy,NaN,1974-07-01,r j & j inc rt,(619) 232-2906,san diego,1974-07-01,bob stivers shell,2017-07-31,32.729872,-117.173577,4471,gasoline stations,corp,NaN,NaN,CA,92101-1233,NaN
75436,1974012790,2335 morena blvd,NaN,1974-07-01,old trieste inc,NaN,san diego,1974-07-01,old trieste inc,2017-06-30,32.786615,-117.206004,722,food services & drinking places,corp,NaN,NaN,CA,92110,Morena
75437,1974012733,286 euclid ave,NaN,1974-07-01,moore gene p,(619) 263-6683,san diego,1974-07-01,gene p moore dds,2018-06-30,32.707114,-117.086012,62121,offices of dentists,sole,NaN,NaN,CA,92114-3610,Diamond
75438,1974009274,4787 cardin st,NaN,1974-07-01,san diego fabrics co inc,(619) 448-2244,san diego,1974-07-01,san diego fabrics co/richard bernard,2017-06-30,32.828705,-117.162552,4539,other miscellaneous store retailers,corp,NaN,NaN,CA,92111-1416,NaN
75439,1974015236,223 via de san ysidro,4,1974-07-01,corporation instant mexico auto insurance inc,(006) 194-2847,san ysidro,1974-07-01,instant mexico auto ins. services,2017-09-30,32.550442,-117.046509,522292,real estate credit,corp,NaN,NaN,CA,92173-2913,NaN
75440,1974011425,4050 adams ave,NaN,1974-07-01,ponces mexican restaurant inc,(619) 282-4413,san diego,1974-07-01,ponce's restaurant,2017-06-30,32.763439,-117.108179,7221,full-service restaurants,scorp,NaN,NaN,CA,92116-2504,NaN
75441,1974009340,7255 university ave,NaN,1974-07-01,schaefer ambulance service inc,(619) 276-9152,la mesa,1974-07-01,schaefer ambulance service,2018-06-30,32.755271,-117.041480,485,transit & ground passenger transportation,corp,NaN,NaN,CA,91942-5927,NaN
75442,1974011168,2104 national ave,NaN,1974-07-01,diego & son printing inc,(619) 233-5373,san diego,1974-07-01,diego & son printing inc,2017-06-30,32.698405,-117.141437,323,printing & related support activities,corp,NaN,NaN,CA,92113-2209,NaN
75443,1974005390,3220 sports arena blvd,NaN,1974-07-01,pier 1 imports (us) inc,(619) 222-0487,san diego,1974-07-01,pier 1 imports #119,2017-06-30,32.753343,-117.207326,442,furniture & home furnishings stores,corp,NaN,NaN,CA,92110-4528,Midway
75444,1974016111,1342 otay valley rd,NaN,1974-07-01,codallos pedro,NaN,san diego,1974-07-01,brownfield auto wrecking,2018-05-31,32.572379,-116.998889,811198,all other automotive r&m,sole,NaN,NaN,CA,92154,NaN
75445,1974009389,1130 d st,7,1974-07-01,san-lo aerial surveys,(858) 565-1024,ramona,1974-07-01,san-lo aerial surveys,2018-06-30,33.039654,-116.869759,54137,surveying/mapping (exc geophysical) services,corp,NaN,NaN,CA,92065-3928,NaN
75446,1974016058,6429 caminito baltusral,NaN,1974-07-01,simon ronald i,(858) 459-9764,la jolla,1974-07-01,simon ronald i,2017-09-30,32.834030,-117.237732,541,"professional, scientific & technical services",sole,NaN,NaN,CA,92037-5802,NaN
75447,1974001476,3601 imperial ave,NaN,1974-07-01,linn's automotive inc,NaN,san diego,1974-07-01,linn's auto service,2017-06-30,32.704624,-117.116410,811111,general automotive repair,corp,NaN,NaN,CA,92113-1660,NaN
75448,1974001382,7777 alvarado rd,408a,1974-07-01,ted s merrill & sons inc,(619) 464-3997,la mesa,1974-07-01,ted s merrill & sons,2018-06-30,32.771858,-117.031912,233,"building, developing & general contracting",corp,NaN,NaN,CA,91942-8248,NaN
75449,1974009747,4760 murphy canyon rd,NaN,1974-07-01,schmidt fire pro co inc,(858) 279-6122,san diego,1974-07-01,schmidt fire protection co inc,2017-06-30,32.827728,-117.119921,23599,all other special trade contractors,corp,NaN,NaN,CA,92123,NaN
75450,1974014347,2366 front st,NaN,1974-07-01,pfeifer james w,(619) 239-2201,san diego,1974-07-01,james w pfeifer,2017-06-30,32.730068,-117.165120,5411,legal services,sole,NaN,NaN,CA,92101-1414,NaN
75451,1974003425,1635 s rancho santa fe rd,103,1974-07-01,california pools inc,(619) 744-8868,san marcos,1974-07-01,california pools inc,2017-06-30,33.106129,-117.224816,23511,"plumbing, heating & ac contractor",corp,NaN,NaN,CA,92069,NaN
75452,1974008707,4444 manitou way,NaN,1974-07-01,hellerud david w,(858) 274-0426,san diego,1974-07-01,david w hellerud dds,2017-06-30,32.833846,-117.196252,62121,offices of dentists,sole,NaN,NaN,CA,92117,NaN

In [8]:
active_businesses[['lon', 'lat']]

              lon        lat
0     -117.110321  32.911936
1     -117.187049  32.780080
2     -117.256734  32.803056
3     -117.135811  32.694014
4     -117.048771  32.693291
5     -117.228387  32.834477
6     -117.162618  32.750293
7     -117.131484  32.780464
8     -117.098926  32.733630
9     -117.095833  32.713745
10    -117.127567  32.805000
11    -117.082138  32.765720
12    -117.014910  32.587968
13    -117.043777  32.797294
14    -117.212116  32.879569
15    -117.081996  32.975504
16    -117.148292  32.747945
17    -117.052865  32.675463
18    -117.079082  32.573490
19    -117.073900  32.716646
20    -117.099432  32.694098
21    -117.100665  32.737146
22    -117.113195  32.699253
23    -117.066440  32.712431
24    -117.063612  32.680150
25    -117.053148  32.717639
26    -117.138431  32.752002
27    -117.116756  32.739594
28    -117.058290  32.570907
29    -117.059249  32.705589
...           ...        ...
75423 -117.210554  32.745908
75424 -117.203924  32.773726
75425 -117.147565  32.891302
75426 -117.136780  32.831984
75427 -116.913662  32.776265
75428 -117.196081  32.764700
75429 -116.993172  32.570928
75430 -117.119728  32.809681
75431 -117.274474  32.845309
75432 -117.074466  32.805361
75433 -117.278106  32.839501
75434 -117.157754  32.713649
75435 -117.173577  32.729872
75436 -117.206004  32.786615
75437 -117.086012  32.707114
75438 -117.162552  32.828705
75439 -117.046509  32.550442
75440 -117.108179  32.763439
75441 -117.041480  32.755271
75442 -117.141437  32.698405
75443 -117.207326  32.753343
75444 -116.998889  32.572379
75445 -116.869759  33.039654
75446 -117.237732  32.834030
75447 -117.116410  32.704624
75448 -117.031912  32.771858
75449 -117.119921  32.827728
75450 -117.165120  32.730068
75451 -117.224816  33.106129
75452 -117.196252  32.833846

[75453 rows x 2 columns]

In [9]:
schema = StructType([StructField("id", IntegerType(), True),
                    StructField("longitude", DoubleType(), True),
                    StructField("latitude", DoubleType(), True)])

In [10]:
spql_listings_info = sqlContext.createDataFrame(listings[['id', 'longitude', 'latitude']], schema)

In [11]:
schema_two = StructType([StructField("account_key", IntegerType(), True),
                    StructField("lon", DoubleType(), True),
                    StructField("lat", DoubleType(), True)])

In [12]:
spql_active_businesses_info = sqlContext.createDataFrame(active_businesses[['account_key', 'lon', 'lat']], schema_two)

In [13]:
spql_listings_info_rdd = spql_listings_info.rdd.map(lambda row:(row.id, row.longitude,row.latitude))

In [14]:
spql_active_businesses_info_rdd = spql_active_businesses_info.rdd.map(lambda row:(row.account_key, row.lon,row.lat))

In [15]:
spql_listings_and_businesses_info_rdd = spql_listings_info_rdd.cartesian(spql_active_businesses_info_rdd)

In [16]:
spql_listings_and_businesses_info_rdd = spql_listings_and_businesses_info_rdd.map(lambda x: (x[0][0], x[0][1], x[0][2], x[1][0], x[1][1], x[1][2]))

In [17]:
def distance_calculation(x):
        p_one = float(x[2])
        q_one = float(x[1])
        p_two = float(x[5])
        q_two = float(x[4])
        lon_diff = (q_one - q_two)*np.pi/180
        lat_diff = (p_one - p_two)*np.pi/180
        a = np.sin(lat_diff/2)**2 + np.cos(p_one*np.pi/180)*np.cos(p_two*np.pi/180)*(np.sin(lon_diff/2)**2)
        c = np.arctan2(np.sqrt(a), np.sqrt(1 - a))
        d = 6371.00*float(c)
        return tuple(list(x) + [d])

In [18]:
spql_listings_and_businesses_info_rdd = spql_listings_and_businesses_info_rdd.map(distance_calculation)

In [19]:
spql_listings_and_businesses_info_rdd.take(2)

[(11204286,
  -117.00194036983295,
  32.581881678016465,
  2017014278,
  -117.11032140000002,
  32.9119358,
  19.0371639407603),
 (11204286,
  -117.00194036983295,
  32.581881678016465,
  2017013866,
  -117.187049,
  32.78008,
  14.016453587380838)]

In [20]:
schema_three = StructType([StructField("id", IntegerType(), True),
                    StructField("longitude", DoubleType(), True),
                    StructField("latitude", DoubleType(), True)] + [StructField("account_key", IntegerType(), True),
                    StructField("business_lon", DoubleType(), True),
                    StructField("business_lat", DoubleType(), True), StructField("distance", DoubleType(), True)])

In [21]:
spql_listings_and_businesses_info_df = sqlContext.createDataFrame(spql_listings_and_businesses_info_rdd, schema_three)

In [22]:
spql_listings_and_businesses_info_rdd = spql_listings_and_businesses_info_df.rdd.map(lambda row: (row.id, row.longitude, row.latitude, row.account_key, row.business_lon, row.business_lat, row.distance))

In [23]:
spql_listings_and_businesses_info_rdd.map(lambda x: x[-1]).take(10)

[19.0371639407603,
 14.016453587380838,
 17.127117708310156,
 8.840158625976906,
 6.5706720082094145,
 17.59107540499231,
 12.009349782157923,
 12.595430537700668,
 9.580656248019492,
 8.547930443182247]

In [24]:
close_businesses_count_one = spql_listings_and_businesses_info_rdd.filter(lambda x: x[-1] <= 1).map(lambda x: (x[0], 1)).reduceByKey(lambda x, y : x + y)
close_businesses_count_three = spql_listings_and_businesses_info_rdd.filter(lambda x: x[-1] <= 3).map(lambda x: (x[0], 1)).reduceByKey(lambda x, y : x + y)
close_businesses_count_five = spql_listings_and_businesses_info_rdd.filter(lambda x: x[-1] <= 5).map(lambda x: (x[0], 1)).reduceByKey(lambda x, y : x + y)
close_businesses_count_ten = spql_listings_and_businesses_info_rdd.filter(lambda x: x[-1] <= 10).map(lambda x: (x[0], 1)).reduceByKey(lambda x, y : x + y)

In [25]:
close_businesses_count = spql_listings_and_businesses_info_rdd.filter(lambda x: x[-1] <= 16).map(lambda x: (x[0], 1)).reduceByKey(lambda x, y : x + y)

In [26]:
closest_business_distance = spql_listings_and_businesses_info_rdd.map(lambda x: (x[0], x[-1])).reduceByKey(lambda x, y : min(x, y))

In [27]:
count = 1
Writer = pd.ExcelWriter('listings_business_information.xlsx')

for w in [close_businesses_count_one, close_businesses_count_three, close_businesses_count_five, close_businesses_count_ten, close_businesses_count, closest_business_distance]:
    listings_businesses_information = w.toDF().toPandas()
    listings_businesses_information.to_excel(Writer, 'Sheet' + str(count))
    count = count + 1
    
Writer.save()

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.runJob.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 2.0 failed 1 times, most recent failure: Lost task 0.0 in stage 2.0 (TID 2, localhost, executor driver): java.net.SocketException: Connection reset
	at java.net.SocketInputStream.read(SocketInputStream.java:210)
	at java.net.SocketInputStream.read(SocketInputStream.java:141)
	at java.io.BufferedInputStream.fill(BufferedInputStream.java:246)
	at java.io.BufferedInputStream.read(BufferedInputStream.java:265)
	at java.io.DataInputStream.readInt(DataInputStream.java:387)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:166)
	at org.apache.spark.api.python.PythonRunner$$anon$1.next(PythonRDD.scala:156)
	at org.apache.spark.api.python.PythonRunner$$anon$1.next(PythonRDD.scala:152)
	at org.apache.spark.InterruptibleIterator.next(InterruptibleIterator.scala:43)
	at scala.collection.Iterator$$anon$11.next(Iterator.scala:409)
	at scala.collection.Iterator$$anon$12.next(Iterator.scala:444)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1336)
	at org.apache.spark.api.python.PythonRDD$.writeIteratorToStream(PythonRDD.scala:504)
	at org.apache.spark.api.python.PythonRunner$WriterThread$$anonfun$run$3.apply(PythonRDD.scala:328)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1951)
	at org.apache.spark.api.python.PythonRunner$WriterThread.run(PythonRDD.scala:269)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1435)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1423)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1422)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1422)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1650)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1605)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1594)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:628)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1918)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1931)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1944)
	at org.apache.spark.api.python.PythonRDD$.runJob(PythonRDD.scala:441)
	at org.apache.spark.api.python.PythonRDD.runJob(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:745)
Caused by: java.net.SocketException: Connection reset
	at java.net.SocketInputStream.read(SocketInputStream.java:210)
	at java.net.SocketInputStream.read(SocketInputStream.java:141)
	at java.io.BufferedInputStream.fill(BufferedInputStream.java:246)
	at java.io.BufferedInputStream.read(BufferedInputStream.java:265)
	at java.io.DataInputStream.readInt(DataInputStream.java:387)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:166)
	at org.apache.spark.api.python.PythonRunner$$anon$1.next(PythonRDD.scala:156)
	at org.apache.spark.api.python.PythonRunner$$anon$1.next(PythonRDD.scala:152)
	at org.apache.spark.InterruptibleIterator.next(InterruptibleIterator.scala:43)
	at scala.collection.Iterator$$anon$11.next(Iterator.scala:409)
	at scala.collection.Iterator$$anon$12.next(Iterator.scala:444)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1336)
	at org.apache.spark.api.python.PythonRDD$.writeIteratorToStream(PythonRDD.scala:504)
	at org.apache.spark.api.python.PythonRunner$WriterThread$$anonfun$run$3.apply(PythonRDD.scala:328)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1951)
	at org.apache.spark.api.python.PythonRunner$WriterThread.run(PythonRDD.scala:269)

In [29]:
business_distance  = closest_business_distance.map(lambda x: x[1])

In [31]:
business_distance.take(5)

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.runJob.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 7.0 failed 1 times, most recent failure: Lost task 0.0 in stage 7.0 (TID 9, localhost, executor driver): java.net.SocketException: Connection reset
	at java.net.SocketInputStream.read(SocketInputStream.java:210)
	at java.net.SocketInputStream.read(SocketInputStream.java:141)
	at java.io.BufferedInputStream.fill(BufferedInputStream.java:246)
	at java.io.BufferedInputStream.read(BufferedInputStream.java:265)
	at java.io.DataInputStream.readInt(DataInputStream.java:387)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:166)
	at org.apache.spark.api.python.PythonRunner$$anon$1.next(PythonRDD.scala:156)
	at org.apache.spark.api.python.PythonRunner$$anon$1.next(PythonRDD.scala:152)
	at org.apache.spark.InterruptibleIterator.next(InterruptibleIterator.scala:43)
	at scala.collection.Iterator$$anon$11.next(Iterator.scala:409)
	at scala.collection.Iterator$$anon$12.next(Iterator.scala:444)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1336)
	at org.apache.spark.api.python.PythonRDD$.writeIteratorToStream(PythonRDD.scala:504)
	at org.apache.spark.api.python.PythonRunner$WriterThread$$anonfun$run$3.apply(PythonRDD.scala:328)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1951)
	at org.apache.spark.api.python.PythonRunner$WriterThread.run(PythonRDD.scala:269)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1435)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1423)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1422)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1422)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1650)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1605)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1594)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:628)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1918)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1931)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1944)
	at org.apache.spark.api.python.PythonRDD$.runJob(PythonRDD.scala:441)
	at org.apache.spark.api.python.PythonRDD.runJob(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:745)
Caused by: java.net.SocketException: Connection reset
	at java.net.SocketInputStream.read(SocketInputStream.java:210)
	at java.net.SocketInputStream.read(SocketInputStream.java:141)
	at java.io.BufferedInputStream.fill(BufferedInputStream.java:246)
	at java.io.BufferedInputStream.read(BufferedInputStream.java:265)
	at java.io.DataInputStream.readInt(DataInputStream.java:387)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:166)
	at org.apache.spark.api.python.PythonRunner$$anon$1.next(PythonRDD.scala:156)
	at org.apache.spark.api.python.PythonRunner$$anon$1.next(PythonRDD.scala:152)
	at org.apache.spark.InterruptibleIterator.next(InterruptibleIterator.scala:43)
	at scala.collection.Iterator$$anon$11.next(Iterator.scala:409)
	at scala.collection.Iterator$$anon$12.next(Iterator.scala:444)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1336)
	at org.apache.spark.api.python.PythonRDD$.writeIteratorToStream(PythonRDD.scala:504)
	at org.apache.spark.api.python.PythonRunner$WriterThread$$anonfun$run$3.apply(PythonRDD.scala:328)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1951)
	at org.apache.spark.api.python.PythonRunner$WriterThread.run(PythonRDD.scala:269)