## Baseline Model - Logistic Regression

In [50]:
%matplotlib inline
import pandas as pd
import numpy as np
from scipy.io import arff
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [54]:
#Loading df1:
df1 = pd.read_pickle('data/pickle_files/df1_pickle')

In [56]:
#Checking dtypes have loaded correctly (should return empty index)
df1.select_dtypes(exclude = ['float64', 'int64']).columns

Index([], dtype='object')

In [57]:
y = df1['bankrupt']
X = df1.drop(columns=['bankrupt'])

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 22)

In [59]:
X_train.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
1627,0.070514,0.46184,0.513540,2.1120,10.171,0.000000,0.095170,1.165300,5.05900,0.538160,...,3519.7,0.014904,0.131030,0.98142,0.00000,13.8500,9.3274,33.321,10.9540,205.49000
5456,-0.092630,0.91246,-0.319460,0.6298,1824.700,-0.036182,-0.097201,0.095944,4.37240,0.087544,...,-3038.8,-0.002691,-1.058100,1.02680,0.55665,30.9950,11.6950,72.037,5.0668,9.57760
6187,0.023850,0.20791,0.321240,2.5451,192.850,0.051259,0.034540,2.739800,1.08440,0.569610,...,113310.0,0.077804,0.041871,0.92220,0.00000,5.7042,4.5756,165.750,2.2021,0.97236
4993,0.075216,0.12744,0.076569,1.6008,-471.720,0.000000,0.075216,6.847100,1.71460,0.872560,...,283.0,0.039609,0.086202,0.96371,0.00000,72.8390,20.2460,27.129,13.4540,2.15400
5461,0.001449,0.49196,0.187110,1.8504,755.690,0.000000,0.001449,1.032700,0.54527,0.508040,...,7989.2,-0.005708,0.002852,1.05220,0.41438,2.1530,4.2073,147.280,2.4783,0.91971

In [60]:
for c in [0.000001, 0.00001, 0.0001, 0.1, 1]:
    regressor = LogisticRegression(C = c)
    regressor.fit(X_train, y_train)
    print("Logistic Regression with C = {:.6f}".format(c))
    print("Training Accuracy: {}".format(regressor.score(X_train, y_train)))
    print("Test Accuracy: {}".format(regressor.score(X_test, y_test)))
    print("----")

Logistic Regression with C = 0.000001
Training Accuracy: 0.9567362428842505
Test Accuracy: 0.960728514513375
----
Logistic Regression with C = 0.000010
Training Accuracy: 0.9586337760910816
Test Accuracy: 0.9612976664769494
----
Logistic Regression with C = 0.000100
Training Accuracy: 0.9573055028462998
Test Accuracy: 0.9612976664769494
----
Logistic Regression with C = 0.100000
Training Accuracy: 0.9552182163187856
Test Accuracy: 0.9590210586226523
----
Logistic Regression with C = 1.000000
Training Accuracy: 0.9550284629981025
Test Accuracy: 0.958451906659078
----

A very simple model is yielding high training and test accuracy