### Time Series Model Development

Exploring Autocorrelation Among Instances. The objective is to explore independence (i.i.d. examples)

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from scipy.io import arff
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl

In [2]:
#Loading df1:
df = pd.read_pickle('data/pickle_files/df_pickle')
#Excluding the duration variable as it cannot be used in our baseline
df = df.drop(columns = ['duration'])

In [3]:
df.columns

Index(['age', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'job',
       'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'day_of_week', 'poutcome', 'y'],
      dtype='object')

In [4]:
df[['month', 'pdays']].groupby(by=['month']).count()

       pdays
month
0       2632
1       6178
2        182
3       7174
4       5318
5        546
6      13769
7       4101
8        718
9        570

In [5]:
#Applying timestamp to dataset

The dataset is already ordered by date (from May 2008 to November 2010)

In [6]:
len(df)

41188

In [7]:
len(df['euribor3m'].unique())

316

In [8]:
res = df.loc[df['euribor3m'].shift(-1) != df['euribor3m']]

In [9]:
len(res)

434

In [10]:
res.head()

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome,y
755,39,2,999,0,1.1,93.994,-36.4,4.857,5191.0,1,1,2,1,2,0,1,6,3,1,0
1145,58,4,999,0,1.1,93.994,-36.4,4.856,5191.0,0,0,6,0,2,0,1,6,4,1,0
1985,36,4,999,0,1.1,93.994,-36.4,4.855,5191.0,1,1,1,1,0,0,1,6,0,1,0
2246,31,4,999,0,1.1,93.994,-36.4,4.857,5191.0,1,1,2,0,2,0,1,6,1,1,0
2654,44,1,999,0,1.1,93.994,-36.4,4.856,5191.0,2,0,6,0,2,0,1,6,3,1,0