In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
credits = pd.read_csv('movies_dataset/tmdb_5000_credits.csv')
movies = pd.read_csv('movies_dataset/tmdb_5000_movies.csv')

In [4]:
obj_movies = movies.select_dtypes(exclude=('int64', 'float64'))

In [11]:
obj_movies.genres[1].from_dict()

AttributeError: 'str' object has no attribute 'from_dict'

In [23]:
pd.DataFrame.from_records(obj_movies.genres.items())

         0                                                  1
0        0  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1        1  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2        2  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3        3  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4        4  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
5        5  [{"id": 14, "name": "Fantasy"}, {"id": 28, "na...
6        6  [{"id": 16, "name": "Animation"}, {"id": 10751...
7        7  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
8        8  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
9        9  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
10      10  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
11      11  [{"id": 12, "name": "Adventure"}, {"id": 28, "...
12      12  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
13      13  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
14      14  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
15      15  [{"id": 12, "name": "Adventure"}, {"id": 10751...
16      16  [{"id": 878, "name": "Science Fiction"}, {"id"...
17      17  [{"id": 12, "name": "Adventure"}, {"id": 28, "...
18      18  [{"id": 28, "name": "Action"}, {"id": 35, "nam...
19      19  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
20      20  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
21      21  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
22      22  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
23      23  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
24      24  [{"id": 12, "name": "Adventure"}, {"id": 18, "...
25      25  [{"id": 18, "name": "Drama"}, {"id": 10749, "n...
26      26  [{"id": 12, "name": "Adventure"}, {"id": 28, "...
27      27  [{"id": 53, "name": "Thriller"}, {"id": 28, "n...
28      28  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
29      29  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
...    ...                                                ...
4773  4773                     [{"id": 35, "name": "Comedy"}]
4774  4774  [{"id": 18, "name": "Drama"}, {"id": 10749, "n...
4775  4775  [{"id": 18, "name": "Drama"}, {"id": 35, "name...
4776  4776  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4777  4777                      [{"id": 18, "name": "Drama"}]
4778  4778  [{"id": 28, "name": "Action"}, {"id": 18, "nam...
4779  4779                     [{"id": 35, "name": "Comedy"}]
4780  4780  [{"id": 53, "name": "Thriller"}, {"id": 80, "n...
4781  4781  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4782  4782  [{"id": 18, "name": "Drama"}, {"id": 10751, "n...
4783  4783  [{"id": 53, "name": "Thriller"}, {"id": 27, "n...
4784  4784  [{"id": 18, "name": "Drama"}, {"id": 35, "name...
4785  4785                      [{"id": 18, "name": "Drama"}]
4786  4786  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4787  4787  [{"id": 878, "name": "Science Fiction"}, {"id"...
4788  4788  [{"id": 27, "name": "Horror"}, {"id": 35, "nam...
4789  4789                      [{"id": 18, "name": "Drama"}]
4790  4790  [{"id": 18, "name": "Drama"}, {"id": 10769, "n...
4791  4791                     [{"id": 27, "name": "Horror"}]
4792  4792  [{"id": 80, "name": "Crime"}, {"id": 27, "name...
4793  4793                      [{"id": 18, "name": "Drama"}]
4794  4794  [{"id": 53, "name": "Thriller"}, {"id": 27, "n...
4795  4795                      [{"id": 18, "name": "Drama"}]
4796  4796  [{"id": 878, "name": "Science Fiction"}, {"id"...
4797  4797  [{"id": 10769, "name": "Foreign"}, {"id": 53, ...
4798  4798  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799  4799  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800  4800  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801  4801                                                 []
4802  4802                [{"id": 99, "name": "Documentary"}]

[4803 rows x 2 columns]

In [30]:
pd.DataFrame.from_records(obj_movies.genres.values.tolist()).stack().reset_index()

        level_0  level_1  0
0             0        0  [
1             0        1  {
2             0        2  "
3             0        3  i
4             0        4  d
5             0        5  "
6             0        6  :
7             0        7
8             0        8  2
9             0        9  8
10            0       10  ,
11            0       11
12            0       12  "
13            0       13  n
14            0       14  a
15            0       15  m
16            0       16  e
17            0       17  "
18            0       18  :
19            0       19
20            0       20  "
21            0       21  A
22            0       22  c
23            0       23  t
24            0       24  i
25            0       25  o
26            0       26  n
27            0       27  "
28            0       28  }
29            0       29  ,
...         ...      ... ..
380761     4802        5  "
380762     4802        6  :
380763     4802        7
380764     4802        8  9
380765     4802        9  9
380766     4802       10  ,
380767     4802       11
380768     4802       12  "
380769     4802       13  n
380770     4802       14  a
380771     4802       15  m
380772     4802       16  e
380773     4802       17  "
380774     4802       18  :
380775     4802       19
380776     4802       20  "
380777     4802       21  D
380778     4802       22  o
380779     4802       23  c
380780     4802       24  u
380781     4802       25  m
380782     4802       26  e
380783     4802       27  n
380784     4802       28  t
380785     4802       29  a
380786     4802       30  r
380787     4802       31  y
380788     4802       32  "
380789     4802       33  }
380790     4802       34  ]

[380791 rows x 3 columns]

In [88]:
obj_movies.genres[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [59]:
pd.io.json.json_normalize(obj_movies['genres'], meta = ['id','name'])

AttributeError: 'str' object has no attribute 'itervalues'

In [61]:
pd.read_json([i for i in obj_movies['genres']])

ValueError: Invalid file path or buffer object type: <type 'list'>

In [63]:
obj_movies['genres'].apply(lambda genres: len(genres)).value_counts()

29     371
30     369
63     286
59     285
93     272
62     213
91     192
64     182
61     159
94     156
95     151
90     151
60     141
92     120
124     95
103     79
120     75
96      73
35      68
58      59
102     57
123     57
97      54
89      53
125     51
135     49
66      47
126     43
129     39
88      37
      ...
158      5
104      5
168      5
34       5
196      4
139      4
190      4
197      4
165      3
68       3
170      3
162      3
194      3
151      3
186      2
199      2
189      2
192      2
119      2
221      1
184      1
188      1
200      1
224      1
185      1
138      1
230      1
195      1
74       1
219      1
Name: genres, Length: 105, dtype: int64

In [87]:
for i in obj_movies['genres']:
    pd.DataFrame(pd.io.json.json_normalize(i,['id','name']))

TypeError: string indices must be integers, not str

In [80]:
pd.read_json((obj_movies['genres']).to_json(), orient=obj_movies.index)

/Users/pauldefusco/anaconda2/envs/py27/lib/python2.7/site-packages/pandas/core/indexes/base.py:3846: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = op(self.values, np.asarray(other))

ValueError: If using all scalar values, you must pass an index

In [84]:
pd.io.json.json_normalize(obj_movies.to_json(),['genres',['id','name']])

TypeError: string indices must be integers, not str

In [73]:
for i in obj_movies.genres:
    pd.io.json.json_normalize(i,['id','name'])

TypeError: string indices must be integers, not str