In [1]:
import pandas as pd

In [170]:
sheet1 = pd.read_csv('West_Nile_Virus_by_County2/Sheet 1-Table 1.csv')

In [85]:
sheet3 = pd.read_csv('West_Nile_Virus_by_County2/test2.csv')

In [120]:
sheet1['Year'] = sheet1.Year.astype(str)

In [121]:
sheet3['Year'] = sheet3.Year.astype(str)

In [125]:
print sheet1.dtypes
print sheet3.dtypes

Year              object
Week_Reported      int64
County            object
County Code       object
id                 int64
Positive_Cases     int64
dtype: object
Year          object
Population     int64
County2       object
dtype: object

In [147]:
new = sheet3.merge(sheet1, how='left', left_on = ['County2','Year'], right_on = ['County','Year'])

In [148]:
new.to_csv('output.csv')

In [138]:
1264-2574

-1310

In [174]:
month = []
for i in sheet1['Week_Reported']:
    if i/4 == 1:
        month.append('January')
    elif i/4 == 2:
        month.append('February')
    elif i/4 == 3:
        month.append('March')        
    elif i/4 == 4:
        month.append('April')
    elif i/4 == 5:
        month.append('May')
    elif i/4 == 6:
        month.append('June')        
    elif i/4 == 7:
        month.append('July')
    elif i/4 == 8:
        month.append('August')
    elif i/4 == 9:
        month.append('September')        
    elif i/4 == 10:
        month.append('October')
    elif i/4 == 11:
        month.append('November')
    elif i/4 == 12:
        month.append('December')
    else:
        month.append('December')

In [175]:
sheet1['Month']=month

In [177]:
sheet1.head(3)

,Year,Week_Reported,County,County Code,id,Positive_Cases,Unnamed: 6,Month
0,2006,35,Alameda,Ala,6001,1,NaN,August
1,2006,33,Butte,But,6007,4,NaN,August
2,2006,34,Butte,But,6007,1,NaN,August

In [179]:
sheet1.to_csv('newsheet1.csv')