### Notebook to Explore New Data Sources

Datasources found at https://www.ine.pt/xportal/xmain?xpid=INE&xpgid=ine_princindic

In [1]:
import os
import pandas as pd
import xlrd 
import numpy as np

In [2]:
dirname = 'data/data_augmentation/'
os.listdir(dirname)

['.DS_Store',
 'newhousing_construction_index_monthly_portugal.xlsx',
 'cons_confidence_monthly_portugal.xls',
 'eco_activity_monthly_portugal.xlsx',
 'other_stats_monthly_portugal.xlsx',
 'turnover_index_industry_monthly_portugal.xlsx',
 'railway_passengers_monthly_portugal.xlsx',
 'harmonized_cons_prices_monthly_portugal.xlsx',
 'daily_euribor3m.csv',
 'hotel_guests_monthly_portugal.xlsx',
 'unemployment_monthly_portugal.xlsx',
 'industry_employment_index_monthly_portugal.xlsx']

In [3]:
#cons_confidence_monthly_portugal.xls

In [4]:
cons_conf_df = pd.read_excel(dirname+'cons_confidence_monthly_portugal.xls',
              sheet_name = 'Table', encoding='utf-8')

In [5]:
cons_conf_df.head(10)

,"Statistical table extracted on January 06, 2019 (06:16:19)",Unnamed: 1,Unnamed: 2
0,http://www.ine.pt,NaN,NaN
1,NaN,NaN,NaN
2,NaN,NaN,NaN
3,Data reference period,Consumers confidence indicator (Balance); Monthly,NaN
4,NaN,Place of residence,NaN
5,NaN,Portugal,NaN
6,NaN,PT,NaN
7,NaN,%,NaN
8,December 2018,-2.7,NaN
9,November 2018,-3.4,NaN

In [6]:
cons_conf_df.drop(cons_conf_df.index[[0,1,2,3,4,5,6,7]], inplace=True)

In [7]:
cons_conf_df.columns = ['Date', 'Consumers confidence indicator - monthly balance', 'delete']

In [8]:
cons_conf_df.drop(columns = ['delete'], inplace=True)

In [9]:
cons_conf_df.reset_index(inplace=True)
cons_conf_df.drop('index', axis=1, inplace=True)

In [10]:
end_idx = cons_conf_df.index[-1]
start_idx = cons_conf_df.index[-1] - 4

cons_conf_df.drop(cons_conf_df.index[list(range(start_idx,end_idx))], inplace=True)

In [11]:
cons_conf_df['month'] = [i[0] for i in cons_conf_df['Date'].str.split(' ')]
cons_conf_df['year'] = [i[1] for i in cons_conf_df['Date'].str.split(' ')]

In [12]:
cons_conf_df.isna().sum()

Date                                                0
Consumers confidence indicator - monthly balance    1
month                                               0
year                                                0
dtype: int64

In [13]:
cons_conf_df.dropna(inplace=True)

In [14]:
cons_conf_df.year = pd.to_numeric(cons_conf_df.year, errors = 'coerce').astype(np.int64)

In [15]:
import arrow

In [16]:
dates = []
for i in list(cons_conf_df.Date):
    dates.append(arrow.get(i, 'MMMM YYYY').format('YYYY-MM'))
cons_conf_df['dates'] = dates

In [17]:
cons_conf_df['dates'] = pd.to_datetime(cons_conf_df['dates'])

In [18]:
cons_conf_df = cons_conf_df[(cons_conf_df['dates'] < '2010-11-30') & (cons_conf_df['dates'] > '2008-04-01')]

In [19]:
cons_conf_df.head()

,Date,Consumers confidence indicator - monthly balance,month,year,dates
97,November 2010,-45,November,2010,2010-11-01
98,October 2010,-42.9,October,2010,2010-10-01
99,September 2010,-27.4,September,2010,2010-09-01
100,August 2010,-30.4,August,2010,2010-08-01
101,July 2010,-35.2,July,2010,2010-07-01

In [20]:
cons_conf_df.tail()

,Date,Consumers confidence indicator - monthly balance,month,year,dates
123,September 2008,-24.2,September,2008,2008-09-01
124,August 2008,-29.1,August,2008,2008-08-01
125,July 2008,-36.9,July,2008,2008-07-01
126,June 2008,-36.2,June,2008,2008-06-01
127,May 2008,-28.5,May,2008,2008-05-01

In [21]:
del cons_conf_df['Date']
del cons_conf_df['month']
del cons_conf_df['year']

Importing Other Stats File

In [22]:
other_stats_df = pd.read_excel(dirname+'/other_stats_monthly_portugal.xlsx', sheet_name = 'Table', encoding='utf-8')

In [23]:
other_stats_df.head()

,Data reference period,Place of residence,Expected likelihood to spend money on major purchases over the next 12 months (Balance); Monthly,Unnamed: 3,Opportunity to make major purchases (Balance); Monthly,Unnamed: 5,Expected evolution of unemployment over the next 12 months (Balance); Monthly,Unnamed: 7,Expected change in prices over the next 12 months (Balance); Monthly,Unnamed: 9,...,Unnamed: 11,Evaluation of the economic situation in the country over the last 12 months (Balance); Monthly,Unnamed: 13,Evaluation of the financial situation of households over the last 12 months (Balance); Monthly,Unnamed: 15,Opportunity to save (Balance); Monthly,Unnamed: 17,Household indebtedness level (Balance); Monthly,Unnamed: 19,Expected likelihood to save over the next 12 months (Balance); Monthly
0,NaN,NaN,%,NaN,%,NaN,%,NaN,%,NaN,...,NaN,%,NaN,%,NaN,%,NaN,%,NaN,%
1,December 2018,PT: Portugal,-27.6,NaN,-30.2,NaN,-5.1,NaN,16.6,NaN,...,NaN,3.3,NaN,-4.3,NaN,-19.8,NaN,14,NaN,-19.2
2,November 2018,PT: Portugal,-26.2,NaN,-34,NaN,-5.5,NaN,18.7,NaN,...,NaN,3.5,NaN,-4,NaN,-19.4,NaN,14.3,NaN,-22.3
3,October 2018,PT: Portugal,-25.3,NaN,-31.3,NaN,-5.5,NaN,13.9,NaN,...,NaN,6.5,NaN,-3.3,NaN,-16.5,NaN,13.5,NaN,-16.9
4,September 2018,PT: Portugal,-21.6,NaN,-35.2,NaN,-5,NaN,9.2,NaN,...,NaN,7.7,NaN,-2.1,NaN,-14.8,NaN,15,NaN,-19

In [24]:
other_stats_df = other_stats_df.loc[:, ~other_stats_df.columns.str.contains('^Unnamed')]

In [25]:
other_stats_df.drop(0, inplace = True)

In [26]:
other_stats_df.drop(columns = 'Place of residence', inplace=True)

In [27]:
other_stats_df['month'] = [i[0] for i in other_stats_df['Data reference period'].str.split(' ')]

In [28]:
other_stats_df['year'] = [i[1] for i in other_stats_df['Data reference period'].str.split(' ')]

In [29]:
other_stats_df.rename(columns={'Data reference period':'Date'}, inplace=True)

In [30]:
dates = []
for i in list(other_stats_df.Date):
    dates.append(arrow.get(i, 'MMMM YYYY').format('YYYY-MM'))
other_stats_df['dates'] = dates

In [31]:
other_stats_df['dates'] = pd.to_datetime(other_stats_df['dates'])
other_stats_df = other_stats_df[(other_stats_df['dates'] < '2010-11-30') & (other_stats_df['dates'] > '2008-04-01')]

In [32]:
del other_stats_df['Date']
del other_stats_df['month']
del other_stats_df['year']

In [33]:
other_stats_df.tail()

,Expected likelihood to spend money on major purchases over the next 12 months (Balance); Monthly,Opportunity to make major purchases (Balance); Monthly,Expected evolution of unemployment over the next 12 months (Balance); Monthly,Expected change in prices over the next 12 months (Balance); Monthly,Expected evolution of the economic situation in the country over the next 12 months (Balance); Monthly,Evaluation of the economic situation in the country over the last 12 months (Balance); Monthly,Evaluation of the financial situation of households over the last 12 months (Balance); Monthly,Opportunity to save (Balance); Monthly,Household indebtedness level (Balance); Monthly,Expected likelihood to save over the next 12 months (Balance); Monthly,dates
124,-25,-83.1,38.1,19.7,-24.4,-52.2,-24.8,-43.4,6.3,-23.7,2008-09-01
125,-37,-84.4,44.3,19.2,-28.8,-58.1,-27.7,-48.9,5.7,-31.3,2008-08-01
126,-21.9,-77.5,53.8,43.6,-42.2,-66.8,-35.1,-47.2,4.1,-29.9,2008-07-01
127,-30.1,-76,49.7,50.7,-41.5,-67.8,-39.1,-49.8,3.8,-31,2008-06-01
128,-21.8,-65.1,48.7,52.2,-33.3,-57.1,-28,-37.8,11.6,-21.4,2008-05-01

Importing Economic Activity Index

In [34]:
df = pd.read_excel(dirname+'/eco_activity_monthly_portugal.xlsx', sheet_name = 'Table', encoding='utf-8')
#eco_activity_monthly_portugal.xls

In [35]:
df.head()

,Data reference period,Geographic localization (NUTS - 2013) (1),Unnamed: 2,Economic activity (CAE Rev. 3),Formation of legal persons and equivalent entities (No.) by Geographic localization (NUTS - 2013) and Economic activity (CAE Rev. 3); Monthly,Unnamed: 5,Dissolution of legal persons and equivalent entities (No.) by Geographic localization (NUTS - 2013) and Economic activity (CAE Rev. 3); Monthly
0,NaN,NaN,NaN,NaN,No.,NaN,No.
1,November 2018,Portugal,PT,Total,3651,NaN,1673
2,October 2018,Portugal,PT,Total,3747,NaN,1809
3,September 2018,Portugal,PT,Total,3114,NaN,1146
4,August 2018,Portugal,PT,Total,2720,NaN,983

In [36]:
#Removing unwanted columns
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.drop(0, inplace = True)
#df.drop(columns = 'Place of residence', inplace=True)

#Fixing Date Ranges
df['month'] = [i[0] for i in df['Data reference period'].str.split(' ')]
df['year'] = [i[1] for i in df['Data reference period'].str.split(' ')]
df.rename(columns={'Data reference period':'Date'}, inplace=True)

dates = []
for i in list(df.Date):
    dates.append(arrow.get(i, 'MMMM YYYY').format('YYYY-MM'))
df['dates'] = dates

df['dates'] = pd.to_datetime(df['dates'])
df = df[(df['dates'] <'2010-11-30') & (df['dates'] > '2008-04-01')]
del df['Date']
del df['month']
del df['year']

In [37]:
economic_activity_df = df.copy()

In [38]:
economic_activity_df.drop(economic_activity_df.columns[[0,1]], axis=1, inplace=True)

In [39]:
economic_activity_df.head()

,Formation of legal persons and equivalent entities (No.) by Geographic localization (NUTS - 2013) and Economic activity (CAE Rev. 3); Monthly,Dissolution of legal persons and equivalent entities (No.) by Geographic localization (NUTS - 2013) and Economic activity (CAE Rev. 3); Monthly,dates
97,2052,2908,2010-11-01
98,2194,2570,2010-10-01
99,2238,1310,2010-09-01
100,1739,1479,2010-08-01
101,2188,1647,2010-07-01

In [40]:
df = pd.read_excel(dirname+'/harmonized_cons_prices_monthly_portugal.xlsx', sheet_name = 'Table', encoding='utf-8')
#harmonized_cons_prices_monthly_portugal.xls

In [41]:
#Removing unwanted columns
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.drop(0, inplace = True)
#df.drop(columns = 'Place of residence', inplace=True)

df.drop(1, inplace = True)
df.drop(2, inplace = True)
df.drop(3, inplace = True)

#Fixing Date Ranges
df['month'] = [i[0] for i in df['Data reference period'].str.split(' ')]
df['year'] = [i[1] for i in df['Data reference period'].str.split(' ')]
df.rename(columns={'Data reference period':'Date'}, inplace=True)

dates = []
for i in list(df.Date):
    dates.append(arrow.get(i, 'MMMM YYYY').format('YYYY-MM'))
df['dates'] = dates

df['dates'] = pd.to_datetime(df['dates'])
df = df[(df['dates'] <'2010-11-30') & (df['dates'] > '2008-04-01')]
del df['Date']
del df['month']
del df['year']

In [42]:
df.drop(columns = 'Individual consumption by purpose', inplace=True)

In [43]:
df.head()

,"Harmonized index of consumer prices (HICP, Base - 2015) by Individual consumption by purpose; Monthly",dates
100,93.98,2010-11-01
101,93.91,2010-10-01
102,93.58,2010-09-01
103,93.66,2010-08-01
104,93.79,2010-07-01

In [44]:
cons_price_harm_df = df.copy()

In [45]:
df = pd.read_excel(dirname+'railway_passengers_monthly_portugal.xlsx', sheet_name = 'Table', encoding='utf-8')
#Railways passengers df

In [46]:
df.head()

,Data reference period,Type of traffic,Passengers carried (No.) by heavy railway carrier enterprises by Type of traffic; Monthly (1),Unnamed: 3
0,NaN,NaN,Geographic localization,NaN
1,NaN,NaN,Portugal,NaN
2,NaN,NaN,PT,NaN
3,NaN,NaN,No. (thousands),NaN
4,October 2018,Total,13448,NaN

In [47]:
#Removing unwanted columns
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.drop(0, inplace = True)
#df.drop(columns = 'Place of residence', inplace=True)

df.drop(1, inplace = True)
df.drop(2, inplace = True)
df.drop(3, inplace = True)

#Fixing Date Ranges
df['month'] = [i[0] for i in df['Data reference period'].str.split(' ')]
df['year'] = [i[1] for i in df['Data reference period'].str.split(' ')]
df.rename(columns={'Data reference period':'Date'}, inplace=True)

dates = []
for i in list(df.Date):
    dates.append(arrow.get(i, 'MMMM YYYY').format('YYYY-MM'))
df['dates'] = dates

df['dates'] = pd.to_datetime(df['dates'])
df = df[(df['dates'] <'2010-11-30') & (df['dates'] > '2008-04-01')]
del df['Date']
del df['month']
del df['year']

In [48]:
df.head()

,Type of traffic,Passengers carried (No.) by heavy railway carrier enterprises by Type of traffic; Monthly (1),dates
99,Total,13276,2010-11-01
100,Total,13238,2010-10-01
101,Total,13747,2010-09-01
102,Total,11395,2010-08-01
103,Total,12210,2010-07-01

In [49]:
df.drop(columns = ['Type of traffic'], inplace=True)

In [50]:
rail_pass_df = df.copy()

In [51]:
df = pd.read_excel(dirname+'industry_employment_index_monthly_portugal.xlsx', sheet_name = 'Table', encoding='utf-8')
#Industry employment df

In [52]:
df.head()

,Data reference period,Industrial group,Index of employment in industry - non adjusted (Base - 2010) by Industrial group; Monthly
0,NaN,NaN,Geographic localization
1,NaN,NaN,Portugal
2,NaN,NaN,PT
3,NaN,NaN,-
4,June 2017,Total,99.28

In [53]:
#Removing unwanted columns
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.drop(0, inplace = True)
#df.drop(columns = 'Place of residence', inplace=True)

df.drop(1, inplace = True)
df.drop(2, inplace = True)
df.drop(3, inplace = True)

#Fixing Date Ranges
df['month'] = [i[0] for i in df['Data reference period'].str.split(' ')]
df['year'] = [i[1] for i in df['Data reference period'].str.split(' ')]
df.rename(columns={'Data reference period':'Date'}, inplace=True)

dates = []
for i in list(df.Date):
    dates.append(arrow.get(i, 'MMMM YYYY').format('YYYY-MM'))
df['dates'] = dates

df['dates'] = pd.to_datetime(df['dates'])
df = df[(df['dates'] <'2010-11-30') & (df['dates'] > '2008-04-01')]
del df['Date']
del df['month']
del df['year']

In [54]:
df.head()

,Industrial group,Index of employment in industry - non adjusted (Base - 2010) by Industrial group; Monthly,dates
83,Total,99.67,2010-11-01
84,Total,99.78,2010-10-01
85,Total,100.1,2010-09-01
86,Total,99.72,2010-08-01
87,Total,99.87,2010-07-01

In [55]:
df.drop(columns = ['Industrial group'], inplace=True)

In [56]:
ind_emplmnt_df = df.copy()

In [57]:
df = pd.read_excel(dirname+'newhousing_construction_index_monthly_portugal.xlsx', sheet_name = 'Table', encoding='utf-8')
##newhousing_construction_index_monthly_portugal

In [58]:
df.head()

,Data reference period,Type of construction,New housing construction cost index (Base - 2000) by Geographic localization (Continent) and Type of construction; Monthly,Unnamed: 3
0,NaN,NaN,Geographic localization (Continent),NaN
1,NaN,NaN,Mainland,NaN
2,NaN,NaN,1,NaN
3,NaN,NaN,-,NaN
4,September 2018,Total,141.74,NaN

In [59]:
#Removing unwanted columns
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.drop(0, inplace = True)
#df.drop(columns = 'Place of residence', inplace=True)

df.drop(1, inplace = True)
df.drop(2, inplace = True)
df.drop(3, inplace = True)

#Fixing Date Ranges
df['month'] = [i[0] for i in df['Data reference period'].str.split(' ')]
df['year'] = [i[1] for i in df['Data reference period'].str.split(' ')]
df.rename(columns={'Data reference period':'Date'}, inplace=True)

dates = []
for i in list(df.Date):
    dates.append(arrow.get(i, 'MMMM YYYY').format('YYYY-MM'))
df['dates'] = dates

df['dates'] = pd.to_datetime(df['dates'])
df = df[(df['dates'] <'2010-11-30') & (df['dates'] > '2008-04-01')]
del df['Date']
del df['month']
del df['year']

In [60]:
df.head()

,Type of construction,New housing construction cost index (Base - 2000) by Geographic localization (Continent) and Type of construction; Monthly,dates
98,Total,130.1,2010-11-01
99,Total,129.67,2010-10-01
100,Total,129.78,2010-09-01
101,Total,129.67,2010-08-01
102,Total,129.49,2010-07-01

In [61]:
df.drop(columns = ['Type of construction'], inplace=True)

In [62]:
constr_df = df.copy()

In [63]:
#turnover_index_industry_monthly_portugal

In [64]:
df = pd.read_excel(dirname+'turnover_index_industry_monthly_portugal.xlsx', sheet_name = 'Table', encoding='utf-8')
##turnover_index_industry_monthly_portugal

In [65]:
df.head()

,Data reference period,Industrial group,Index of turnover in industry - non adjusted (Base - 2010) by Industrial group; Monthly
0,NaN,NaN,Geographic localization
1,NaN,NaN,Portugal
2,NaN,NaN,PT
3,NaN,NaN,-
4,June 2017,Total,111.67

In [66]:
#Removing unwanted columns
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.drop(0, inplace = True)
#df.drop(columns = 'Place of residence', inplace=True)

df.drop(1, inplace = True)
df.drop(2, inplace = True)
df.drop(3, inplace = True)

#Fixing Date Ranges
df['month'] = [i[0] for i in df['Data reference period'].str.split(' ')]
df['year'] = [i[1] for i in df['Data reference period'].str.split(' ')]
df.rename(columns={'Data reference period':'Date'}, inplace=True)

dates = []
for i in list(df.Date):
    dates.append(arrow.get(i, 'MMMM YYYY').format('YYYY-MM'))
df['dates'] = dates

df['dates'] = pd.to_datetime(df['dates'])
df = df[(df['dates'] <'2010-11-30') & (df['dates'] > '2008-04-01')]
del df['Date']
del df['month']
del df['year']

In [67]:
df.head()

,Industrial group,Index of turnover in industry - non adjusted (Base - 2010) by Industrial group; Monthly,dates
83,Total,105.64,2010-11-01
84,Total,102.73,2010-10-01
85,Total,106.09,2010-09-01
86,Total,86.87,2010-08-01
87,Total,107.28,2010-07-01

In [68]:
df.drop(columns = ['Industrial group'], inplace=True)

In [69]:
ind_turnover_df = df.copy()

In [70]:
df = pd.read_excel(dirname+'hotel_guests_monthly_portugal.xlsx', sheet_name = 'Table-part1', encoding='utf-8')
##hotel_guests_monthly_portugal

In [71]:
df.head()

,October 2018,Unnamed: 1,September 2018,Unnamed: 3,August 2018,Unnamed: 5,July 2018,Unnamed: 7,June 2018,Unnamed: 9,...,Unnamed: 243,August 2008,Unnamed: 245,July 2008,Unnamed: 247,June 2008,Unnamed: 249,May 2008,Unnamed: 251,April 2008
0,Type (hotel establishment),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Hotel establishments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No.,NaN,No.,NaN,No.,NaN,No.,NaN,No.,NaN,...,NaN,No.,NaN,No.,NaN,No.,NaN,No.,NaN,No.
3,1994399,NaN,2256308,NaN,2484401,NaN,2165363,NaN,2063489,NaN,...,NaN,1687826,NaN,1374044,NaN,1211867,NaN,1345055,NaN,1117347

In [72]:
#Removing unwanted columns
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.drop(0, inplace = True)
#df.drop(columns = 'Place of residence', inplace=True)

df.drop(1, inplace = True)
df.drop(2, inplace = True)

In [73]:
df = df.T

In [74]:
df.reset_index(level=0, inplace=True)

In [75]:
df.columns = ['Data reference period', 'Hotel guests']

In [76]:
df.head()

  Data reference period Hotel guests
0          October 2018      1994399
1        September 2018      2256308
2           August 2018      2484401
3             July 2018      2165363
4             June 2018      2063489

In [77]:
#Fixing Date Ranges
df['month'] = [i[0] for i in df['Data reference period'].str.split(' ')]
df['year'] = [i[1] for i in df['Data reference period'].str.split(' ')]
df.rename(columns={'Data reference period':'Date'}, inplace=True)

dates = []
for i in list(df.Date):
    dates.append(arrow.get(i, 'MMMM YYYY').format('YYYY-MM'))
df['dates'] = dates

df['dates'] = pd.to_datetime(df['dates'])
df = df[(df['dates'] <'2010-11-30') & (df['dates'] > '2008-04-01')]
del df['Date']
del df['month']
del df['year']

In [78]:
df.head()

   Hotel guests      dates
95       796123 2010-11-01
96      1274543 2010-10-01
97      1467151 2010-09-01
98      1763417 2010-08-01
99      1464846 2010-07-01

In [79]:
hotel_guests_df = df.copy()

In [80]:
df = pd.read_excel(dirname+'unemployment_monthly_portugal.xlsx', sheet_name = 'Table', encoding='utf-8')
##turnover_index_industry_monthly_portugal

In [81]:
df.head()

,Data reference period (1),Age group,Unemployment rate (%) of active population aged between 15 and 74 years old by Age group; Monthly
0,NaN,NaN,Place of residence
1,NaN,NaN,Portugal
2,NaN,NaN,PT
3,NaN,NaN,%
4,October 2018,Total,6.8

In [82]:
#Removing unwanted columns
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.drop(0, inplace = True)
#df.drop(columns = 'Place of residence', inplace=True)

df.drop(1, inplace = True)
df.drop(2, inplace = True)
df.drop(3, inplace = True)

#Fixing Date Ranges
df['month'] = [i[0] for i in df['Data reference period (1)'].str.split(' ')]
df['year'] = [i[1] for i in df['Data reference period (1)'].str.split(' ')]
df.rename(columns={'Data reference period (1)':'Date'}, inplace=True)

dates = []
for i in list(df.Date):
    dates.append(arrow.get(i, 'MMMM YYYY').format('YYYY-MM'))
df['dates'] = dates

df['dates'] = pd.to_datetime(df['dates'])
df = df[(df['dates'] <'2010-11-30') & (df['dates'] > '2008-04-01')]
del df['Date']
del df['month']
del df['year']

In [83]:
df.head()

,Age group,Unemployment rate (%) of active population aged between 15 and 74 years old by Age group; Monthly,dates
99,Total,12.3,2010-11-01
100,Total,12.1,2010-10-01
101,Total,12.2,2010-09-01
102,Total,12.2,2010-08-01
103,Total,11.9,2010-07-01

In [84]:
df.drop(columns = ['Age group'], inplace=True)

In [85]:
unempl_df = df.copy()

Now merging all dataframes above into one

In [86]:
dfs = []
for i in [cons_conf_df,ind_turnover_df,
           other_stats_df,ind_emplmnt_df,
           rail_pass_df,economic_activity_df,
           cons_price_harm_df,constr_df,
           hotel_guests_df, unempl_df]:
    
    i.sort_values(by='dates', inplace=True)
    i.reset_index(drop=True, inplace=True)
    dfs.append(i)

In [87]:
final_df = pd.concat(dfs, axis = 1, keys = 'dates', join = 'inner')

In [88]:
final_df.head()

                                                 d             \
  Consumers confidence indicator - monthly balance      dates
0                                            -28.5 2008-05-01
1                                            -36.2 2008-06-01
2                                            -36.9 2008-07-01
3                                            -29.1 2008-08-01
4                                            -24.2 2008-09-01

                                                                                        a  \
  Index of turnover in industry - non adjusted (Base - 2010) by Industrial group; Monthly
0                                             113.72
1                                             112.92
2                                             126.44
3                                              91.03
4                                             113.34

              \
       dates
0 2008-05-01
1 2008-06-01
2 2008-07-01
3 2008-08-01
4 2008-09-01

                                                                                                 t  \
  Expected likelihood to spend money on major purchases over the next 12 months (Balance); Monthly
0                                              -21.8
1                                              -30.1
2                                              -21.9
3                                                -37
4                                                -25

                                                          \
  Opportunity to make major purchases (Balance); Monthly
0                                              -65.1
1                                                -76
2                                              -77.5
3                                              -84.4
4                                              -83.1

                                                                                 \
  Expected evolution of unemployment over the next 12 months (Balance); Monthly
0                                               48.7
1                                               49.7
2                                               53.8
3                                               44.3
4                                               38.1

                                                                        \
  Expected change in prices over the next 12 months (Balance); Monthly
0                                               52.2
1                                               50.7
2                                               43.6
3                                               19.2
4                                               19.7

                                                                                                          \
  Expected evolution of the economic situation in the country over the next 12 months (Balance); Monthly
0                                              -33.3
1                                              -41.5
2                                              -42.2
3                                              -28.8
4                                              -24.4

                                                                                                  \
  Evaluation of the economic situation in the country over the last 12 months (Balance); Monthly
0                                              -57.1
1                                              -67.8
2                                              -66.8
3                                              -58.1
4                                              -52.2

                                                                                                  \
  Evaluation of the financial situation of households over the last 12 months (Balance); Monthly
0                                                -28
1                                              -39.1
2                                              -35.1
3                                              -27.7
4                                              -24.8

                                          \
  Opportunity to save (Balance); Monthly
0                                  -37.8
1                                  -49.8
2                                  -47.2
3                                  -48.9
4                                  -43.4

                                                   \
  Household indebtedness level (Balance); Monthly
0                                            11.6
1                                             3.8
2                                             4.1
3                                             5.7
4                                             6.3

                                                                          \
  Expected likelihood to save over the next 12 months (Balance); Monthly
0                                              -21.4
1                                                -31
2                                              -29.9
3                                              -31.3
4                                              -23.7

              \
       dates
0 2008-05-01
1 2008-06-01
2 2008-07-01
3 2008-08-01
4 2008-09-01

                                                                                          e  \
  Index of employment in industry - non adjusted (Base - 2010) by Industrial group; Monthly
0                                             110.04
1                                             109.82
2                                             109.33
3                                             108.93
4                                             108.84

              \
       dates
0 2008-05-01
1 2008-06-01
2 2008-07-01
3 2008-08-01
4 2008-09-01

                                                                                               s  \
  Passengers carried (No.) by heavy railway carrier enterprises by Type of traffic; Monthly (1)
0                                              13908
1                                              13227
2                                              13116
3                                              11753
4                                              13818


       dates
0 2008-05-01
1 2008-06-01
2 2008-07-01
3 2008-08-01
4 2008-09-01

In [89]:
#cleaning up multi index:
final_df.columns = [col[1] for col in final_df.columns]

In [90]:
#Removing the dates duplicates:
dates = final_df.dates

In [91]:
final_df.drop(columns = ['dates'], inplace=True)

In [92]:
final_df['dates'] = dates.iloc[:,1]

In [93]:
#Creating month and year columns for future use:
final_df['month'] = [i.month for i in final_df.dates]
final_df['year'] = [i.year for i in final_df.dates]

Importing the Euribor File from https://www.quandl.com/data/BOF/QS_D_IEUTIO3M-EURIBOR-3-Months-Daily to apply time series to original file ("data" df)

In [95]:
data = pd.read_pickle('data/pickle_files/df_pickle')

In [96]:
res = data.loc[data['euribor3m'].shift(-1) != data['euribor3m']]

In [97]:
#Data quality issue: removing this row from the res df because corresponding value for official euribor rate does not exist:
res.loc[res.euribor3m == 0.835].index

Int64Index([40132], dtype='int64')

In [98]:
res = res.drop(40132, axis = 0)

In [99]:
#Data quality issue: removing this row from the res df because corresponding value for official euribor rate does not exist:
res.loc[res.euribor3m == 1.05].index

Int64Index([41079, 41099], dtype='int64')

In [100]:
res = res.drop(41099, axis = 0)

In [102]:
df = pd.read_csv(dirname+'daily_euribor3m.csv')

In [104]:
#df.head()

In [105]:
df['year'] = [i[:4] for i in df['Date']]
df['month'] = [i[5:7] for i in df['Date']]
df['day'] = [i[8:10] for i in df['Date']]

In [106]:
df['Date'] = pd.to_datetime(df.Date)

In [107]:
euribor_daily_df = df[(df.Date < '2010-11-30') & (df.Date > '2008-05-01')].sort_index(ascending=False)

In [108]:
#Useful question: how many times within the time period was the euribor the same among sequential days?
print("Number of times the euribor was the same on at least two consecutive days:")
len(euribor_daily_df[euribor_daily_df['Value'].shift(-1) == euribor_daily_df['Value']])

Number of times the euribor was the same on at least two consecutive days:

81

In [109]:
#times = []
for eu, (i, val) in zip(res['euribor3m'], enumerate(euribor_daily_df['Value'])):
    #if eu == val:
    print(eu,i,val)

4.857 0 4.855
4.856 1 4.857
4.855 2 4.857
4.857 3 4.856
4.856 4 4.855
4.859 5 4.855
4.86 6 4.857
4.859 7 4.856
4.8580000000000005 8 4.859
4.856 9 4.86
4.8580000000000005 10 4.859
4.857 11 4.8580000000000005
4.86 12 4.856
4.864 13 4.8580000000000005
4.865 14 4.855
4.864 15 4.857
4.8660000000000005 16 4.857
4.967 17 4.857
4.961 18 4.857
4.959 19 4.86
4.958 20 4.864
4.96 21 4.865
4.961 22 4.864
4.962 23 4.864
4.961 24 4.8660000000000005
4.959 25 4.967
4.958 26 4.961
4.955 27 4.96
4.947 28 4.959
4.955 29 4.958
4.956 30 4.961
4.966 31 4.96
4.959 32 4.961
4.96 33 4.962
4.962 34 4.961
4.963 35 4.959
4.962 36 4.958
4.961 37 4.958
4.957 38 4.958
4.958 39 4.955
4.957 40 4.947
4.96 41 4.947
4.961 42 4.955
4.963 43 4.956
4.962 44 4.966
4.961 45 4.959
4.963 46 4.96
4.968 47 4.962
4.97 48 4.962
4.968 49 4.963
4.967 50 4.962
4.968 51 4.962
4.966 52 4.961
4.965 53 4.957
4.966 54 4.958
4.965 55 4.957
4.9639999999999995 56 4.96
4.963 57 4.961
4.9639999999999995 58 4.963
4.963 59 4.962
4.9639999999999995 60 4.962
4.965 61 4.962
4.9639999999999995 62 4.961
4.962 63 4.963
4.963 64 4.968
5.045 65 4.968
5.0 66 4.97
4.968 67 4.968
4.936 68 4.967
4.921 69 4.968
4.918 70 4.966
4.912 71 4.965
4.86 72 4.966
4.827 73 4.965
4.794 74 4.9639999999999995
4.76 75 4.966
4.7330000000000005 76 4.963
4.7 77 4.963
4.663 78 4.9639999999999995
4.592 79 4.963
4.474 80 4.9639999999999995
4.406000000000001 81 4.965
4.343 82 4.965
4.2860000000000005 83 4.9639999999999995
4.245 84 4.962
4.223 85 4.963
4.191 86 4.961
4.1530000000000005 87 4.961
4.12 88 4.96
4.0760000000000005 89 4.961
4.021 90 4.96
3.9010000000000002 91 4.959
3.8789999999999996 92 4.958
3.853 93 4.959
3.8160000000000003 94 4.958
3.7430000000000003 95 4.958
3.6689999999999996 96 4.9639999999999995
3.563 97 4.968999999999999
3.488 98 4.973
3.428 99 4.9910000000000005
3.3289999999999997 100 5.005
3.282 101 5.029
3.053 102 5.055
1.811 103 5.066
1.7990000000000002 104 5.119
1.778 105 5.142
1.757 106 5.237
1.726 107 5.277
1.703 108 5.291
1.6869999999999998 109 5.33
1.663 110 5.3389999999999995
1.65 111 5.345
1.64 112 5.377000000000001
1.629 113 5.393
1.614 114 5.393
1.6019999999999999 115 5.381
1.584 116 5.318
1.574 117 5.235
1.56 118 5.167999999999999
1.556 119 5.09
1.548 120 5.045
1.538 121 5.0
1.531 122 4.968
1.52 123 4.936
1.51 124 4.921
1.4980000000000002 125 4.918
1.483 126 4.912
1.479 127 4.86
1.466 128 4.827
1.453 129 4.794
1.445 130 4.76
1.435 131 4.7330000000000005
1.423 132 4.7
1.415 133 4.663
1.41 134 4.592
1.405 135 4.474
1.406 136 4.406000000000001
1.4 137 4.343
1.392 138 4.2860000000000005
1.3840000000000001 139 4.245
1.3719999999999999 140 4.223
1.365 141 4.191
1.354 142 4.1530000000000005
1.344 143 4.12
1.334 144 4.0760000000000005
1.327 145 4.021
1.3130000000000002 146 3.97
1.2990000000000002 147 3.937
1.291 148 3.9010000000000002
1.281 149 3.8789999999999996
1.266 150 3.853
1.25 151 3.8160000000000003
1.244 152 3.786
1.2590000000000001 153 3.7430000000000003
1.264 154 3.6689999999999996
1.266 155 3.563
1.27 156 3.488
1.266 157 3.428
1.262 158 3.3760000000000003
1.26 159 3.3289999999999997
1.268 160 3.282
1.281 161 3.2430000000000003
1.286 162 3.2039999999999997
1.268 163 3.155
1.26 164 3.125
1.252 165 3.082
1.244 166 3.053
1.235 167 3.0189999999999997
1.224 168 2.991
1.215 169 2.9730000000000003
1.206 170 2.928
1.099 171 2.892
1.085 172 2.859
1.072 173 2.822
1.0590000000000002 174 2.7969999999999997
1.048 175 2.762
1.044 176 2.7289999999999996
1.0290000000000001 177 2.6919999999999997
1.018 178 2.653
1.0070000000000001 179 2.612
0.996 180 2.572
0.9790000000000001 181 2.51
0.9690000000000001 182 2.4530000000000003
0.9440000000000001 183 2.41
0.937 184 2.37
0.9329999999999999 185 2.312
0.927 186 2.254
0.9209999999999999 187 2.199
0.914 188 2.149
0.9079999999999999 189 2.13
0.903 190 2.115
0.899 191 2.101
0.884 192 2.086
0.883 193 2.077
0.8809999999999999 194 2.064
0.884 195 2.053
0.883 196 2.039
0.879 197 2.022
0.873 198 2.005
0.8690000000000001 199 1.989
0.861 200 1.975
0.8590000000000001 201 1.959
0.8540000000000001 202 1.943
0.851 203 1.9269999999999998
0.8490000000000001 204 1.912
0.843 205 1.9
0.838 206 1.8880000000000001
0.8340000000000001 207 1.875
0.8290000000000001 208 1.867
0.825 209 1.858
0.821 210 1.848
0.8190000000000001 211 1.835
0.813 212 1.825
0.809 213 1.811
0.8029999999999999 214 1.7990000000000002
0.797 215 1.778
0.7879999999999999 216 1.757
0.7809999999999999 217 1.726
0.778 218 1.703
0.773 219 1.6869999999999998
0.7709999999999999 220 1.663
0.77 221 1.65
0.768 222 1.64
0.7659999999999999 223 1.629
0.762 224 1.614
0.755 225 1.6019999999999999
0.7490000000000001 226 1.584
0.743 227 1.574
0.741 228 1.56
0.7390000000000001 229 1.556
0.75 230 1.548
0.753 231 1.538
0.754 232 1.531
0.752 233 1.52
0.7440000000000001 234 1.51
0.74 235 1.4980000000000002
0.741 236 1.483
0.743 237 1.479
0.742 238 1.466
0.74 239 1.453
0.7390000000000001 240 1.445
0.737 241 1.435
0.735 242 1.435
0.733 243 1.423
0.73 244 1.415
0.731 245 1.41
0.728 246 1.405
0.7240000000000001 247 1.405
0.722 248 1.405
0.72 249 1.405
0.722 250 1.406
0.72 251 1.4
0.7190000000000001 252 1.392
0.716 253 1.3840000000000001
0.715 254 1.3719999999999999
0.7140000000000001 255 1.365
0.715 256 1.354
0.716 257 1.344
0.718 258 1.334
0.7190000000000001 259 1.327
0.721 260 1.3130000000000002
0.72 261 1.2990000000000002
0.718 262 1.291
0.7170000000000001 263 1.281
0.715 264 1.266
0.7140000000000001 265 1.25
0.715 266 1.244
0.7120000000000001 267 1.237
0.71 268 1.244
0.7090000000000001 269 1.252
0.708 270 1.2590000000000001
0.706 271 1.264
0.7070000000000001 272 1.266
0.706 273 1.27
0.7070000000000001 274 1.27
0.7 275 1.2690000000000001
0.655 276 1.266
0.654 277 1.262
0.653 278 1.26
0.652 279 1.26
0.6509999999999999 280 1.268
0.65 281 1.281
0.649 282 1.286
0.6459999999999999 283 1.2830000000000001
0.644 284 1.2770000000000001
0.643 285 1.268
0.639 286 1.26
0.637 287 1.252
0.635 288 1.244
0.636 289 1.235
0.635 290 1.224
0.634 291 1.215
0.635 292 1.206
0.638 293 1.195
0.639 294 1.145
0.64 295 1.12
0.642 296 1.1079999999999999
0.644 297 1.099
0.643 298 1.085
0.642 299 1.072
0.644 300 1.0590000000000002
0.645 301 1.048
0.6459999999999999 302 1.044
0.654 303 1.0290000000000001
0.659 304 1.018
0.6629999999999999 305 1.0070000000000001
0.6679999999999999 306 0.996
0.672 307 0.985
0.677 308 0.9790000000000001
0.682 309 0.9690000000000001
0.6829999999999999 310 0.9540000000000001
0.684 311 0.9440000000000001
0.685 312 0.937
0.688 313 0.9329999999999999
0.69 314 0.927
0.6920000000000001 315 0.9209999999999999
0.695 316 0.914
0.6970000000000001 317 0.9079999999999999
0.6990000000000001 318 0.903
0.701 319 0.899
0.7020000000000001 320 0.893
0.7040000000000001 321 0.8859999999999999
0.7070000000000001 322 0.884
0.711 323 0.884
0.713 324 0.883
0.715 325 0.8809999999999999
0.7190000000000001 326 0.884
0.72 327 0.883
0.723 328 0.879
0.727 329 0.873
0.7290000000000001 330 0.8690000000000001
0.732 331 0.861
0.733 332 0.8590000000000001
0.737 333 0.8540000000000001
0.7390000000000001 334 0.851
0.742 335 0.8490000000000001
0.748 336 0.843
0.754 337 0.838
0.7609999999999999 338 0.8340000000000001
0.767 339 0.8290000000000001
0.782 340 0.825
0.79 341 0.821
0.7929999999999999 342 0.8190000000000001
0.797 343 0.813
0.802 344 0.809
0.81 345 0.8029999999999999
0.8220000000000001 346 0.797
0.8270000000000001 347 0.7879999999999999
0.84 348 0.7809999999999999
0.846 349 0.778
0.861 350 0.773
0.87 351 0.7709999999999999
0.8759999999999999 352 0.77
0.8809999999999999 353 0.768
0.884 354 0.7659999999999999
0.885 355 0.762
0.889 356 0.758
0.893 357 0.755
0.8959999999999999 358 0.7490000000000001
0.899 359 0.743
0.8959999999999999 360 0.741
0.898 361 0.7390000000000001
0.899 362 0.75
0.9 363 0.753
0.904 364 0.754
0.905 365 0.752
0.904 366 0.746
0.903 367 0.7440000000000001
0.899 368 0.74
0.898 369 0.741
0.8959999999999999 370 0.743
0.895 371 0.743
0.894 372 0.742
0.8909999999999999 373 0.742
0.89 374 0.74
0.8909999999999999 375 0.7390000000000001
0.889 376 0.7390000000000001
0.89 377 0.737
0.888 378 0.735
0.8859999999999999 379 0.733
0.884 380 0.73
0.883 381 0.731
0.882 382 0.728
0.8809999999999999 383 0.7240000000000001
0.88 384 0.722
0.879 385 0.72
0.878 386 0.722
0.879 387 0.72
0.877 388 0.7190000000000001
0.8759999999999999 389 0.716
0.879 390 0.716
0.8759999999999999 391 0.715
0.879 392 0.715
0.878 393 0.715
0.879 394 0.7140000000000001
0.88 395 0.7140000000000001
0.8859999999999999 396 0.7140000000000001
0.9420000000000001 397 0.715
0.953 398 0.715
0.956 399 0.715
0.9590000000000001 400 0.7140000000000001
0.965 401 0.715
0.972 402 0.716
0.977 403 0.716
0.982 404 0.7170000000000001
0.985 405 0.718
0.987 406 0.7190000000000001
0.993 407 0.72
1.0 408 0.721
1.008 409 0.72
1.016 410 0.718
1.025 411 0.7170000000000001
1.0290000000000001 412 0.716
1.032 413 0.715
1.037 414 0.7140000000000001
1.043 415 0.7140000000000001
1.045 416 0.715
1.047 417 0.715
1.05 418 0.715
1.0490000000000002 419 0.7120000000000001
1.048 420 0.71
1.0490000000000002 421 0.7090000000000001
1.048 422 0.708
1.046 423 0.706
1.044 424 0.7070000000000001
1.041 425 0.706
1.04 426 0.7070000000000001
1.0390000000000001 427 0.7
1.035 428 0.7
1.03 429 0.7
1.031 430 0.6990000000000001
1.028 431 0.6940000000000001

In [110]:
idx_i, idx_k = [],[]

for index_i, i in enumerate(res['euribor3m']):
    for index_k, k in enumerate(euribor_daily_df['Value']):       
        if i == k:
            #print(i,k, index_i, index_k)
            idx_i.append(index_i)
            idx_k.append(index_k)

In [111]:
lst_i = [0]
lst_k = [1]
for i, k in list(zip(idx_i[1:], idx_k[1:])):
    if k not in lst_k:
        if i not in lst_i:
            if i < k & k > max(lst_k):
                print(i,k)
                lst_i.append(i)
                lst_k.append(k)

1 3
2 4
3 6
4 7
5 8
6 9
7 10
8 11
9 12
10 13
11 15
12 19
13 20
14 21
15 22
16 24
17 25
18 26
19 28
20 29
21 31
22 32
23 33
24 34
25 35
26 36
27 39
28 40
29 42
30 43
31 44
32 45
33 46
34 47
35 49
36 50
37 52
38 53
39 54
40 55
41 56
42 57
43 58
44 59
45 62
46 63
47 64
48 66
49 67
50 68
51 69
52 70
53 71
54 72
55 73
56 74
57 76
58 78
59 79
60 80
61 81
62 83
63 84
64 85
65 120
66 121
67 122
68 123
69 124
70 125
71 126
72 127
73 128
74 129
75 130
76 131
77 132
78 133
79 134
80 135
81 136
82 137
83 138
84 139
85 140
86 141
87 142
88 143
89 144
90 145
91 148
92 149
93 150
94 151
95 153
96 154
97 155
98 156
99 157
100 159
101 160
102 166
103 213
104 214
105 215
106 216
107 217
108 218
109 219
110 220
111 221
112 222
113 223
114 224
115 225
116 226
117 227
118 228
119 229
120 230
121 231
122 232
123 233
124 234
125 235
126 236
127 237
128 238
129 239
130 240
131 241
132 243
133 244
134 245
135 246
136 250
137 251
138 252
139 253
140 254
141 255
142 256
143 257
144 258
145 259
146 260
147 261
148 262
149 263
150 264
151 265
152 266
153 270
154 271
155 272
156 273
157 276
158 277
159 278
160 280
161 281
162 282
163 285
164 286
165 287
166 288
167 289
168 290
169 291
170 292
171 297
172 298
173 299
174 300
175 301
176 302
177 303
178 304
179 305
180 306
181 308
182 309
183 311
184 312
185 313
186 314
187 315
188 316
189 317
190 318
191 319
192 322
193 324
194 325
195 326
196 327
197 328
198 329
199 330
200 331
201 332
202 333
203 334
204 335
205 336
206 337
207 338
208 339
209 340
210 341
211 342
212 343
213 344
214 345
215 346
216 347
217 348
218 349
219 350
220 351
221 352
222 353
223 354
224 355
225 357
226 358
227 359
228 360
229 361
230 362
231 363
232 364
233 365
234 367
235 368
236 369
237 370
238 372
239 374
240 375
241 377
242 378
243 379
244 380
245 381
246 382
247 383
248 384
249 385
250 386
251 387
252 388
253 389
254 391
255 394
256 397
257 402
258 405
259 406
260 408
261 409
262 410
263 411
264 413
265 414
266 416
267 419
268 420
269 421
270 422
271 423
272 424
273 425
274 426
275 427
276 469
277 472
278 473
279 474
280 476
281 477
282 478
283 479
284 481
285 482
286 484
287 485
288 487
289 488
290 489
291 491
292 492
293 495
294 496
295 497
296 499
297 500
298 504
299 505
300 507
301 508
302 510
303 511
304 512
305 513
306 515
307 516
308 517
309 518
310 522
311 523
312 524
313 525
314 526
315 527
316 528
317 529
318 532
319 534
320 535
321 536
322 538
323 539
324 540
325 541
326 543
327 544
328 545
329 546
330 547
331 548
332 549
333 550
334 551
335 552
336 553
337 554
338 555
339 556
340 557
341 558
342 559
343 560
344 561
345 562
346 563
347 564
348 565
349 567
350 568
351 569
352 570
353 571
354 572
355 573
356 574
357 575
358 576
359 577
360 578
361 579
362 580
363 581
364 582
365 583
366 584
367 586
368 587
369 588
370 589
371 590
372 591
373 592
374 593
375 594
376 595
377 596
378 598
379 600
380 602
381 603
382 604
383 605
384 606
385 607
386 608
387 609
388 610
389 611
390 612
391 614
392 615
393 617
394 618
395 620
396 621
397 623
398 624
399 625
400 626
401 627
402 628
403 629
404 630
405 631
406 632
407 633
408 634
409 635
410 636
411 637
412 638
413 639
414 640
415 641
416 642
417 645
418 647
419 650
420 651
421 652
422 654
423 655
424 656
425 657
426 658
427 659
428 660
429 661
430 662
431 663

In [112]:
#lst_k is the index for dates that need to be applied to the original dataset:

In [113]:
#resetting the index ahead of merging with original dataframe:
euribor_daily_df.reset_index(drop=1, inplace=True)

In [114]:
euribor = euribor_daily_df.copy()

In [115]:
euribor = euribor.iloc[lst_k,:]

In [116]:
#Final check:
for i,(num,k) in zip(res['euribor3m'], enumerate(euribor['Value'])): 
    print(i,num,k)

4.857 0 4.857
4.856 1 4.856
4.855 2 4.855
4.857 3 4.857
4.856 4 4.856
4.859 5 4.859
4.86 6 4.86
4.859 7 4.859
4.8580000000000005 8 4.8580000000000005
4.856 9 4.856
4.8580000000000005 10 4.8580000000000005
4.857 11 4.857
4.86 12 4.86
4.864 13 4.864
4.865 14 4.865
4.864 15 4.864
4.8660000000000005 16 4.8660000000000005
4.967 17 4.967
4.961 18 4.961
4.959 19 4.959
4.958 20 4.958
4.96 21 4.96
4.961 22 4.961
4.962 23 4.962
4.961 24 4.961
4.959 25 4.959
4.958 26 4.958
4.955 27 4.955
4.947 28 4.947
4.955 29 4.955
4.956 30 4.956
4.966 31 4.966
4.959 32 4.959
4.96 33 4.96
4.962 34 4.962
4.963 35 4.963
4.962 36 4.962
4.961 37 4.961
4.957 38 4.957
4.958 39 4.958
4.957 40 4.957
4.96 41 4.96
4.961 42 4.961
4.963 43 4.963
4.962 44 4.962
4.961 45 4.961
4.963 46 4.963
4.968 47 4.968
4.97 48 4.97
4.968 49 4.968
4.967 50 4.967
4.968 51 4.968
4.966 52 4.966
4.965 53 4.965
4.966 54 4.966
4.965 55 4.965
4.9639999999999995 56 4.9639999999999995
4.963 57 4.963
4.9639999999999995 58 4.9639999999999995
4.963 59 4.963
4.9639999999999995 60 4.9639999999999995
4.965 61 4.965
4.9639999999999995 62 4.9639999999999995
4.962 63 4.962
4.963 64 4.963
5.045 65 5.045
5.0 66 5.0
4.968 67 4.968
4.936 68 4.936
4.921 69 4.921
4.918 70 4.918
4.912 71 4.912
4.86 72 4.86
4.827 73 4.827
4.794 74 4.794
4.76 75 4.76
4.7330000000000005 76 4.7330000000000005
4.7 77 4.7
4.663 78 4.663
4.592 79 4.592
4.474 80 4.474
4.406000000000001 81 4.406000000000001
4.343 82 4.343
4.2860000000000005 83 4.2860000000000005
4.245 84 4.245
4.223 85 4.223
4.191 86 4.191
4.1530000000000005 87 4.1530000000000005
4.12 88 4.12
4.0760000000000005 89 4.0760000000000005
4.021 90 4.021
3.9010000000000002 91 3.9010000000000002
3.8789999999999996 92 3.8789999999999996
3.853 93 3.853
3.8160000000000003 94 3.8160000000000003
3.7430000000000003 95 3.7430000000000003
3.6689999999999996 96 3.6689999999999996
3.563 97 3.563
3.488 98 3.488
3.428 99 3.428
3.3289999999999997 100 3.3289999999999997
3.282 101 3.282
3.053 102 3.053
1.811 103 1.811
1.7990000000000002 104 1.7990000000000002
1.778 105 1.778
1.757 106 1.757
1.726 107 1.726
1.703 108 1.703
1.6869999999999998 109 1.6869999999999998
1.663 110 1.663
1.65 111 1.65
1.64 112 1.64
1.629 113 1.629
1.614 114 1.614
1.6019999999999999 115 1.6019999999999999
1.584 116 1.584
1.574 117 1.574
1.56 118 1.56
1.556 119 1.556
1.548 120 1.548
1.538 121 1.538
1.531 122 1.531
1.52 123 1.52
1.51 124 1.51
1.4980000000000002 125 1.4980000000000002
1.483 126 1.483
1.479 127 1.479
1.466 128 1.466
1.453 129 1.453
1.445 130 1.445
1.435 131 1.435
1.423 132 1.423
1.415 133 1.415
1.41 134 1.41
1.405 135 1.405
1.406 136 1.406
1.4 137 1.4
1.392 138 1.392
1.3840000000000001 139 1.3840000000000001
1.3719999999999999 140 1.3719999999999999
1.365 141 1.365
1.354 142 1.354
1.344 143 1.344
1.334 144 1.334
1.327 145 1.327
1.3130000000000002 146 1.3130000000000002
1.2990000000000002 147 1.2990000000000002
1.291 148 1.291
1.281 149 1.281
1.266 150 1.266
1.25 151 1.25
1.244 152 1.244
1.2590000000000001 153 1.2590000000000001
1.264 154 1.264
1.266 155 1.266
1.27 156 1.27
1.266 157 1.266
1.262 158 1.262
1.26 159 1.26
1.268 160 1.268
1.281 161 1.281
1.286 162 1.286
1.268 163 1.268
1.26 164 1.26
1.252 165 1.252
1.244 166 1.244
1.235 167 1.235
1.224 168 1.224
1.215 169 1.215
1.206 170 1.206
1.099 171 1.099
1.085 172 1.085
1.072 173 1.072
1.0590000000000002 174 1.0590000000000002
1.048 175 1.048
1.044 176 1.044
1.0290000000000001 177 1.0290000000000001
1.018 178 1.018
1.0070000000000001 179 1.0070000000000001
0.996 180 0.996
0.9790000000000001 181 0.9790000000000001
0.9690000000000001 182 0.9690000000000001
0.9440000000000001 183 0.9440000000000001
0.937 184 0.937
0.9329999999999999 185 0.9329999999999999
0.927 186 0.927
0.9209999999999999 187 0.9209999999999999
0.914 188 0.914
0.9079999999999999 189 0.9079999999999999
0.903 190 0.903
0.899 191 0.899
0.884 192 0.884
0.883 193 0.883
0.8809999999999999 194 0.8809999999999999
0.884 195 0.884
0.883 196 0.883
0.879 197 0.879
0.873 198 0.873
0.8690000000000001 199 0.8690000000000001
0.861 200 0.861
0.8590000000000001 201 0.8590000000000001
0.8540000000000001 202 0.8540000000000001
0.851 203 0.851
0.8490000000000001 204 0.8490000000000001
0.843 205 0.843
0.838 206 0.838
0.8340000000000001 207 0.8340000000000001
0.8290000000000001 208 0.8290000000000001
0.825 209 0.825
0.821 210 0.821
0.8190000000000001 211 0.8190000000000001
0.813 212 0.813
0.809 213 0.809
0.8029999999999999 214 0.8029999999999999
0.797 215 0.797
0.7879999999999999 216 0.7879999999999999
0.7809999999999999 217 0.7809999999999999
0.778 218 0.778
0.773 219 0.773
0.7709999999999999 220 0.7709999999999999
0.77 221 0.77
0.768 222 0.768
0.7659999999999999 223 0.7659999999999999
0.762 224 0.762
0.755 225 0.755
0.7490000000000001 226 0.7490000000000001
0.743 227 0.743
0.741 228 0.741
0.7390000000000001 229 0.7390000000000001
0.75 230 0.75
0.753 231 0.753
0.754 232 0.754
0.752 233 0.752
0.7440000000000001 234 0.7440000000000001
0.74 235 0.74
0.741 236 0.741
0.743 237 0.743
0.742 238 0.742
0.74 239 0.74
0.7390000000000001 240 0.7390000000000001
0.737 241 0.737
0.735 242 0.735
0.733 243 0.733
0.73 244 0.73
0.731 245 0.731
0.728 246 0.728
0.7240000000000001 247 0.7240000000000001
0.722 248 0.722
0.72 249 0.72
0.722 250 0.722
0.72 251 0.72
0.7190000000000001 252 0.7190000000000001
0.716 253 0.716
0.715 254 0.715
0.7140000000000001 255 0.7140000000000001
0.715 256 0.715
0.716 257 0.716
0.718 258 0.718
0.7190000000000001 259 0.7190000000000001
0.721 260 0.721
0.72 261 0.72
0.718 262 0.718
0.7170000000000001 263 0.7170000000000001
0.715 264 0.715
0.7140000000000001 265 0.7140000000000001
0.715 266 0.715
0.7120000000000001 267 0.7120000000000001
0.71 268 0.71
0.7090000000000001 269 0.7090000000000001
0.708 270 0.708
0.706 271 0.706
0.7070000000000001 272 0.7070000000000001
0.706 273 0.706
0.7070000000000001 274 0.7070000000000001
0.7 275 0.7
0.655 276 0.655
0.654 277 0.654
0.653 278 0.653
0.652 279 0.652
0.6509999999999999 280 0.6509999999999999
0.65 281 0.65
0.649 282 0.649
0.6459999999999999 283 0.6459999999999999
0.644 284 0.644
0.643 285 0.643
0.639 286 0.639
0.637 287 0.637
0.635 288 0.635
0.636 289 0.636
0.635 290 0.635
0.634 291 0.634
0.635 292 0.635
0.638 293 0.638
0.639 294 0.639
0.64 295 0.64
0.642 296 0.642
0.644 297 0.644
0.643 298 0.643
0.642 299 0.642
0.644 300 0.644
0.645 301 0.645
0.6459999999999999 302 0.6459999999999999
0.654 303 0.654
0.659 304 0.659
0.6629999999999999 305 0.6629999999999999
0.6679999999999999 306 0.6679999999999999
0.672 307 0.672
0.677 308 0.677
0.682 309 0.682
0.6829999999999999 310 0.6829999999999999
0.684 311 0.684
0.685 312 0.685
0.688 313 0.688
0.69 314 0.69
0.6920000000000001 315 0.6920000000000001
0.695 316 0.695
0.6970000000000001 317 0.6970000000000001
0.6990000000000001 318 0.6990000000000001
0.701 319 0.701
0.7020000000000001 320 0.7020000000000001
0.7040000000000001 321 0.7040000000000001
0.7070000000000001 322 0.7070000000000001
0.711 323 0.711
0.713 324 0.713
0.715 325 0.715
0.7190000000000001 326 0.7190000000000001
0.72 327 0.72
0.723 328 0.723
0.727 329 0.727
0.7290000000000001 330 0.7290000000000001
0.732 331 0.732
0.733 332 0.733
0.737 333 0.737
0.7390000000000001 334 0.7390000000000001
0.742 335 0.742
0.748 336 0.748
0.754 337 0.754
0.7609999999999999 338 0.7609999999999999
0.767 339 0.767
0.782 340 0.782
0.79 341 0.79
0.7929999999999999 342 0.7929999999999999
0.797 343 0.797
0.802 344 0.802
0.81 345 0.81
0.8220000000000001 346 0.8220000000000001
0.8270000000000001 347 0.8270000000000001
0.84 348 0.84
0.846 349 0.846
0.861 350 0.861
0.87 351 0.87
0.8759999999999999 352 0.8759999999999999
0.8809999999999999 353 0.8809999999999999
0.884 354 0.884
0.885 355 0.885
0.889 356 0.889
0.893 357 0.893
0.8959999999999999 358 0.8959999999999999
0.899 359 0.899
0.8959999999999999 360 0.8959999999999999
0.898 361 0.898
0.899 362 0.899
0.9 363 0.9
0.904 364 0.904
0.905 365 0.905
0.904 366 0.904
0.903 367 0.903
0.899 368 0.899
0.898 369 0.898
0.8959999999999999 370 0.8959999999999999
0.895 371 0.895
0.894 372 0.894
0.8909999999999999 373 0.8909999999999999
0.89 374 0.89
0.8909999999999999 375 0.8909999999999999
0.889 376 0.889
0.89 377 0.89
0.888 378 0.888
0.8859999999999999 379 0.8859999999999999
0.884 380 0.884
0.883 381 0.883
0.882 382 0.882
0.8809999999999999 383 0.8809999999999999
0.88 384 0.88
0.879 385 0.879
0.878 386 0.878
0.879 387 0.879
0.877 388 0.877
0.8759999999999999 389 0.8759999999999999
0.879 390 0.879
0.8759999999999999 391 0.8759999999999999
0.879 392 0.879
0.878 393 0.878
0.879 394 0.879
0.88 395 0.88
0.8859999999999999 396 0.8859999999999999
0.9420000000000001 397 0.9420000000000001
0.953 398 0.953
0.956 399 0.956
0.9590000000000001 400 0.9590000000000001
0.965 401 0.965
0.972 402 0.972
0.977 403 0.977
0.982 404 0.982
0.985 405 0.985
0.987 406 0.987
0.993 407 0.993
1.0 408 1.0
1.008 409 1.008
1.016 410 1.016
1.025 411 1.025
1.0290000000000001 412 1.0290000000000001
1.032 413 1.032
1.037 414 1.037
1.043 415 1.043
1.045 416 1.045
1.047 417 1.047
1.05 418 1.05
1.0490000000000002 419 1.0490000000000002
1.048 420 1.048
1.0490000000000002 421 1.0490000000000002
1.048 422 1.048
1.046 423 1.046
1.044 424 1.044
1.041 425 1.041
1.04 426 1.04
1.0390000000000001 427 1.0390000000000001
1.035 428 1.035
1.03 429 1.03
1.031 430 1.031
1.028 431 1.028

In [118]:
#euribor.head()

In [119]:
#res.head()

In [120]:
res['temp'] = [i for i in range(len(euribor))]

In [121]:
euribor['temp'] = [i for i in range(len(euribor))]

In [123]:
res2 = res.merge(euribor, how='inner', on='temp')

In [124]:
res2.index = res.index

In [126]:
#res2.head()

In [127]:
res2 = res2[['Date', 'year', 'month_y', 'day']]

In [128]:
res2.index

Int64Index([  755,  1145,  1985,  2246,  2654,  3071,  3521,  3892,  4213,
             4625,
            ...
            41108, 41123, 41129, 41138, 41148, 41157, 41164, 41170, 41178,
            41187],
           dtype='int64', length=432)

In [145]:
data_wtime = res2.merge(data, how='right', right_index=True, left_index=True)

In [146]:
data_wtime[data_wtime.Date.isna() == False]

,Date,year,month_y,day,age,duration,campaign,pdays,previous,emp.var.rate,...,marital,education,default,housing,loan,contact,month,day_of_week,poutcome,y
755,2008-05-05,2008,05,05,39,216,2,999,0,1.1,...,1,2,1,2,0,1,6,3,1,0
1145,2008-05-07,2008,05,07,58,365,4,999,0,1.1,...,0,6,0,2,0,1,6,4,1,0
1985,2008-05-08,2008,05,08,36,291,4,999,0,1.1,...,1,1,1,0,0,1,6,0,1,0
2246,2008-05-12,2008,05,12,31,181,4,999,0,1.1,...,1,2,0,2,0,1,6,1,1,0
2654,2008-05-13,2008,05,13,44,1032,1,999,0,1.1,...,0,6,0,2,0,1,6,3,1,0
3071,2008-05-14,2008,05,14,43,747,3,999,0,1.1,...,1,5,0,2,0,1,6,4,1,0
3521,2008-05-15,2008,05,15,37,377,4,999,0,1.1,...,1,2,0,2,0,1,6,2,1,0
3892,2008-05-16,2008,05,16,51,1187,4,999,0,1.1,...,1,0,0,0,2,1,6,0,1,0
4213,2008-05-19,2008,05,19,42,3078,4,999,0,1.1,...,1,1,1,2,0,1,6,1,1,0
4625,2008-05-20,2008,05,20,48,315,1,999,0,1.1,...,0,3,0,0,0,1,6,3,1,0
5037,2008-05-21,2008,05,21,42,526,8,999,0,1.1,...,1,0,1,0,0,1,6,4,1,0
6888,2008-05-23,2008,05,23,33,619,3,999,0,1.1,...,1,6,1,0,2,1,6,4,1,0
7323,2008-05-29,2008,05,29,59,763,2,999,0,1.1,...,1,0,1,0,0,1,6,2,1,0
7762,2008-05-30,2008,05,30,33,395,2,999,0,1.1,...,1,5,0,0,0,1,6,0,1,0
8135,2008-06-02,2008,06,02,39,432,4,999,0,1.4,...,2,5,1,0,0,1,4,1,1,1
8740,2008-06-03,2008,06,03,26,570,11,999,0,1.4,...,1,3,0,0,2,1,4,4,1,0
9080,2008-06-05,2008,06,05,32,406,2,999,0,1.4,...,2,3,0,0,0,1,4,2,1,0
9471,2008-06-06,2008,06,06,32,1291,3,999,0,1.4,...,1,6,0,2,0,1,4,0,1,0
9779,2008-06-09,2008,06,09,30,115,4,999,0,1.4,...,1,2,0,2,0,1,4,1,1,0
10016,2008-06-11,2008,06,11,32,850,8,999,0,1.4,...,1,3,1,0,0,1,4,4,1,0
10204,2008-06-12,2008,06,12,48,700,2,999,0,1.4,...,1,3,0,2,0,1,4,2,1,0
10471,2008-06-16,2008,06,16,29,335,3,999,0,1.4,...,2,3,1,0,0,1,4,1,1,0
10795,2008-06-17,2008,06,17,55,441,3,999,0,1.4,...,1,6,0,2,0,1,4,3,1,0
11081,2008-06-18,2008,06,18,60,1574,3,999,0,1.4,...,1,6,0,0,0,1,4,4,1,1
11364,2008-06-19,2008,06,19,33,326,5,999,0,1.4,...,2,3,0,2,0,1,4,2,1,0
11933,2008-06-20,2008,06,20,56,988,4,999,0,1.4,...,1,7,0,0,2,1,4,0,1,1
11994,2008-06-23,2008,06,23,39,305,4,999,0,1.4,...,1,0,0,0,0,1,4,4,1,0
12038,2008-06-26,2008,06,26,35,122,6,999,0,1.4,...,1,2,1,2,2,1,4,2,1,0
12136,2008-06-27,2008,06,27,41,450,2,999,0,1.4,...,1,0,0,2,2,1,4,1,1,0
12195,2008-07-01,2008,07,01,42,650,2,999,0,1.4,...,1,6,0,0,2,1,3,3,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40903,2010-10-08,2010,10,08,31,401,2,999,0,-1.1,...,2,5,0,2,0,0,8,0,1,1
40924,2010-10-11,2010,10,11,28,4,1,999,0,-1.1,...,2,2,0,2,0,1,8,1,1,0
40939,2010-10-12,2010,10,12,27,5,1,999,0,-1.1,...,2,3,0,0,0,1,8,3,1,0
40946,2010-10-13,2010,10,13,60,357,2,999,1,-1.1,...,1,0,0,2,0,0,8,4,0,0
40965,2010-10-14,2010,10,14,81,158,1,999,1,-1.1,...,0,0,0,2,0,0,8,2,0,0
40970,2010-10-15,2010,10,15,24,1176,3,3,2,-1.1,...,2,6,0,2,0,0,8,0,2,1
40988,2010-10-18,2010,10,18,44,159,2,999,1,-1.1,...,1,3,0,2,2,0,8,1,0,0
40993,2010-10-19,2010,10,19,50,898,7,11,2,-1.1,...,0,6,0,2,0,1,8,3,2,1
41002,2010-10-20,2010,10,20,45,316,2,999,2,-1.1,...,2,7,0,2,0,0,8,4,0,0
41016,2010-10-21,2010,10,21,37,339,3,3,3,-1.1,...,1,6,0,2,0,0,8,2,2,1
41027,2010-10-22,2010,10,22,37,608,2,12,2,-1.1,...,1,3,0,2,2,0,8,0,0,1
41043,2010-10-25,2010,10,25,38,293,3,999,0,-1.1,...,0,6,0,2,0,1,8,1,1,0
41049,2010-10-26,2010,10,26,21,701,2,999,0,-1.1,...,2,3,0,0,0,0,8,3,1,1
41058,2010-10-27,2010,10,27,65,258,1,3,3,-1.1,...,1,0,0,2,0,0,8,4,2,1
41059,2010-10-28,2010,10,28,42,71,1,999,0,-1.1,...,1,2,0,0,0,1,8,2,1,0
41060,2010-11-02,2010,11,02,46,18,1,999,1,-1.1,...,1,2,0,2,0,1,7,3,0,0
41079,2010-11-04,2010,11,04,51,354,3,6,3,-1.1,...,1,3,0,2,0,0,7,1,2,0
41089,2010-11-09,2010,11,09,50,301,2,7,2,-1.1,...,0,5,0,2,0,1,7,3,2,1
41097,2010-11-10,2010,11,10,34,134,1,3,3,-1.1,...,1,6,0,0,0,0,7,4,2,0
41102,2010-11-11,2010,11,11,45,319,1,999,3,-1.1,...,1,6,0,0,0,0,7,0,0,0
41108,2010-11-15,2010,11,15,64,78,1,3,3,-1.1,...,1,7,0,0,0,0,7,1,2,0
41123,2010-11-16,2010,11,16,36,1556,4,999,0,-1.1,...,2,1,0,0,0,0,7,3,1,1
41129,2010-11-17,2010,11,17,61,508,4,999,0,-1.1,...,1,3,0,0,0,1,7,4,1,0
41138,2010-11-18,2010,11,18,58,344,2,999,0,-1.1,...,1,6,0,2,0,0,7,2,1,1
41148,2010-11-19,2010,11,19,35,397,3,999,0,-1.1,...,2,5,0,2,0,0,7,0,1,1
41157,2010-11-22,2010,11,22,31,159,4,999,0,-1.1,...,2,6,0,0,0,0,7,1,1,0
41164,2010-11-23,2010,11,23,54,1868,2,10,1,-1.1,...,1,5,0,0,0,0,7,3,2,1
41170,2010-11-24,2010,11,24,40,293,2,999,4,-1.1,...,0,6,0,2,0,0,7,4,0,0
41178,2010-11-25,2010,11,25,62,483,2,6,3,-1.1,...,1,6,0,0,0,0,7,2,2,1
41187,2010-11-26,2010,11,26,74,239,3,999,1,-1.1,...,1,5,0,2,0,0,7,0,0,0

In [147]:
data_wtime.Date.fillna(method='bfill', inplace=True)

In [150]:
data_wtime.rename(columns={'month':'month_last_contact', 
                          'day_of_week':'day_of_week_last_contact'},
                 inplace=True)

In [151]:
data_wtime.rename(columns={'month_y':'month'},
                 inplace=True)

In [153]:
#adding values for day, month and year to the complete dataset:
data_wtime['day'] = [i.day for i in data_wtime.Date]
data_wtime['month'] = [i.month for i in data_wtime.Date]
data_wtime['year'] = [i.year for i in data_wtime.Date]

In [167]:
#Just checking cardinality:
print("Cardinality Check: ")
if (len(final_df.merge(data_wtime, on = ['month','year'], how='right')) == len(data_wtime)) == True:
    print("Passed")

Cardinality Check:
Passed

In [169]:
df_w_time_stats = final_df.merge(data_wtime, on = ['month','year'], how='right')

In [171]:
df_w_time_stats.dates.head()

0   2008-05-01
1   2008-05-01
2   2008-05-01
3   2008-05-01
4   2008-05-01
Name: dates, dtype: datetime64[ns]

In [172]:
df_w_time_stats.Date.head()

0   2008-05-05
1   2008-05-05
2   2008-05-05
3   2008-05-05
4   2008-05-05
Name: Date, dtype: datetime64[ns]

In [173]:
#removing duplicate feature:
del df_w_time_stats['dates']

In [175]:
#renaming economy stats features
df_w_time_stats.rename(columns={
    'Consumers confidence indicator - monthly balance':'cons_conf',
       'Index of turnover in industry - non adjusted (Base - 2010) by Industrial group; Monthly':'ind_turnover',
       'Expected likelihood to spend money on major purchases over the next 12 months (Balance); Monthly':'major_purch_expect',
       'Opportunity to make major purchases (Balance); Monthly':'major_purch_opportu',
       'Expected evolution of unemployment over the next 12 months (Balance); Monthly':'unempl_expect',
       'Expected change in prices over the next 12 months (Balance); Monthly':'inflation_delta_expect',
       'Expected evolution of the economic situation in the country over the next 12 months (Balance); Monthly':'economy_expect',
       'Evaluation of the economic situation in the country over the last 12 months (Balance); Monthly':'economy_past',
       'Evaluation of the financial situation of households over the last 12 months (Balance); Monthly':'financial_past',
       'Opportunity to save (Balance); Monthly':'savings_delta_expect',
       'Household indebtedness level (Balance); Monthly':'household_debt_ratio',
       'Expected likelihood to save over the next 12 months (Balance); Monthly':'savings_expect',
       'Index of employment in industry - non adjusted (Base - 2010) by Industrial group; Monthly':'emplmnt_industry_index',
       'Passengers carried (No.) by heavy railway carrier enterprises by Type of traffic; Monthly (1) ':'railway_passengers',
    }, inplace=True)

In [177]:
#making above features numeric:
for i in ['cons_conf', 'ind_turnover', 'major_purch_expect',
       'major_purch_opportu', 'unempl_expect', 'inflation_delta_expect',
       'economy_expect', 'economy_past', 'financial_past',
       'savings_delta_expect', 'household_debt_ratio', 'savings_expect',
       'emplmnt_industry_index', 'railway_passengers']:
    df_w_time_stats[i] = df_w_time_stats[i].astype(float)

In [178]:
#Writing the augmented dataframe out
df_w_time_stats.to_pickle('data/pickle_files/df_pickle_w_time_stats')