### Notebook to Explore New Data Sources

Datasources found at https://www.ine.pt/xportal/xmain?xpid=INE&xpgid=ine_princindic

In [5]:
import os
import pandas as pd
import xlrd

In [81]:
dirname = 'data/data_augmentation'
os.listdir(dirname)

['portu_stats_3.xls',
 'portu_stats_2.xls',
 '.DS_Store',
 'portu_stats_4.xls',
 'portu_stats_9.csv',
 'p_stats_1.csv',
 'portu_stats_7.csv',
 'portu_stats_6.csv',
 'portu_stats_8.xlsx',
 'portu_stats_5.csv']

pandas.read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=True, **kwds)[source]

In [41]:
stats_year_OECD = pd.read_csv(dirname+'/portu_stats_9.csv',   encoding='utf-8',engine='python')

In [42]:
stats_year_OECD.head()

,Country Name,Indicator Name,1960,1961,1962,1963,1964,1965,1966,1967,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 60
0,Portugal,Merchandise imports from low- and middle-incom...,15.426390,13.354617,13.332181,15.464396,16.112869,16.247961,15.528875,17.974534,...,4.184194,4.395259,5.562058,6.885441,8.877135,5.682346,4.221301,2.515061,NaN,NaN
1,Portugal,Merchandise imports from low- and middle-incom...,0.352158,0.925369,0.639806,0.866873,0.646097,0.663404,0.446517,0.542888,...,0.727764,0.884550,0.978640,0.757258,0.913267,1.067268,0.998853,1.120719,NaN,NaN
2,Portugal,Merchandise imports from low- and middle-incom...,6.338850,5.968630,6.501816,6.408669,4.061181,4.741707,3.304227,2.941467,...,2.119282,2.430066,1.791362,3.115886,1.781406,1.915747,1.660651,1.402614,NaN,NaN
3,Portugal,Merchandise imports from low- and middle-incom...,2.372435,2.267154,2.230676,2.399381,2.834916,2.838499,3.482834,3.129010,...,2.836519,3.065394,3.980436,4.014146,2.512504,2.306612,2.698992,3.154460,NaN,NaN
4,Portugal,Merchandise imports from low- and middle-incom...,0.518970,0.493530,0.570638,1.253870,1.991034,2.262099,1.151022,1.016681,...,2.663104,3.342217,4.157495,4.845396,5.385696,4.940146,4.373501,4.920323,NaN,NaN

In [43]:
#Cleaning up bad column import
stats_year_OECD.drop(columns = ['Unnamed: 60'], inplace = True)

In [44]:
stats_year_OECD.columns

Index(['Country Name', 'Indicator Name', '1960', '1961', '1962', '1963',
       '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972',
       '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017'],
      dtype='object')

In [45]:
#Denormalizing the dataframe, will put indicators as columns and use years as index:
stats_year_OECD = stats_year_OECD.T

In [48]:
stats_year_OECD.drop('Country Name', inplace = True)

In [56]:
stats_year_OECD.columns = stats_year_OECD.iloc[0,:]

In [59]:
stats_year_OECD.drop('Indicator Name', inplace = True)

In [61]:
stats_year_OECD = stats_year_OECD.loc['2008':'2013',]

In [62]:
#We are now done with this dataframe!
stats_year_OECD

Indicator Name,Merchandise imports from low- and middle-income economies in Sub-Saharan Africa (% of total merchandise imports),Merchandise imports from low- and middle-income economies in South Asia (% of total merchandise imports),Merchandise imports from low- and middle-income economies in Middle East & North Africa (% of total merchandise imports),Merchandise imports from low- and middle-income economies in Latin America & the Caribbean (% of total merchandise imports),Merchandise imports from low- and middle-income economies in Europe & Central Asia (% of total merchandise imports),Merchandise imports from low- and middle-income economies in East Asia & Pacific (% of total merchandise imports),Merchandise imports from low- and middle-income economies outside region (% of total merchandise imports),Merchandise imports from high-income economies (% of total merchandise imports),Merchandise imports (current US$),Merchandise imports from economies in the Arab World (% of total merchandise imports),...,Permanent cropland (% of land area),Land under cereal production (hectares),Arable land (% of land area),Arable land (hectares per person),Arable land (hectares),Agricultural land (% of land area),Agricultural land (sq. km),Fertilizer consumption (kilograms per hectare of arable land),Fertilizer consumption (% of fertilizer production),"Agricultural machinery, tractors"
2008,4.84061,0.920911,4.07187,3.7137,2.2963,2.77393,18.6173,81.3683,9.44164e+10,4.78827,...,7.90423,365373,13.34,0.11557,1.22021e+06,40.7331,37258.6,155.489,221.452,NaN
2009,4.18419,0.727764,2.11928,2.83652,2.6631,2.82021,15.3511,84.6268,7.16627e+10,2.68708,...,7.75194,339898,13.1126,0.11364,1.20098e+06,40.3492,36955.8,118.566,136.43,NaN
2010,4.39526,0.88455,2.43007,3.06539,3.34222,3.30714,17.4246,82.5164,7.77488e+10,3.29781,...,7.79561,304118,12.5294,0.108537,1.14757e+06,39.897,36541.7,148.957,151.715,NaN
2011,5.56206,0.97864,1.79136,3.98044,4.15749,3.29084,19.7608,80.2157,8.28956e+10,3.65208,...,7.88296,283097,12.3023,0.106726,1.12677e+06,39.8445,36493.6,132.505,130.946,NaN
2012,6.88544,0.757258,3.11589,4.01415,4.8454,3.16234,22.7805,77.2176,7.24293e+10,4.93392,...,7.99214,287943,12.2701,0.106879,1.12382e+06,40.0088,36644.1,150.86,198.855,NaN
2013,8.87713,0.913267,1.78141,2.5125,5.3857,3.26722,22.7372,77.1934,7.57187e+10,3.33619,...,8.1441,314182,12.5971,0.110343,1.15389e+06,40.5729,37164.8,165.355,231.511,NaN

Working with new file now

In [71]:
pd.read_csv(dirname+'/p_stats_1.csv', encoding='utf-8',engine='python')

,Data reference period,"NUTS 2013 (cumulative hierarchy - PT, NUTS I, II, III, CC, FR) - variant 1 (1)",Unnamed: 2,Cost of goods sold (€) of Enterprises by Geographic localization (NUTS - 2013) and Economic activity (Subclass - CAE Rev. 3); Annual (2),Unnamed: 4,Compensations (€) of Enterprises by Geographic localization (NUTS - 2013) and Economic activity (Subclass - CAE Rev. 3); Annual (2),Unnamed: 6,"Enterprises (No.) by Geographic localization (NUTS - 2013), Economic activity (Division - CAE Rev. 3) and Legal form; Annual (2)",Unnamed: 8,Employees (No.) in enterprises by Geographic localization (NUTS - 2013) and Economic activity (Subclass - CAE Rev. 3); Annual (2),...,Debt to equity ratio (No.) of companies by Economic activity (Division - CAE Rev. 3); Annual,Unnamed: 12,Debt ratio (No.) of companies by Economic activity (Division - CAE Rev. 3); Annual,Unnamed: 14,Birth rate (%) of Enterprises by Geographic localization (NUTS - 2013) and Economic activity (Division - CAE Rev. 3); Annual (3),Unnamed: 16,Banks and savings banks establishments (No.) by Geographic localization (NUTS - 2013); Annual,Unnamed: 18,Client deposits interests (€) in other monetary intermediation establishments by Geographic localization (NUTS - 2013); Annual,Unnamed: 20
0,NaN,NaN,NaN,Economic activity (Division - CAE Rev. 3),NaN,Economic activity (Division - CAE Rev. 3),NaN,Economic activity (Division - CAE Rev. 3),NaN,Economic activity (Division - CAE Rev. 3),...,Economic activity (Division - CAE Rev. 3),NaN,Economic activity (Division - CAE Rev. 3),NaN,Economic activity (Division - CAE Rev. 3),NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Total,NaN,Total,NaN,Total,NaN,Total,...,Total,NaN,Total,NaN,Total,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Legal form,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,€,NaN,€,NaN,No.,NaN,No.,...,No.,NaN,No.,NaN,%,NaN,No.,NaN,€ (thousands),NaN
5,2013.0,Portugal,PT,110246585137,*,33818572957,*,1098409,*,2583091,...,2.03,*,0.67,*,18.12,*,5242,NaN,3782820,NaN
6,2012.0,Portugal,PT,108771292878,*,34518747363,*,1065173,*,2643613,...,2.11,*,0.68,*,12.48,*,5571,NaN,4778476,NaN
7,2011.0,Portugal,PT,116487819442,*,37123805289,*,1113559,*,2833721,...,2.06,*,0.67,*,12.73,*,NaN,x,NaN,x
8,2010.0,Portugal,PT,119541058714,*,38065893863,*,1145390,*,2916137,...,1.95,*,0.66,*,11.94,*,NaN,x,NaN,x
9,2009.0,Portugal,PT,114790054645,NaN,37452982758,NaN,1199843,NaN,2958666,...,2.18,NaN,0.69,NaN,12.37,NaN,NaN,x,NaN,x
10,2008.0,Portugal,PT,127280378556,┴,37897858288,┴,1235989,┴,3058847,...,2.26,┴,0.69,┴,14.51,NaN,NaN,x,NaN,x

In [72]:
stats_year_census = pd.read_csv(dirname+'/p_stats_1.csv', encoding='utf-8',engine='python')

In [73]:
stats_year_census = stats_year_census.iloc[5:10]

In [76]:
stats_year_census.set_index('Data reference period', inplace = True)

In [77]:
stats_year_census.head()

,"NUTS 2013 (cumulative hierarchy - PT, NUTS I, II, III, CC, FR) - variant 1 (1)",Unnamed: 2,Cost of goods sold (€) of Enterprises by Geographic localization (NUTS - 2013) and Economic activity (Subclass - CAE Rev. 3); Annual (2),Unnamed: 4,Compensations (€) of Enterprises by Geographic localization (NUTS - 2013) and Economic activity (Subclass - CAE Rev. 3); Annual (2),Unnamed: 6,"Enterprises (No.) by Geographic localization (NUTS - 2013), Economic activity (Division - CAE Rev. 3) and Legal form; Annual (2)",Unnamed: 8,Employees (No.) in enterprises by Geographic localization (NUTS - 2013) and Economic activity (Subclass - CAE Rev. 3); Annual (2),Unnamed: 10,Debt to equity ratio (No.) of companies by Economic activity (Division - CAE Rev. 3); Annual,Unnamed: 12,Debt ratio (No.) of companies by Economic activity (Division - CAE Rev. 3); Annual,Unnamed: 14,Birth rate (%) of Enterprises by Geographic localization (NUTS - 2013) and Economic activity (Division - CAE Rev. 3); Annual (3),Unnamed: 16,Banks and savings banks establishments (No.) by Geographic localization (NUTS - 2013); Annual,Unnamed: 18,Client deposits interests (€) in other monetary intermediation establishments by Geographic localization (NUTS - 2013); Annual,Unnamed: 20
Data reference period,,,,,,,,,,,,,,,,,,,,
2013.0,Portugal,PT,110246585137,*,33818572957,*,1098409,*,2583091,*,2.03,*,0.67,*,18.12,*,5242,NaN,3782820,NaN
2012.0,Portugal,PT,108771292878,*,34518747363,*,1065173,*,2643613,*,2.11,*,0.68,*,12.48,*,5571,NaN,4778476,NaN
2011.0,Portugal,PT,116487819442,*,37123805289,*,1113559,*,2833721,*,2.06,*,0.67,*,12.73,*,NaN,x,NaN,x
2010.0,Portugal,PT,119541058714,*,38065893863,*,1145390,*,2916137,*,1.95,*,0.66,*,11.94,*,NaN,x,NaN,x
2009.0,Portugal,PT,114790054645,NaN,37452982758,NaN,1199843,NaN,2958666,NaN,2.18,NaN,0.69,NaN,12.37,NaN,NaN,x,NaN,x

In [79]:
#Removing unwanted columns created from file:
stats_year_census = stats_year_census.loc[:, ~stats_year_census.columns.str.contains('^Unnamed')]

In [80]:
#We are done with this file as well:
stats_year_census.head()

,"NUTS 2013 (cumulative hierarchy - PT, NUTS I, II, III, CC, FR) - variant 1 (1)",Cost of goods sold (€) of Enterprises by Geographic localization (NUTS - 2013) and Economic activity (Subclass - CAE Rev. 3); Annual (2),Compensations (€) of Enterprises by Geographic localization (NUTS - 2013) and Economic activity (Subclass - CAE Rev. 3); Annual (2),"Enterprises (No.) by Geographic localization (NUTS - 2013), Economic activity (Division - CAE Rev. 3) and Legal form; Annual (2)",Employees (No.) in enterprises by Geographic localization (NUTS - 2013) and Economic activity (Subclass - CAE Rev. 3); Annual (2),Debt to equity ratio (No.) of companies by Economic activity (Division - CAE Rev. 3); Annual,Debt ratio (No.) of companies by Economic activity (Division - CAE Rev. 3); Annual,Birth rate (%) of Enterprises by Geographic localization (NUTS - 2013) and Economic activity (Division - CAE Rev. 3); Annual (3),Banks and savings banks establishments (No.) by Geographic localization (NUTS - 2013); Annual,Client deposits interests (€) in other monetary intermediation establishments by Geographic localization (NUTS - 2013); Annual
Data reference period,,,,,,,,,,
2013.0,Portugal,110246585137,33818572957,1098409,2583091,2.03,0.67,18.12,5242,3782820
2012.0,Portugal,108771292878,34518747363,1065173,2643613,2.11,0.68,12.48,5571,4778476
2011.0,Portugal,116487819442,37123805289,1113559,2833721,2.06,0.67,12.73,NaN,NaN
2010.0,Portugal,119541058714,38065893863,1145390,2916137,1.95,0.66,11.94,NaN,NaN
2009.0,Portugal,114790054645,37452982758,1199843,2958666,2.18,0.69,12.37,NaN,NaN