### Notebook to Explore New Data Sources

Datasources found at https://www.ine.pt/xportal/xmain?xpid=INE&xpgid=ine_princindic

In [323]:
import os
import pandas as pd
import xlrd 
import numpy as np

In [533]:
dirname = 'data/data_augmentation/'
os.listdir(dirname)

['.DS_Store',
 'cons_confidence_monthly_portugal.xls',
 'eco_activity_monthly_portugal.xlsx',
 'other_stats_monthly_portugal.xlsx',
 'harmonized_cons_prices_monthly_portugal.xls',
 'railway_passengers_monthly_portugal.xls',
 'daily_euribor3m.csv',
 'hotel_guests_monthly_portugal.xls',
 'industry_employment_index_monthly_portugal.xls',
 'unemployment_monthly_portugal.xls',
 'newhousing_construction_index_monthly_portugal.xls',
 'turnover_index_industry_monthly_portugal.xls']

In [ ]:
#cons_confidence_monthly_portugal.xls

In [337]:
cons_conf_df = pd.read_excel(dirname+'cons_confidence_monthly_portugal.xls',
              sheet_name = 'Table', encoding='utf-8')

In [338]:
cons_conf_df.head(10)

,"Statistical table extracted on January 06, 2019 (06:16:19)",Unnamed: 1,Unnamed: 2
0,http://www.ine.pt,NaN,NaN
1,NaN,NaN,NaN
2,NaN,NaN,NaN
3,Data reference period,Consumers confidence indicator (Balance); Monthly,NaN
4,NaN,Place of residence,NaN
5,NaN,Portugal,NaN
6,NaN,PT,NaN
7,NaN,%,NaN
8,December 2018,-2.7,NaN
9,November 2018,-3.4,NaN

In [339]:
cons_conf_df.drop(cons_conf_df.index[[0,1,2,3,4,5,6,7]], inplace=True)

In [340]:
cons_conf_df.columns = ['Date', 'Consumers confidence indicator - monthly balance', 'delete']

In [341]:
cons_conf_df.drop(columns = ['delete'], inplace=True)

In [342]:
cons_conf_df.reset_index(inplace=True)
cons_conf_df.drop('index', axis=1, inplace=True)

In [343]:
end_idx = cons_conf_df.index[-1]
start_idx = cons_conf_df.index[-1] - 4

cons_conf_df.drop(cons_conf_df.index[list(range(start_idx,end_idx))], inplace=True)

In [344]:
cons_conf_df['month'] = [i[0] for i in cons_conf_df['Date'].str.split(' ')]
cons_conf_df['year'] = [i[1] for i in cons_conf_df['Date'].str.split(' ')]
#del cons_conf_df['Date']

In [345]:
cons_conf_df.isna().sum()

Date                                                0
Consumers confidence indicator - monthly balance    1
month                                               0
year                                                0
dtype: int64

In [346]:
cons_conf_df.dropna(inplace=True)

In [347]:
cons_conf_df.year = pd.to_numeric(cons_conf_df.year, errors = 'coerce').astype(np.int64)

In [348]:
cons_conf_df = cons_conf_df[(cons_conf_df['year']<=2013)&(cons_conf_df['year']>2007)]

In [336]:
import arrow

In [365]:
dates = []
for i in list(cons_conf_df.Date):
    dates.append(arrow.get(i, 'MMMM YYYY').format('YYYY-MM'))
cons_conf_df['dates'] = dates

In [373]:
cons_conf_df['dates'] = pd.to_datetime(cons_conf_df['dates'])

In [375]:
cons_conf_df = cons_conf_df[(cons_conf_df['dates'] < '2010-11-30') & (cons_conf_df['dates'] > '2008-05-01')]

In [376]:
del cons_conf_df['dates']

Importing Other Stats File

In [479]:
other_stats_df = pd.read_excel(dirname+'/other_stats_monthly_portugal.xlsx', sheet_name = 'Table', encoding='utf-8')

In [480]:
other_stats_df.head()

,Data reference period,Place of residence,Expected likelihood to spend money on major purchases over the next 12 months (Balance); Monthly,Unnamed: 3,Opportunity to make major purchases (Balance); Monthly,Unnamed: 5,Expected evolution of unemployment over the next 12 months (Balance); Monthly,Unnamed: 7,Expected change in prices over the next 12 months (Balance); Monthly,Unnamed: 9,...,Unnamed: 11,Evaluation of the economic situation in the country over the last 12 months (Balance); Monthly,Unnamed: 13,Evaluation of the financial situation of households over the last 12 months (Balance); Monthly,Unnamed: 15,Opportunity to save (Balance); Monthly,Unnamed: 17,Household indebtedness level (Balance); Monthly,Unnamed: 19,Expected likelihood to save over the next 12 months (Balance); Monthly
0,NaN,NaN,%,NaN,%,NaN,%,NaN,%,NaN,...,NaN,%,NaN,%,NaN,%,NaN,%,NaN,%
1,December 2018,PT: Portugal,-27.6,NaN,-30.2,NaN,-5.1,NaN,16.6,NaN,...,NaN,3.3,NaN,-4.3,NaN,-19.8,NaN,14,NaN,-19.2
2,November 2018,PT: Portugal,-26.2,NaN,-34,NaN,-5.5,NaN,18.7,NaN,...,NaN,3.5,NaN,-4,NaN,-19.4,NaN,14.3,NaN,-22.3
3,October 2018,PT: Portugal,-25.3,NaN,-31.3,NaN,-5.5,NaN,13.9,NaN,...,NaN,6.5,NaN,-3.3,NaN,-16.5,NaN,13.5,NaN,-16.9
4,September 2018,PT: Portugal,-21.6,NaN,-35.2,NaN,-5,NaN,9.2,NaN,...,NaN,7.7,NaN,-2.1,NaN,-14.8,NaN,15,NaN,-19

In [481]:
other_stats_df = other_stats_df.loc[:, ~other_stats_df.columns.str.contains('^Unnamed')]

In [482]:
other_stats_df.drop(0, inplace = True)

In [483]:
other_stats_df.drop(columns = 'Place of residence', inplace=True)

In [484]:
other_stats_df['month'] = [i[0] for i in other_stats_df['Data reference period'].str.split(' ')]

In [485]:
other_stats_df['year'] = [i[1] for i in other_stats_df['Data reference period'].str.split(' ')]

In [486]:
other_stats_df.rename(columns={'Data reference period':'Date'}, inplace=True)

In [487]:
dates = []
for i in list(other_stats_df.Date):
    dates.append(arrow.get(i, 'MMMM YYYY').format('YYYY-MM'))
other_stats_df['dates'] = dates

In [488]:
other_stats_df['dates'] = pd.to_datetime(other_stats_df['dates'])
other_stats_df = other_stats_df[(other_stats_df['dates'] < '2010-11-30') & (other_stats_df['dates'] > '2008-05-01')]

In [489]:
del other_stats_df['Date']

Importing Economic Activity Index

In [520]:
df = pd.read_excel(dirname+'/eco_activity_monthly_portugal.xlsx', sheet_name = 'Table', encoding='utf-8')
#eco_activity_monthly_portugal.xls

In [521]:
df.head()

,Data reference period,Geographic localization (NUTS - 2013) (1),Unnamed: 2,Economic activity (CAE Rev. 3),Formation of legal persons and equivalent entities (No.) by Geographic localization (NUTS - 2013) and Economic activity (CAE Rev. 3); Monthly,Unnamed: 5,Dissolution of legal persons and equivalent entities (No.) by Geographic localization (NUTS - 2013) and Economic activity (CAE Rev. 3); Monthly
0,NaN,NaN,NaN,NaN,No.,NaN,No.
1,November 2018,Portugal,PT,Total,3651,NaN,1673
2,October 2018,Portugal,PT,Total,3747,NaN,1809
3,September 2018,Portugal,PT,Total,3114,NaN,1146
4,August 2018,Portugal,PT,Total,2720,NaN,983

In [522]:
#Removing unwanted columns
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.drop(0, inplace = True)
#df.drop(columns = 'Place of residence', inplace=True)

#Fixing Date Ranges
df['month'] = [i[0] for i in df['Data reference period'].str.split(' ')]
df['year'] = [i[1] for i in df['Data reference period'].str.split(' ')]
df.rename(columns={'Data reference period':'Date'}, inplace=True)

dates = []
for i in list(df.Date):
    dates.append(arrow.get(i, 'MMMM YYYY').format('YYYY-MM'))
df['dates'] = dates

df['dates'] = pd.to_datetime(df['dates'])
df = df[(df['dates'] <'2010-11-30') & (df['dates'] > '2008-05-01')]
del df['Date']

In [528]:
economic_activity_df = df.copy()

In [531]:
economic_activity_df.drop(economic_activity_df.columns[[0,1]], axis=1, inplace=True)

In [532]:
economic_activity_df.head()

,Formation of legal persons and equivalent entities (No.) by Geographic localization (NUTS - 2013) and Economic activity (CAE Rev. 3); Monthly,Dissolution of legal persons and equivalent entities (No.) by Geographic localization (NUTS - 2013) and Economic activity (CAE Rev. 3); Monthly,month,year,dates
97,2052,2908,November,2010,2010-11-01
98,2194,2570,October,2010,2010-10-01
99,2238,1310,September,2010,2010-09-01
100,1739,1479,August,2010,2010-08-01
101,2188,1647,July,2010,2010-07-01

In [538]:
df = pd.read_excel(dirname+'/harmonized_cons_prices_monthly_portugal.xlsx', sheet_name = 'Table', encoding='utf-8')
#harmonized_cons_prices_monthly_portugal.xls

In [539]:
#Removing unwanted columns
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.drop(0, inplace = True)
#df.drop(columns = 'Place of residence', inplace=True)

df.drop(1, inplace = True)
df.drop(2, inplace = True)
df.drop(3, inplace = True)

#Fixing Date Ranges
df['month'] = [i[0] for i in df['Data reference period'].str.split(' ')]
df['year'] = [i[1] for i in df['Data reference period'].str.split(' ')]
df.rename(columns={'Data reference period':'Date'}, inplace=True)

dates = []
for i in list(df.Date):
    dates.append(arrow.get(i, 'MMMM YYYY').format('YYYY-MM'))
df['dates'] = dates

df['dates'] = pd.to_datetime(df['dates'])
df = df[(df['dates'] <'2010-11-30') & (df['dates'] > '2008-05-01')]
del df['Date']

In [544]:
df.drop(columns = 'Individual consumption by purpose', inplace=True)

In [546]:
cons_price_harm_df = df.copy()

'railway_passengers_monthly_portugal.xls',
'hotel_guests_monthly_portugal.xls',
'industry_employment_index_monthly_portugal.xls',
'unemployment_monthly_portugal.xls',
'newhousing_construction_index_monthly_portugal.xls',
'turnover_index_industry_monthly_portugal.xls'

Importing the Euribor File from https://www.quandl.com/data/BOF/QS_D_IEUTIO3M-EURIBOR-3-Months-Daily to apply time series to original file

In [279]:
df = pd.read_csv(dirname+'daily_euribor3m.csv')

In [280]:
df.head()

         Date  Value
0  2019-01-03 -0.309
1  2019-01-02 -0.310
2  2018-12-31 -0.309
3  2018-12-27 -0.309
4  2018-12-24 -0.309

In [278]:
data = pd.read_pickle('data/pickle_files/df_pickle')

In [291]:
data.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,marital,education,default,housing,loan,contact,month,day_of_week,poutcome,y
0,56,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,1,0,0,0,0,1,6,1,1,0
1,57,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,1,3,1,0,0,1,6,1,1,0
2,37,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,1,3,0,2,0,1,6,1,1,0
3,40,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,1,1,0,0,0,1,6,1,1,0
4,56,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,1,3,0,0,2,1,6,1,1,0

In [238]:
res = data.loc[data['euribor3m'].shift(-1) != data['euribor3m']]

In [269]:
df['year'] = [i[:4] for i in df['Date']]
df['month'] = [i[5:7] for i in df['Date']]
df['day'] = [i[8:10] for i in df['Date']]

In [284]:
df['Date'] = pd.to_datetime(df.Date)

In [301]:
euribor_daily_df = df[(df.Date < '2010-11-30') & (df.Date > '2008-05-01')].sort_index(ascending=False)

In [307]:
euribor_daily_df.tail(20)

           Date  Value
2084 2010-11-02  1.047
2083 2010-11-03  1.049
2082 2010-11-04  1.050
2081 2010-11-05  1.050
2080 2010-11-08  1.050
2079 2010-11-09  1.049
2078 2010-11-10  1.048
2077 2010-11-11  1.049
2076 2010-11-12  1.049
2075 2010-11-15  1.048
2074 2010-11-16  1.046
2073 2010-11-17  1.044
2072 2010-11-18  1.041
2071 2010-11-19  1.040
2070 2010-11-22  1.039
2069 2010-11-23  1.035
2068 2010-11-24  1.030
2067 2010-11-25  1.031
2066 2010-11-26  1.028
2065 2010-11-29  1.027

In [306]:
res['euribor3m'].tail(20)

41043    1.032
41049    1.037
41058    1.043
41059    1.045
41060    1.047
41079    1.050
41089    1.049
41097    1.048
41099    1.050
41102    1.049
41108    1.048
41123    1.046
41129    1.044
41138    1.041
41148    1.040
41157    1.039
41164    1.035
41170    1.030
41178    1.031
41187    1.028
Name: euribor3m, dtype: float64